DUCUMENTOS/DB_Loginext.json
[{"id":"99424abe.6bb598","type":"tab","label":"LogiNEXT","disabled":false,"info":""},{"id":"307122e2.59942e","type":"inject","z":"99424abe.6bb598","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"300","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":980,"wires":[["83201d1f.2e21","5255cc61.b046b4","f03e82bb.b069f","715099e0.e396a8","ad6b5595.8dbe88","e4dc4cc8.d16d5","91accb73.a54c38","a51b4439.145b08","f155ae5f.8829d","a4b5e5cc.545828","f2cbcb48.629b28","34b5d2d6.b1bc1e","ba10d148.844c2","abb3706c.995f8","a972bada.5f9978","d946f409.a2a718"]]},{"id":"83201d1f.2e21","type":"MSSQL","z":"99424abe.6bb598","mssqlCN":"a6f39ba0.30c088","name":"","outField":"payload","returnType":0,"throwErrors":1,"query":"SET DATEFORMAT DMY\nDECLARE @FEC Date=GetDate()\nSELECT * FROM FT_DB_CarbonPlanTurno(@FEC,1,1)\n","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"none","params":[],"x":420,"y":180,"wires":[["17524e44.4b4eb2"]]},{"id":"17524e44.4b4eb2","type":"function","z":"99424abe.6bb598","name":"Produccion Turno 1","func":"var newMsg1={};\nvar newMsg2={};\n\nnewMsg1.payload=msg.payload[0].Neto;\nnewMsg1.topic='Neto'\n\nnewMsg2.payload=msg.payload[0].Pto;\nnewMsg2.topic='Pto'\n\nreturn [newMsg1,newMsg2];\n\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":650,"y":180,"wires":[["f0495405.5ce2a8"],[]]},{"id":"f0495405.5ce2a8","type":"mqtt out","z":"99424abe.6bb598","name":"cifpl/produccion/general/turno1/real","topic":"cifpl/produccion/general/turno1/real","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":980,"y":160,"wires":[]},{"id":"5255cc61.b046b4","type":"MSSQL","z":"99424abe.6bb598","mssqlCN":"a6f39ba0.30c088","name":"","outField":"payload","returnType":0,"throwErrors":1,"query":"SET DATEFORMAT DMY\nDECLARE @FEC Date=GetDate()\nSELECT * FROM FT_DB_CarbonPlanTurno(@FEC,2,1)\n","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"none","params":[],"x":420,"y":240,"wires":[["4dac5c83.f027e4"]]},{"id":"4dac5c83.f027e4","type":"function","z":"99424abe.6bb598","name":"Produccion Turno 2","func":"var newMsg1={};\nvar newMsg2={};\n\nnewMsg1.payload=msg.payload[0].Neto;\nnewMsg1.topic='Neto'\n\nnewMsg2.payload=msg.payload[0].Pto;\nnewMsg2.topic='Pto'\n\nreturn [newMsg1,newMsg2];\n\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":650,"y":240,"wires":[["d281339b.1ed7f"],[]]},{"id":"d281339b.1ed7f","type":"mqtt out","z":"99424abe.6bb598","name":"cifpl/produccion/general/turno2/real","topic":"cifpl/produccion/general/turno2/real","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":980,"y":220,"wires":[]},{"id":"f03e82bb.b069f","type":"MSSQL","z":"99424abe.6bb598","mssqlCN":"a6f39ba0.30c088","name":"","outField":"payload","returnType":0,"throwErrors":1,"query":"SET DATEFORMAT DMY\nDECLARE @FEC Date=GetDate()\nSELECT * FROM FT_DB_CarbonPlanDia(@FEC,1)\n","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"none","params":[],"x":420,"y":300,"wires":[["f9242dff.82142"]]},{"id":"f9242dff.82142","type":"function","z":"99424abe.6bb598","name":"Produccion Dia","func":"var newMsg1={};\nvar newMsg2={};\n\nnewMsg1.payload=msg.payload[0].Neto;\nnewMsg1.topic='Neto'\n\nnewMsg2.payload=msg.payload[0].Pto;\nnewMsg2.topic='Pto'\n\nreturn [newMsg1,newMsg2];\n\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":640,"y":300,"wires":[["dec5dbaf.e01ad8"],[]]},{"id":"dec5dbaf.e01ad8","type":"mqtt out","z":"99424abe.6bb598","name":"cifpl/produccion/general/dia/real","topic":"cifpl/produccion/general/dia/real","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":970,"y":280,"wires":[]},{"id":"715099e0.e396a8","type":"MSSQL","z":"99424abe.6bb598","mssqlCN":"a6f39ba0.30c088","name":"","outField":"payload","returnType":0,"throwErrors":1,"query":"SET DATEFORMAT DMY\nDECLARE @FEC Date=GetDate()\nSELECT * FROM FT_DB_CarbonPlanMes(@FEC,1)\n","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"none","params":[],"x":420,"y":360,"wires":[["891dad0e.bf34b"]]},{"id":"891dad0e.bf34b","type":"function","z":"99424abe.6bb598","name":"Produccion Mes","func":"var newMsg1={};\nvar newMsg2={};\n\nnewMsg1.payload=msg.payload[0].Neto;\nnewMsg1.topic='Neto'\n\nnewMsg2.payload=msg.payload[0].Pto;\nnewMsg2.topic='Pto'\n\nreturn [newMsg1,newMsg2];\n\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":640,"y":360,"wires":[["48bfdd62.9c6b34"],[]]},{"id":"48bfdd62.9c6b34","type":"mqtt out","z":"99424abe.6bb598","name":"cifpl/produccion/general/mes/real","topic":"cifpl/produccion/general/mes/real","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":980,"y":340,"wires":[]},{"id":"ad6b5595.8dbe88","type":"MSSQL","z":"99424abe.6bb598","mssqlCN":"a6f39ba0.30c088","name":"","outField":"payload","returnType":0,"throwErrors":1,"query":"SET DATEFORMAT DMY\nDECLARE @FEC Date=GetDate()\nSELECT * FROM FT_DB_CarbonPlanAnio(@FEC,1)\n","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"none","params":[],"x":420,"y":420,"wires":[["9030501d.36625"]]},{"id":"9030501d.36625","type":"function","z":"99424abe.6bb598","name":"Produccion Anio","func":"var newMsg1={};\nvar newMsg2={};\n\nnewMsg1.payload=msg.payload[0].Neto;\nnewMsg1.topic='Neto'\n\nnewMsg2.payload=msg.payload[0].Pto;\nnewMsg2.topic='Pto'\n\nreturn [newMsg1,newMsg2];\n\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":640,"y":420,"wires":[["628a8cc0.40a4e4"],[]]},{"id":"628a8cc0.40a4e4","type":"mqtt out","z":"99424abe.6bb598","name":"cifpl/produccion/general/anio/real","topic":"cifpl/produccion/general/anio/real","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":980,"y":400,"wires":[]},{"id":"8b9daee0.2aea2","type":"mqtt out","z":"99424abe.6bb598","name":"cifpl/despachos/general/turno1/real","topic":"cifpl/despachos/general/turno1/real","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":980,"y":460,"wires":[]},{"id":"e4dc4cc8.d16d5","type":"MSSQL","z":"99424abe.6bb598","mssqlCN":"a6f39ba0.30c088","name":"","outField":"payload","returnType":0,"throwErrors":1,"query":"SET DATEFORMAT DMY\nDECLARE @FEC Date=GetDate()\nSELECT * FROM FT_DB_CarbonPlanTurno(@FEC,1,2)\n","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"none","params":[],"x":420,"y":480,"wires":[["22ab589c.b26ec8"]]},{"id":"22ab589c.b26ec8","type":"function","z":"99424abe.6bb598","name":"Despachos Turno 1","func":"var newMsg1={};\nvar newMsg2={};\n\nnewMsg1.payload=msg.payload[0].Neto;\nnewMsg1.topic='Neto'\n\nnewMsg2.payload=msg.payload[0].Pto;\nnewMsg2.topic='Pto'\n\nreturn [newMsg1,newMsg2];\n\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":650,"y":480,"wires":[["8b9daee0.2aea2"],[]]},{"id":"91accb73.a54c38","type":"MSSQL","z":"99424abe.6bb598","mssqlCN":"a6f39ba0.30c088","name":"","outField":"payload","returnType":0,"throwErrors":1,"query":"SET DATEFORMAT DMY\nDECLARE @FEC Date=GetDate()\nSELECT * FROM FT_DB_CarbonPlanMes(@FEC,2)\n","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"none","params":[],"x":420,"y":660,"wires":[["4d82f985.2fd2a8"]]},{"id":"4d82f985.2fd2a8","type":"function","z":"99424abe.6bb598","name":"Despachos Mes","func":"var newMsg1={};\nvar newMsg2={};\n\nnewMsg1.payload=msg.payload[0].Neto;\nnewMsg1.topic='Neto'\n\nnewMsg2.payload=msg.payload[0].Pto;\nnewMsg2.topic='Pto'\n\nreturn [newMsg1,newMsg2];\n\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":640,"y":660,"wires":[["74ada951.933d98"],[]]},{"id":"74ada951.933d98","type":"mqtt out","z":"99424abe.6bb598","name":"cifpl/despachos/general/mes/real","topic":"cifpl/despachos/general/mes/real","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":980,"y":640,"wires":[]},{"id":"a51b4439.145b08","type":"MSSQL","z":"99424abe.6bb598","mssqlCN":"a6f39ba0.30c088","name":"","outField":"payload","returnType":0,"throwErrors":1,"query":"SET DATEFORMAT DMY\nDECLARE @FEC Date=GetDate()\nSELECT * FROM FT_DB_CarbonPlanTurno(@FEC,2,2)\n","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"none","params":[],"x":420,"y":540,"wires":[["51ac4e60.8401a"]]},{"id":"51ac4e60.8401a","type":"function","z":"99424abe.6bb598","name":"Despachos Turno 2","func":"var newMsg1={};\nvar newMsg2={};\n\nnewMsg1.payload=msg.payload[0].Neto;\nnewMsg1.topic='Neto'\n\nnewMsg2.payload=msg.payload[0].Pto;\nnewMsg2.topic='Pto'\n\nreturn [newMsg1,newMsg2];\n\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":650,"y":540,"wires":[["fa745e1d.8be8"],[]]},{"id":"fa745e1d.8be8","type":"mqtt out","z":"99424abe.6bb598","name":"cifpl/despachos/general/turno2/real","topic":"cifpl/despachos/general/turno2/real","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":980,"y":520,"wires":[]},{"id":"f155ae5f.8829d","type":"MSSQL","z":"99424abe.6bb598","mssqlCN":"a6f39ba0.30c088","name":"","outField":"payload","returnType":0,"throwErrors":1,"query":"SET DATEFORMAT DMY\nDECLARE @FEC Date=GetDate()\nSELECT * FROM FT_DB_CarbonPlanDia(@FEC,2)\n","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"none","params":[],"x":420,"y":600,"wires":[["9d4a0874.4795f8"]]},{"id":"9d4a0874.4795f8","type":"function","z":"99424abe.6bb598","name":"Despachos Dia","func":"var newMsg1={};\nvar newMsg2={};\n\nnewMsg1.payload=msg.payload[0].Neto;\nnewMsg1.topic='Neto'\n\nnewMsg2.payload=msg.payload[0].Pto;\nnewMsg2.topic='Pto'\n\nreturn [newMsg1,newMsg2];\n\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":640,"y":600,"wires":[["88971fc9.88887"],[]]},{"id":"88971fc9.88887","type":"mqtt out","z":"99424abe.6bb598","name":"cifpl/despachos/general/dia/real","topic":"cifpl/despachos/general/dia/real","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":970,"y":580,"wires":[]},{"id":"a4b5e5cc.545828","type":"MSSQL","z":"99424abe.6bb598","mssqlCN":"a6f39ba0.30c088","name":"","outField":"payload","returnType":0,"throwErrors":1,"query":"SET DateFormat DMY\nDECLARE @Turno int\nDECLARE @FechaTurno Date\nDECLARE @Fecha Datetime=GetDate()\n\nEXEC PA_FechaTurno_Turno @Fecha, @Turno OUTPUT\nEXEC PA_FechaTurno_FechaTurno @Fecha, @FechaTurno OUTPUT\n\nSELECT   OP.Descripcion,\n(SELECT    ISNULL(SUM(PesoLleno-PesoVacio),0)/1000 \n FROM      Bascula INNER JOIN  Lotes ON Bascula.NumeroTransaccion = Lotes.IdLote INNER JOIN OperadoresMineros ON Lotes.Operador = OperadoresMineros.IdOperador \n WHERE    (Bascula.TransaccionOrigen = 'LT') AND (Bascula.Estado = 'AC') AND (Bascula.FechaTurno = @FechaTurno) AND Lotes.Operador=OP.IdOperador) AS Viajes\nFROM OperadoresMineros AS OP","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"none","params":[],"x":420,"y":740,"wires":[["afb75b9c.ac7558"]]},{"id":"8010d29b.4b053","type":"mqtt out","z":"99424abe.6bb598","name":"cifpl/produccion/operador/1/hora","topic":"cifpl/produccion/operador/1/hora","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":970,"y":720,"wires":[]},{"id":"7d207d09.160a44","type":"mqtt out","z":"99424abe.6bb598","name":"cifpl/produccion/operador/2/hora","topic":"cifpl/produccion/operador/2/hora","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":1250,"y":720,"wires":[]},{"id":"35221a0d.07f676","type":"mqtt out","z":"99424abe.6bb598","name":"cifpl/produccion/operador/3/hora","topic":"cifpl/produccion/operador/3/hora","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":1530,"y":720,"wires":[]},{"id":"f2cbcb48.629b28","type":"MSSQL","z":"99424abe.6bb598","mssqlCN":"a6f39ba0.30c088","name":"","outField":"payload","returnType":0,"throwErrors":1,"query":"SET DateFormat DMY\nDECLARE @Turno int\nDECLARE @FechaTurno Date\nDECLARE @Fecha Datetime=Getdate()\n\nEXEC PA_FechaTurno_Turno @Fecha, @Turno OUTPUT\nEXEC PA_FechaTurno_FechaTurno @Fecha, @FechaTurno OUTPUT\n\nSELECT  ISNULL(Count(*),0) AS Cantidad\nFROM    Bascula INNER JOIN Lotes ON Bascula.NumeroTransaccion = Lotes.IdLote\nWHERE   Bascula.TransaccionOrigen='LT' And  Bascula.Estado='AC'  And FechaTurno=@FechaTurno \n","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"none","params":[],"x":420,"y":820,"wires":[["1d2e2822.890ac8"]]},{"id":"1d2e2822.890ac8","type":"function","z":"99424abe.6bb598","name":"Viajes x Hora x Operador","func":"var newMsg={};\n\nnewMsg.payload=msg.payload[0].Cantidad;\nnewMsg.topic='Operador1'\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":820,"wires":[["2dbf5985.87dad6"]]},{"id":"2dbf5985.87dad6","type":"mqtt out","z":"99424abe.6bb598","name":"cifpl/produccion/operador/notificaciones/1","topic":"cifpl/produccion/operador/notificaciones/1","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":1000,"y":820,"wires":[]},{"id":"8b6d6d1c.549a9","type":"function","z":"99424abe.6bb598","name":"PIE Porcentajes Operadores","func":"var newMsg1 ={}\nvar newMsg2 ={}\nvar newMsg3 ={}\n    \nnewMsg1.payload=msg.payload[0].Viajes\nnewMsg1.topic=msg.payload[0].Descripcion\nnewMsg2.payload=msg.payload[1].Viajes\nnewMsg2.topic=msg.payload[1].Descripcion\nnewMsg3.payload=msg.payload[2].Viajes\nnewMsg3.topic=msg.payload[2].Descripcion\nreturn [newMsg1, newMsg2,newMsg3]\n","outputs":3,"noerr":0,"initialize":"","finalize":"","x":680,"y":880,"wires":[["120aad5c.929033"],["b027fdc3.39377"],["3c106906.ee5256"]],"info":"### ## "},{"id":"34b5d2d6.b1bc1e","type":"MSSQL","z":"99424abe.6bb598","mssqlCN":"a6f39ba0.30c088","name":"","outField":"payload","returnType":0,"throwErrors":1,"query":"SET DateFormat DMY\nDECLARE @Turno int\nDECLARE @FechaTurno Date\nDECLARE @Fecha Datetime=GetDate()\n\nEXEC PA_FechaTurno_Turno @Fecha, @Turno OUTPUT\nEXEC PA_FechaTurno_FechaTurno @Fecha, @FechaTurno OUTPUT\n\nSELECT   OP.Descripcion,\n(SELECT    ISNULL(COUNT(*), 0) AS Viajes \n FROM      Bascula INNER JOIN  Lotes ON Bascula.NumeroTransaccion = Lotes.IdLote INNER JOIN OperadoresMineros ON Lotes.Operador = OperadoresMineros.IdOperador \n WHERE    (Bascula.TransaccionOrigen = 'LT') AND (Bascula.Estado = 'AC') AND (Bascula.FechaTurno = @FechaTurno) AND Lotes.Operador=OP.IdOperador) AS Viajes\nFROM OperadoresMineros AS OP\n\n","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"none","params":[],"x":420,"y":880,"wires":[["8b6d6d1c.549a9"]]},{"id":"120aad5c.929033","type":"mqtt out","z":"99424abe.6bb598","name":"cifpl/produccion/operador/Pie/1","topic":"cifpl/produccion/operador/Pie/1","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":970,"y":860,"wires":[]},{"id":"b027fdc3.39377","type":"mqtt out","z":"99424abe.6bb598","name":"cifpl/produccion/operador/Pie/2","topic":"cifpl/produccion/operador/Pie/2","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":970,"y":900,"wires":[]},{"id":"3c106906.ee5256","type":"mqtt out","z":"99424abe.6bb598","name":"cifpl/produccion/operador/Pie/3","topic":"cifpl/produccion/operador/Pie/3","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":970,"y":940,"wires":[]},{"id":"afb75b9c.ac7558","type":"function","z":"99424abe.6bb598","name":"Produccion x Hora x Operador","func":"var newMsg1 ={}\nvar newMsg2 ={}\nvar newMsg3 ={}\n    \nnewMsg1.payload=msg.payload[0].Viajes\nnewMsg1.topic=msg.payload[0].Descripcion\nnewMsg2.payload=msg.payload[1].Viajes\nnewMsg2.topic=msg.payload[1].Descripcion\nnewMsg3.payload=msg.payload[2].Viajes\nnewMsg3.topic=msg.payload[2].Descripcion\nreturn [newMsg1, newMsg2,newMsg3]\n","outputs":3,"noerr":0,"initialize":"","finalize":"","x":670,"y":740,"wires":[["8010d29b.4b053"],["7d207d09.160a44"],["35221a0d.07f676"]],"info":"### ## "},{"id":"ba10d148.844c2","type":"MSSQL","z":"99424abe.6bb598","mssqlCN":"a6f39ba0.30c088","name":"","outField":"payload","returnType":0,"throwErrors":1,"query":"SET DateFormat DMY\nDECLARE @Turno int\nDECLARE @FechaTurno Date\nDECLARE @Fecha Datetime=GetDate()\n\nEXEC PA_FechaTurno_Turno @Fecha, @Turno OUTPUT\nEXEC PA_FechaTurno_FechaTurno @Fecha, @FechaTurno OUTPUT\n\nSelect Distinct TOP 7 TR.ResumeEn As Tercero,\n (SELECT   ISNULL(SUM(Bascula.PesoLleno-Bascula.PesoVacio)/1000 ,0) \n FROM     Bascula INNER JOIN Ventas ON Bascula.NumeroTransaccion = Ventas.IdVentas INNER JOIN  Terceros ON Ventas.IdCliente = Terceros.IdCliente\n WHERE    (Bascula.TransaccionOrigen = 'DS') AND (Bascula.Estado = 'AC') AND (Bascula.FechaTurno = @FechaTurno) AND Terceros.ResumeEn=TR.ResumeEn) AS Cantidad\nFrom  Terceros AS TR\n","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"none","params":[],"x":420,"y":1060,"wires":[["1585472b.efbf69"]]},{"id":"839272fd.e97","type":"mqtt out","z":"99424abe.6bb598","name":"cifpl/despachos/dia/terceros/1","topic":"cifpl/despachos/dia/terceros/1","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":970,"y":1000,"wires":[]},{"id":"1585472b.efbf69","type":"function","z":"99424abe.6bb598","name":"Despachos x Dia x Tercero","func":"var newMsg1 ={}\nvar newMsg2 ={}\nvar newMsg3 ={}\nvar newMsg4 ={}\nvar newMsg5 ={}\nvar newMsg6 ={}\nvar newMsg7 ={}\n\nnewMsg1.payload=msg.payload[0].Cantidad\nnewMsg1.topic=msg.payload[0].Tercero\nnewMsg2.payload=msg.payload[1].Cantidad\nnewMsg2.topic=msg.payload[1].Tercero\nnewMsg3.payload=msg.payload[2].Cantidad\nnewMsg3.topic=msg.payload[2].Tercero\nnewMsg4.payload=msg.payload[3].Cantidad\nnewMsg4.topic=msg.payload[3].Tercero\nnewMsg5.payload=msg.payload[4].Cantidad\nnewMsg5.topic=msg.payload[4].Tercero\nnewMsg6.payload=msg.payload[5].Cantidad\nnewMsg6.topic=msg.payload[5].Tercero\nnewMsg7.payload=msg.payload[6].Cantidad\nnewMsg7.topic=msg.payload[6].Tercero\n\nreturn [newMsg1, newMsg2,newMsg3,newMsg4, newMsg5,newMsg6,newMsg7]\n","outputs":7,"noerr":0,"initialize":"","finalize":"","x":660,"y":1060,"wires":[["839272fd.e97"],["d6a0a9f8.e2e448"],["998afcf8.2b665"],["311938fd.357b48"],["b131d633.935b18"],["6136e5c2.db5f7c"],["8e54f0bd.1901b"]],"info":"### ## "},{"id":"d6a0a9f8.e2e448","type":"mqtt out","z":"99424abe.6bb598","name":"cifpl/despachos/dia/terceros/2","topic":"cifpl/despachos/dia/terceros/2","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":970,"y":1060,"wires":[]},{"id":"998afcf8.2b665","type":"mqtt out","z":"99424abe.6bb598","name":"cifpl/despachos/dia/terceros/3","topic":"cifpl/despachos/dia/terceros/3","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":970,"y":1120,"wires":[]},{"id":"311938fd.357b48","type":"mqtt out","z":"99424abe.6bb598","name":"cifpl/despachos/dia/terceros/4","topic":"cifpl/despachos/dia/terceros/4","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":1270,"y":1000,"wires":[]},{"id":"b131d633.935b18","type":"mqtt out","z":"99424abe.6bb598","name":"cifpl/despachos/dia/terceros/5","topic":"cifpl/despachos/dia/terceros/5","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":1270,"y":1060,"wires":[]},{"id":"6136e5c2.db5f7c","type":"mqtt out","z":"99424abe.6bb598","name":"cifpl/despachos/dia/terceros/6","topic":"cifpl/despachos/dia/terceros/6","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":1270,"y":1120,"wires":[]},{"id":"8e54f0bd.1901b","type":"mqtt out","z":"99424abe.6bb598","name":"cifpl/despachos/dia/terceros/7","topic":"cifpl/despachos/dia/terceros/7","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":1570,"y":1000,"wires":[]},{"id":"abb3706c.995f8","type":"MSSQL","z":"99424abe.6bb598","mssqlCN":"a6f39ba0.30c088","name":"","outField":"payload","returnType":0,"throwErrors":1,"query":"SET DateFormat DMY\n\nDECLARE @Dia Int=DAY(GETDATE())-1\nDECLARE @FechaINI Datetime=DateAdd(Day,-@Dia,Getdate())\nDECLARE @FechaFIN Datetime=GetDate()\n\nSELECT   Trituradoras.Descripcion, \nSUM(Trituracion.Cantidad) Cantidad, \nSUM(Trituracion.HorasEfectivas) HE, \nSUM(DATEDIFF(hh, TrituradoraParos.FechaInicio, TrituradoraParos.FechaFin)) AS HorasParos,  \nDATEDIFF(hh,@FechaINI,@FechaFIN) AS HorasPto, \nDATEDIFF(hh,@FechaINI,@FechaFIN) * MAX(Trituradoras.ProduccionHora) AS ProduccionPto \n\nFROM     TrituradoraParos INNER JOIN Trituracion ON TrituradoraParos.IdTrituracion = Trituracion.IdTrituracion INNER JOIN Trituradoras ON Trituracion.IdTrituradora = Trituradoras.IdTrituradora \nWHERE    trituracion.FechaInicio>=@FechaINI AND trituracion.FechaCierre<=@FechaFIN  AND Trituradoras.ProduccionHora>0\nGROUP BY Trituradoras.Descripcion ORDER BY Trituradoras.Descripcion","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"none","params":[],"x":420,"y":1580,"wires":[["631c061b.ade608"]]},{"id":"161f13a7.c5883c","type":"mqtt in","z":"99424abe.6bb598","name":"cifpl/app/carpado/datos","topic":"cifpl/app/carpado/datos","qos":"2","datatype":"auto","broker":"1c955f16.8c63a1","x":440,"y":40,"wires":[["24ea4549.6de66a"]]},{"id":"24ea4549.6de66a","type":"debug","z":"99424abe.6bb598","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":40,"wires":[]},{"id":"a972bada.5f9978","type":"MSSQL","z":"99424abe.6bb598","mssqlCN":"a6f39ba0.30c088","name":"","outField":"payload","returnType":0,"throwErrors":1,"query":"SET DateFormat DMY\r\nDECLARE @Turno int\r\nDECLARE @FechaTurno Date\r\nDECLARE @Fecha Datetime=GetDate()\r\n\r\nEXEC PA_FechaTurno_Turno @Fecha, @Turno OUTPUT\r\nEXEC PA_FechaTurno_FechaTurno @Fecha, @FechaTurno OUTPUT\r\n\r\nSELECT  AC.Descripcion,\r\n(SELECT ISNULL(SUM(Bascula.PesoLleno - Bascula.PesoVacio)/1000,0)\r\n FROM   Pilas INNER JOIN Acopios ON Pilas.IdAcopio = Acopios.IdAcopio INNER JOIN  Bascula INNER JOIN\r\n        Traslados ON Bascula.NumeroTransaccion = Traslados.IdTraslado ON Pilas.IdPila = Traslados.PilaDestino\r\nWHERE   (Bascula.TransaccionOrigen = 'TR') AND (Bascula.Estado = 'AC') AND (Bascula.FechaTurno = @FechaTurno) AND Acopios.IdAcopio= AC.IdAcopio) AS Cantidad\r\nFROM  Acopios AS AC\r\nWHERE AC.IdAcopio<>1","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"none","params":[],"x":420,"y":1200,"wires":[["81454818.0bfac8"]]},{"id":"8a0ff26a.fba62","type":"mqtt out","z":"99424abe.6bb598","name":"cifpl/traslados/acopio/tolu","topic":"cifpl/traslados/acopio/tolu","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":950,"y":1180,"wires":[]},{"id":"8c6b315e.a065b","type":"mqtt out","z":"99424abe.6bb598","name":"cifpl/traslados/acopio/river","topic":"cifpl/traslados/acopio/river","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":950,"y":1240,"wires":[]},{"id":"6e89c02.11cfa4","type":"mqtt out","z":"99424abe.6bb598","name":"cifpl/traslados/acopio/sator","topic":"cifpl/traslados/acopio/sator","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":960,"y":1300,"wires":[]},{"id":"81454818.0bfac8","type":"function","z":"99424abe.6bb598","name":"Traslados x Acopio","func":"var newMsg1 ={}\nvar newMsg2 ={}\nvar newMsg3 ={}\n    \nnewMsg1.payload=msg.payload[0].Cantidad\nnewMsg1.topic=msg.payload[0].Descripcion\nnewMsg2.payload=msg.payload[1].Cantidad\nnewMsg2.topic=msg.payload[1].Descripcion\nnewMsg3.payload=msg.payload[2].Cantidad\nnewMsg3.topic=msg.payload[2].Descripcion\nreturn [newMsg1, newMsg2,newMsg3]\n","outputs":3,"noerr":0,"initialize":"","finalize":"","x":650,"y":1200,"wires":[["8a0ff26a.fba62"],["8c6b315e.a065b"],["6e89c02.11cfa4"]],"info":"### ## "},{"id":"d946f409.a2a718","type":"MSSQL","z":"99424abe.6bb598","mssqlCN":"a6f39ba0.30c088","name":"","outField":"payload","returnType":0,"throwErrors":1,"query":"SET DateFormat DMY\nDECLARE @Turno int\nDECLARE @FechaTurno Date\nDECLARE @Fecha Datetime=GetDate()\n\nEXEC PA_FechaTurno_Turno @Fecha, @Turno OUTPUT\nEXEC PA_FechaTurno_FechaTurno @Fecha, @FechaTurno OUTPUT\n\nSelect Distinct TOP 7 TR.ResumeEn As Tercero,\n (SELECT ISNULL(SUM(Bascula.PesoLleno - Bascula.PesoVacio) / 1000, 0) \n  FROM   Bascula INNER JOIN Transportador ON Bascula.IdTransportador = Transportador.IdTransportador\n  WHERE  (Bascula.TransaccionOrigen = 'TR') AND (Bascula.Estado = 'AC') AND (Bascula.FechaTurno = @FechaTurno) AND Transportador.ResumeEN=TR.ResumeEn) AS Cantidad\nFrom  Transportador AS TR\n","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"none","params":[],"x":420,"y":1420,"wires":[["36fe91ed.effdee"]]},{"id":"192b7b95.7eef54","type":"mqtt out","z":"99424abe.6bb598","name":"cifpl/traslados/dia/transportador/1","topic":"cifpl/traslados/dia/transportador/1","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":980,"y":1360,"wires":[]},{"id":"36fe91ed.effdee","type":"function","z":"99424abe.6bb598","name":"Despachos x Dia x Tercero","func":"var newMsg1 ={}\nvar newMsg2 ={}\nvar newMsg3 ={}\nvar newMsg4 ={}\nvar newMsg5 ={}\nvar newMsg6 ={}\nvar newMsg7 ={}\n\nnewMsg1.payload=msg.payload[0].Cantidad\nnewMsg1.topic=msg.payload[0].Tercero\nnewMsg2.payload=msg.payload[1].Cantidad\nnewMsg2.topic=msg.payload[1].Tercero\nnewMsg3.payload=msg.payload[2].Cantidad\nnewMsg3.topic=msg.payload[2].Tercero\nnewMsg4.payload=msg.payload[3].Cantidad\nnewMsg4.topic=msg.payload[3].Tercero\nnewMsg5.payload=msg.payload[4].Cantidad\nnewMsg5.topic=msg.payload[4].Tercero\nnewMsg6.payload=msg.payload[5].Cantidad\nnewMsg6.topic=msg.payload[5].Tercero\nnewMsg7.payload=msg.payload[6].Cantidad\nnewMsg7.topic=msg.payload[6].Tercero\n\nreturn [newMsg1, newMsg2,newMsg3,newMsg4, newMsg5,newMsg6,newMsg7]\n","outputs":7,"noerr":0,"initialize":"","finalize":"","x":660,"y":1420,"wires":[["192b7b95.7eef54"],["b7f87b30.a314d8"],["65cc10f.ae7a2f"],["9f1bac5d.df81b"],["a25d0476.91ee38"],["b251d51e.7c7598"],["b3543546.fe83c8"]],"info":"### ## "},{"id":"b7f87b30.a314d8","type":"mqtt out","z":"99424abe.6bb598","name":"cifpl/traslados/dia/transportador/2","topic":"cifpl/traslados/dia/transportador/2","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":980,"y":1420,"wires":[]},{"id":"65cc10f.ae7a2f","type":"mqtt out","z":"99424abe.6bb598","name":"cifpl/traslados/dia/transportador/3","topic":"cifpl/traslados/dia/transportador/3","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":980,"y":1480,"wires":[]},{"id":"9f1bac5d.df81b","type":"mqtt out","z":"99424abe.6bb598","name":"cifpl/traslados/dia/transportador/4","topic":"cifpl/traslados/dia/transportador/4","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":1280,"y":1360,"wires":[]},{"id":"a25d0476.91ee38","type":"mqtt out","z":"99424abe.6bb598","name":"cifpl/traslados/dia/transportador/5","topic":"cifpl/traslados/dia/transportador/5","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":1280,"y":1420,"wires":[]},{"id":"b251d51e.7c7598","type":"mqtt out","z":"99424abe.6bb598","name":"cifpl/traslados/dia/transportador/6","topic":"cifpl/traslados/dia/transportador/6","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":1280,"y":1480,"wires":[]},{"id":"b3543546.fe83c8","type":"mqtt out","z":"99424abe.6bb598","name":"cifpl/traslados/dia/transportador/7","topic":"cifpl/traslados/dia/transportador/7","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":1580,"y":1360,"wires":[]},{"id":"132de95f.a9f1e7","type":"mqtt in","z":"99424abe.6bb598","name":"cifpl/app/carpado/respuesta","topic":"cifpl/app/carpado/respuesta","qos":"2","datatype":"auto","broker":"1c955f16.8c63a1","x":460,"y":100,"wires":[["24ea4549.6de66a"]]},{"id":"631c061b.ade608","type":"function","z":"99424abe.6bb598","name":"Clasificadoras","func":"var newMsg1 ={}\nvar newMsg2 ={}\nvar newMsg3 ={}\nvar newMsg4 ={}\n\n\nnewMsg1.payload=msg.payload[0].Cantidad\nnewMsg1.topic=msg.payload[0].Tercero\nnewMsg2.payload=msg.payload[1].Cantidad\nnewMsg2.topic=msg.payload[1].Tercero\nnewMsg3.payload=msg.payload[2].Cantidad\nnewMsg3.topic=msg.payload[2].Tercero\nnewMsg4.payload=msg.payload[3].Cantidad\nnewMsg4.topic=msg.payload[3].Tercero\n\n\nreturn [newMsg1, newMsg2,newMsg3,newMsg4]\n","outputs":4,"noerr":0,"initialize":"","finalize":"","x":620,"y":1580,"wires":[["e7da604e.ae491"],["4f84d06c.bacc3"],["ffa41dde.4c3ea"],["e4bd2ed2.c123a"]],"info":"### ## "},{"id":"e7da604e.ae491","type":"mqtt out","z":"99424abe.6bb598","name":"cifpl/clasificadoras/acumulado/1","topic":"cifpl/clasificadoras/acumulado/1","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":970,"y":1560,"wires":[]},{"id":"4f84d06c.bacc3","type":"mqtt out","z":"99424abe.6bb598","name":"cifpl/clasificadoras/acumulado/2","topic":"cifpl/clasificadoras/acumulado/2","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":970,"y":1620,"wires":[]},{"id":"e4bd2ed2.c123a","type":"mqtt out","z":"99424abe.6bb598","name":"cifpl/clasificadoras/acumulado/4","topic":"cifpl/clasificadoras/acumulado/4","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":970,"y":1740,"wires":[]},{"id":"ffa41dde.4c3ea","type":"mqtt out","z":"99424abe.6bb598","name":"cifpl/clasificadoras/acumulado/3","topic":"cifpl/clasificadoras/acumulado/3","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":970,"y":1680,"wires":[]},{"id":"a6f39ba0.30c088","type":"MSSQL-CN","tdsVersion":"7_4","name":"TRACER","server":"LOCALHOST","port":"1433","encyption":true,"trustServerCertificate":true,"database":"TRACER","useUTC":true,"connectTimeout":"15000","requestTimeout":"15000","cancelTimeout":"5000","pool":"5","parseJSON":false,"enableArithAbort":true},{"id":"1c955f16.8c63a1","type":"mqtt-broker","name":"LogiNEXT","broker":"18.229.172.128","port":"1883","clientid":"FrontierNext_Server","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]