DUCUMENTOS/flows (20).json
[{"id":"c22211.f4889df","type":"tab","label":"BaseUno","disabled":false,"info":""},{"id":"99424abe.6bb598","type":"tab","label":"LogiNEXT","disabled":false,"info":""},{"id":"80f1c585.625708","type":"MSSQL-CN","tdsVersion":"7_4","name":"SISMA","server":"127.0.0.1","port":"1433","encyption":true,"trustServerCertificate":true,"database":"BASEUNO","useUTC":true,"connectTimeout":"50000","requestTimeout":"50000","cancelTimeout":"50000","pool":"5","parseJSON":false,"enableArithAbort":true},{"id":"a51e405c.10f64","type":"MSSQL-CN","tdsVersion":"7_4","name":"My SQL Server","server":"192.168.1.38","port":"1433","encyption":false,"database":"testdb","useUTC":false,"connectTimeout":"15000","requestTimeout":"15000","cancelTimeout":"5000","pool":"5","parseJSON":false},{"id":"1c955f16.8c63a1","type":"mqtt-broker","name":"LogiNEXT","broker":"18.229.172.128","port":"1883","clientid":"FrontierNext_Server","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6ea8480d.7b7758","type":"ui_tab","name":"Materiales","icon":"dashboard","disabled":false,"hidden":false},{"id":"4ac05e8.0fbe7a","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Arial,Arial,Helvetica,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"2e1d31a8.e3f0ce","type":"ui_group","name":"Anticipos","tab":"6ea8480d.7b7758","order":2,"disp":true,"width":30,"collapse":false},{"id":"44294a4f.1b0b74","type":"pwsapikey","name":"Edgar6305"},{"id":"515991b1.68876","type":"ui_spacer","name":"spacer","group":"e7d702e5.b1801","order":1,"width":1,"height":1},{"id":"737f79a2.9dc5f8","type":"ui_group","name":"Ordenes de Servicio","tab":"6ea8480d.7b7758","order":2,"disp":true,"width":30,"collapse":false},{"id":"11a46ecc.054d51","type":"ui_group","name":"RQ Ordenes de Servicio","tab":"6ea8480d.7b7758","order":3,"disp":true,"width":30,"collapse":false},{"id":"f42f9d98.feec8","type":"ui_group","name":"Contratos","tab":"6ea8480d.7b7758","order":4,"disp":true,"width":30,"collapse":false},{"id":"8a4ae818.77e338","type":"ui_group","name":"Reparaciones Externas","tab":"6ea8480d.7b7758","order":5,"disp":true,"width":30,"collapse":false},{"id":"b0a0d6a.ae97628","type":"ui_group","name":"Presupuesto","tab":"6ea8480d.7b7758","order":6,"disp":true,"width":30,"collapse":false},{"id":"a1e45da5.29a36","type":"ui_group","name":"Compras","tab":"6ea8480d.7b7758","order":7,"disp":true,"width":30,"collapse":false},{"id":"cc435049.b8bb5","type":"ui_group","name":"Inventarios","tab":"6ea8480d.7b7758","order":8,"disp":true,"width":30,"collapse":false},{"id":"e120d946.46fa68","type":"mqtt-broker","name":"Node-RED","broker":"localhost","port":"1883","clientid":"Node-RED","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d2a16e71.43f47","type":"ui_group","name":"Home","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"f07f2284.66882","type":"ui_group","name":"Debug","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"e01434c2.820e48","type":"ui_tab","name":"BASE UNO","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"cc9e1b09.415948","type":"ui_group","name":"Esteril","tab":"e01434c2.820e48","order":1,"disp":true,"width":30,"collapse":false},{"id":"a6f39ba0.30c088","type":"MSSQL-CN","tdsVersion":"7_4","name":"TRACER","server":"LOCALHOST","port":"1433","encyption":true,"trustServerCertificate":true,"database":"TRACER","useUTC":true,"connectTimeout":"15000","requestTimeout":"15000","cancelTimeout":"5000","pool":"5","parseJSON":false,"enableArithAbort":true},{"id":"1dededbb.05a1d2","type":"ui_group","name":"Disponibilidad y Paros","tab":"e01434c2.820e48","order":3,"disp":true,"width":30,"collapse":false},{"id":"15de3705.68f0d9","type":"ui_group","name":"Carbón","tab":"e01434c2.820e48","order":4,"disp":true,"width":30,"collapse":false},{"id":"6e9fddf6.d04d74","type":"ui_group","name":"Combustible y Pluviometria","tab":"e01434c2.820e48","order":4,"disp":true,"width":30,"collapse":false},{"id":"663ec66d.b1cdf8","type":"ui_group","name":"Pruebas","tab":"e01434c2.820e48","order":5,"disp":true,"width":30,"collapse":false},{"id":"66bf6f0e.df0ee","type":"ui_spacer","name":"spacer","group":"2e1d31a8.e3f0ce","order":5,"width":4,"height":1},{"id":"723bf5b8.33798c","type":"ui_spacer","name":"spacer","group":"2e1d31a8.e3f0ce","order":6,"width":4,"height":1},{"id":"2e2dea76.24c736","type":"ui_spacer","name":"spacer","group":"2e1d31a8.e3f0ce","order":7,"width":4,"height":1},{"id":"7efe1c46.515ce4","type":"ui_spacer","name":"spacer","group":"737f79a2.9dc5f8","order":4,"width":2,"height":1},{"id":"e746db6f.42c378","type":"ui_spacer","name":"spacer","group":"737f79a2.9dc5f8","order":6,"width":7,"height":1},{"id":"721b4bd7.d564e4","type":"ui_spacer","name":"spacer","group":"737f79a2.9dc5f8","order":7,"width":2,"height":1},{"id":"f509f4c0.b35398","type":"ui_spacer","name":"spacer","group":"737f79a2.9dc5f8","order":8,"width":7,"height":1},{"id":"89cc441e.33a528","type":"ui_spacer","name":"spacer","group":"737f79a2.9dc5f8","order":9,"width":2,"height":1},{"id":"fd80f702.8d7238","type":"ui_spacer","name":"spacer","group":"737f79a2.9dc5f8","order":10,"width":7,"height":1},{"id":"d5a89743.f293e8","type":"ui_spacer","name":"spacer","group":"737f79a2.9dc5f8","order":11,"width":3,"height":1},{"id":"833e9956.aa9bc8","type":"ui_spacer","name":"spacer","group":"737f79a2.9dc5f8","order":12,"width":5,"height":1},{"id":"2055aaa.24fa456","type":"ui_spacer","name":"spacer","group":"737f79a2.9dc5f8","order":13,"width":7,"height":1},{"id":"a364e245.1b5d6","type":"ui_spacer","name":"spacer","group":"737f79a2.9dc5f8","order":14,"width":3,"height":1},{"id":"71a2f7a2.149ca8","type":"ui_spacer","name":"spacer","group":"737f79a2.9dc5f8","order":15,"width":5,"height":1},{"id":"d14bba07.4a4178","type":"ui_spacer","name":"spacer","group":"737f79a2.9dc5f8","order":16,"width":7,"height":1},{"id":"9f2eca7f.f08068","type":"ui_spacer","name":"spacer","group":"11a46ecc.054d51","order":5,"width":12,"height":1},{"id":"63be845c.53e7dc","type":"ui_spacer","name":"spacer","group":"11a46ecc.054d51","order":6,"width":12,"height":1},{"id":"4d783964.8299e8","type":"ui_spacer","name":"spacer","group":"11a46ecc.054d51","order":7,"width":12,"height":1},{"id":"81f0255e.eb2df8","type":"ui_spacer","name":"spacer","group":"f42f9d98.feec8","order":5,"width":4,"height":1},{"id":"8a9aae8c.9b0ef","type":"ui_spacer","name":"spacer","group":"f42f9d98.feec8","order":6,"width":4,"height":1},{"id":"95b7913e.24876","type":"ui_spacer","name":"spacer","group":"f42f9d98.feec8","order":7,"width":4,"height":1},{"id":"96688912.f50998","type":"ui_spacer","name":"spacer","group":"f42f9d98.feec8","order":11,"width":1,"height":1},{"id":"f0eed7e6.72ad28","type":"ui_spacer","name":"spacer","group":"f42f9d98.feec8","order":13,"width":1,"height":1},{"id":"2873e29e.c2aa3e","type":"ui_spacer","name":"spacer","group":"f42f9d98.feec8","order":14,"width":8,"height":1},{"id":"3666bb8.f2fea44","type":"ui_spacer","name":"spacer","group":"f42f9d98.feec8","order":15,"width":3,"height":1},{"id":"e59844b.89d84b8","type":"ui_spacer","name":"spacer","group":"f42f9d98.feec8","order":16,"width":8,"height":1},{"id":"e9aeabc9.38d6a8","type":"ui_spacer","name":"spacer","group":"f42f9d98.feec8","order":17,"width":3,"height":1},{"id":"14e343e7.135bfc","type":"ui_spacer","name":"spacer","group":"f42f9d98.feec8","order":18,"width":8,"height":1},{"id":"f961fdd1.4f0dd","type":"ui_spacer","name":"spacer","group":"8a4ae818.77e338","order":3,"width":7,"height":1},{"id":"bac74a9f.013e88","type":"ui_spacer","name":"spacer","group":"8a4ae818.77e338","order":4,"width":7,"height":1},{"id":"72176663.f1ca38","type":"ui_spacer","name":"spacer","group":"8a4ae818.77e338","order":5,"width":7,"height":1},{"id":"d900b423.c8f898","type":"ui_spacer","name":"spacer","group":"8a4ae818.77e338","order":6,"width":3,"height":1},{"id":"826d6253.735df","type":"ui_spacer","name":"spacer","group":"8a4ae818.77e338","order":7,"width":7,"height":1},{"id":"e93d3764.b85bc8","type":"ui_spacer","name":"spacer","group":"8a4ae818.77e338","order":8,"width":3,"height":1},{"id":"5c75c66e.eed7c8","type":"ui_spacer","name":"spacer","group":"8a4ae818.77e338","order":9,"width":7,"height":1},{"id":"1fcb9755.e6ae39","type":"ui_spacer","name":"spacer","group":"b0a0d6a.ae97628","order":3,"width":13,"height":1},{"id":"24bbe0ce.e6647","type":"ui_spacer","name":"spacer","group":"b0a0d6a.ae97628","order":4,"width":13,"height":1},{"id":"d97078.515b3f88","type":"ui_spacer","name":"spacer","group":"b0a0d6a.ae97628","order":5,"width":13,"height":1},{"id":"5aa504fe.3467dc","type":"ui_spacer","name":"spacer","group":"b0a0d6a.ae97628","order":6,"width":3,"height":1},{"id":"9bef0d83.8ab93","type":"ui_spacer","name":"spacer","group":"b0a0d6a.ae97628","order":7,"width":13,"height":1},{"id":"6177e541.19a18c","type":"ui_spacer","name":"spacer","group":"b0a0d6a.ae97628","order":8,"width":3,"height":1},{"id":"c25bd471.c427e8","type":"ui_spacer","name":"spacer","group":"b0a0d6a.ae97628","order":9,"width":13,"height":1},{"id":"e915f294.8a0e1","type":"ui_spacer","name":"spacer","group":"b0a0d6a.ae97628","order":10,"width":3,"height":1},{"id":"598340e6.4163f","type":"ui_spacer","name":"spacer","group":"b0a0d6a.ae97628","order":11,"width":13,"height":1},{"id":"f83c2891.5d4948","type":"ui_spacer","name":"spacer","group":"a1e45da5.29a36","order":7,"width":3,"height":1},{"id":"59cd29f1.8a5598","type":"ui_spacer","name":"spacer","group":"a1e45da5.29a36","order":8,"width":3,"height":1},{"id":"f80784b3.f5a2e8","type":"ui_spacer","name":"spacer","group":"a1e45da5.29a36","order":9,"width":3,"height":1},{"id":"4842f4b.992170c","type":"ui_spacer","name":"spacer","group":"a1e45da5.29a36","order":10,"width":3,"height":1},{"id":"14bab9d1.5e1e16","type":"ui_spacer","name":"spacer","group":"a1e45da5.29a36","order":11,"width":3,"height":1},{"id":"813d9722.84d5a8","type":"ui_spacer","name":"spacer","group":"a1e45da5.29a36","order":12,"width":3,"height":1},{"id":"3bf7f75d.a52e98","type":"ui_spacer","name":"spacer","group":"a1e45da5.29a36","order":13,"width":3,"height":1},{"id":"92fe5c50.d5c42","type":"ui_spacer","name":"spacer","group":"a1e45da5.29a36","order":14,"width":3,"height":1},{"id":"275d2d1d.824832","type":"ui_spacer","name":"spacer","group":"a1e45da5.29a36","order":15,"width":3,"height":1},{"id":"c4d2d8e3.1f1408","type":"ui_spacer","name":"spacer","group":"a1e45da5.29a36","order":16,"width":3,"height":1},{"id":"9d61fcfe.3f8fe","type":"ui_spacer","name":"spacer","group":"a1e45da5.29a36","order":17,"width":3,"height":1},{"id":"1b7c4486.831c7b","type":"ui_spacer","name":"spacer","group":"a1e45da5.29a36","order":18,"width":3,"height":1},{"id":"32e29b6a.cbdd94","type":"ui_spacer","name":"spacer","group":"a1e45da5.29a36","order":19,"width":3,"height":1},{"id":"c1837fd0.79e67","type":"ui_spacer","name":"spacer","group":"a1e45da5.29a36","order":20,"width":3,"height":1},{"id":"cca6a87f.c1c3d8","type":"ui_spacer","name":"spacer","group":"a1e45da5.29a36","order":21,"width":3,"height":1},{"id":"1fd30626.cddb4a","type":"ui_spacer","name":"spacer","group":"cc435049.b8bb5","order":3,"width":11,"height":1},{"id":"9ab1bc93.ee452","type":"ui_spacer","name":"spacer","group":"cc435049.b8bb5","order":4,"width":11,"height":1},{"id":"4596eb82.a29054","type":"ui_spacer","name":"spacer","group":"cc435049.b8bb5","order":5,"width":11,"height":1},{"id":"5601e912.f7a118","type":"ui_spacer","name":"spacer","group":"cc435049.b8bb5","order":6,"width":3,"height":1},{"id":"812c2725.f52ca8","type":"ui_spacer","name":"spacer","group":"cc435049.b8bb5","order":7,"width":11,"height":1},{"id":"a4ecfce7.ddc5c","type":"ui_spacer","name":"spacer","group":"cc435049.b8bb5","order":8,"width":3,"height":1},{"id":"9c7c2173.dd54d","type":"ui_spacer","name":"spacer","group":"cc435049.b8bb5","order":9,"width":11,"height":1},{"id":"2d8eca2b.0e88d6","type":"ui_spacer","name":"spacer","group":"cc435049.b8bb5","order":10,"width":3,"height":1},{"id":"7dafa399.3c70bc","type":"ui_spacer","name":"spacer","group":"cc435049.b8bb5","order":11,"width":11,"height":1},{"id":"ef92c17f.776ec","type":"ui_spacer","name":"spacer","group":"cc435049.b8bb5","order":14,"width":11,"height":1},{"id":"49e493b8.698c4c","type":"ui_spacer","name":"spacer","group":"cc435049.b8bb5","order":15,"width":11,"height":1},{"id":"3f5d34c.03af7cc","type":"ui_spacer","name":"spacer","group":"cc435049.b8bb5","order":16,"width":11,"height":1},{"id":"746d487d.83edc8","type":"ui_spacer","name":"spacer","group":"cc435049.b8bb5","order":18,"width":11,"height":1},{"id":"c4c20f66.f09cf","type":"ui_spacer","name":"spacer","group":"cc435049.b8bb5","order":19,"width":11,"height":1},{"id":"62fb03a5.453eac","type":"ui_spacer","name":"spacer","group":"cc435049.b8bb5","order":20,"width":11,"height":1},{"id":"12d0bd6a.c0f493","type":"ui_spacer","name":"spacer","group":"cc435049.b8bb5","order":23,"width":21,"height":1},{"id":"72e59806.295818","type":"ui_spacer","name":"spacer","group":"cc435049.b8bb5","order":24,"width":21,"height":1},{"id":"21f00084.683bd","type":"ui_spacer","name":"spacer","group":"cc435049.b8bb5","order":25,"width":21,"height":1},{"id":"d715bb08.28fe58","type":"ui_spacer","name":"spacer","group":"cc435049.b8bb5","order":26,"width":3,"height":1},{"id":"4776db63.dec074","type":"ui_spacer","name":"spacer","group":"cc435049.b8bb5","order":27,"width":21,"height":1},{"id":"bf8d7060.1d22b","type":"ui_spacer","name":"spacer","group":"cc435049.b8bb5","order":28,"width":3,"height":1},{"id":"49afa163.5f3c7","type":"ui_spacer","name":"spacer","group":"cc435049.b8bb5","order":29,"width":21,"height":1},{"id":"3a0cff99.229e4","type":"ui_spacer","name":"spacer","group":"cc435049.b8bb5","order":30,"width":3,"height":1},{"id":"757fd20e.43ea7c","type":"ui_spacer","name":"spacer","group":"cc435049.b8bb5","order":31,"width":21,"height":1},{"id":"3d3ca8a.9074c58","type":"ui_group","name":"Esteril","tab":"6ea8480d.7b7758","order":1,"disp":true,"width":"9","collapse":false},{"id":"a98ec53b.3605a8","type":"ui_spacer","name":"spacer","group":"2e1d31a8.e3f0ce","order":5,"width":4,"height":1},{"id":"5611c594.ed567c","type":"ui_spacer","name":"spacer","group":"2e1d31a8.e3f0ce","order":6,"width":4,"height":1},{"id":"869464f2.8fa298","type":"ui_spacer","name":"spacer","group":"2e1d31a8.e3f0ce","order":7,"width":4,"height":1},{"id":"6f7e2b80.8846c4","type":"ui_spacer","name":"spacer","group":"737f79a2.9dc5f8","order":4,"width":2,"height":1},{"id":"75d49f39.07741","type":"ui_spacer","name":"spacer","group":"737f79a2.9dc5f8","order":6,"width":4,"height":1},{"id":"8a47af22.4fe4a","type":"ui_spacer","name":"spacer","group":"737f79a2.9dc5f8","order":7,"width":2,"height":1},{"id":"9c7b74c8.33fae8","type":"ui_spacer","name":"spacer","group":"737f79a2.9dc5f8","order":8,"width":4,"height":1},{"id":"57fea484.2cea0c","type":"ui_spacer","name":"spacer","group":"737f79a2.9dc5f8","order":9,"width":2,"height":1},{"id":"90e64ab7.3717f8","type":"ui_spacer","name":"spacer","group":"737f79a2.9dc5f8","order":10,"width":4,"height":1},{"id":"b9c4a8fd.fe8618","type":"ui_spacer","name":"spacer","group":"737f79a2.9dc5f8","order":11,"width":3,"height":1},{"id":"70e604b4.18fe7c","type":"ui_spacer","name":"spacer","group":"737f79a2.9dc5f8","order":12,"width":5,"height":1},{"id":"1d99afaa.59352","type":"ui_spacer","name":"spacer","group":"737f79a2.9dc5f8","order":13,"width":4,"height":1},{"id":"9ac255ef.e0ce38","type":"ui_spacer","name":"spacer","group":"737f79a2.9dc5f8","order":14,"width":3,"height":1},{"id":"a26f10.f30b10f","type":"ui_spacer","name":"spacer","group":"737f79a2.9dc5f8","order":15,"width":5,"height":1},{"id":"d6645098.31ea4","type":"ui_spacer","name":"spacer","group":"737f79a2.9dc5f8","order":16,"width":4,"height":1},{"id":"53f09f0b.19a6f","type":"ui_spacer","name":"spacer","group":"11a46ecc.054d51","order":5,"width":2,"height":1},{"id":"96de11a.e96abf","type":"ui_spacer","name":"spacer","group":"11a46ecc.054d51","order":6,"width":2,"height":1},{"id":"c603df39.7714e","type":"ui_spacer","name":"spacer","group":"11a46ecc.054d51","order":7,"width":2,"height":1},{"id":"3a0e6beb.865624","type":"ui_spacer","name":"spacer","group":"f42f9d98.feec8","order":5,"width":4,"height":1},{"id":"4964cf6b.88a69","type":"ui_spacer","name":"spacer","group":"f42f9d98.feec8","order":6,"width":4,"height":1},{"id":"809baf7.be45e5","type":"ui_spacer","name":"spacer","group":"f42f9d98.feec8","order":7,"width":4,"height":1},{"id":"5d8d8a3a.643094","type":"ui_spacer","name":"spacer","group":"f42f9d98.feec8","order":10,"width":1,"height":1},{"id":"d6405507.b25dd8","type":"ui_spacer","name":"spacer","group":"f42f9d98.feec8","order":12,"width":5,"height":1},{"id":"9f97b05.5fca55","type":"ui_spacer","name":"spacer","group":"f42f9d98.feec8","order":13,"width":1,"height":1},{"id":"5cd3f707.7899b8","type":"ui_spacer","name":"spacer","group":"f42f9d98.feec8","order":15,"width":5,"height":1},{"id":"e703af64.6b101","type":"ui_spacer","name":"spacer","group":"f42f9d98.feec8","order":16,"width":15,"height":1},{"id":"632fe3b2.9c9c1c","type":"ui_spacer","name":"spacer","group":"f42f9d98.feec8","order":17,"width":3,"height":1},{"id":"4db3eb93.f216a4","type":"ui_spacer","name":"spacer","group":"f42f9d98.feec8","order":18,"width":15,"height":1},{"id":"79643eb0.76df6","type":"ui_spacer","name":"spacer","group":"f42f9d98.feec8","order":19,"width":3,"height":1},{"id":"18b2de59.b16f42","type":"ui_spacer","name":"spacer","group":"f42f9d98.feec8","order":20,"width":15,"height":1},{"id":"a64a7d8f.9310a","type":"ui_spacer","name":"spacer","group":"8a4ae818.77e338","order":3,"width":2,"height":1},{"id":"268e2f31.c7193","type":"ui_spacer","name":"spacer","group":"8a4ae818.77e338","order":4,"width":2,"height":1},{"id":"85ec9c0a.cb311","type":"ui_spacer","name":"spacer","group":"8a4ae818.77e338","order":5,"width":2,"height":1},{"id":"d62b06ea.bd9d78","type":"ui_spacer","name":"spacer","group":"8a4ae818.77e338","order":6,"width":3,"height":1},{"id":"3b12b4d2.6efd0c","type":"ui_spacer","name":"spacer","group":"8a4ae818.77e338","order":7,"width":2,"height":1},{"id":"4c45bd4.f67a944","type":"ui_spacer","name":"spacer","group":"8a4ae818.77e338","order":8,"width":3,"height":1},{"id":"bb00d909.f152e8","type":"ui_spacer","name":"spacer","group":"8a4ae818.77e338","order":9,"width":2,"height":1},{"id":"36b0f513.b19f0a","type":"ui_spacer","name":"spacer","group":"b0a0d6a.ae97628","order":3,"width":8,"height":1},{"id":"9289863e.e15058","type":"ui_spacer","name":"spacer","group":"b0a0d6a.ae97628","order":4,"width":8,"height":1},{"id":"a2f9500d.dde8e","type":"ui_spacer","name":"spacer","group":"b0a0d6a.ae97628","order":5,"width":8,"height":1},{"id":"b0b1b101.d24c9","type":"ui_spacer","name":"spacer","group":"b0a0d6a.ae97628","order":6,"width":3,"height":1},{"id":"96f31109.e0ff","type":"ui_spacer","name":"spacer","group":"b0a0d6a.ae97628","order":7,"width":8,"height":1},{"id":"25169407.83377c","type":"ui_spacer","name":"spacer","group":"b0a0d6a.ae97628","order":8,"width":3,"height":1},{"id":"4f3ed6f.276f428","type":"ui_spacer","name":"spacer","group":"b0a0d6a.ae97628","order":9,"width":8,"height":1},{"id":"1372e466.1ba90c","type":"ui_spacer","name":"spacer","group":"b0a0d6a.ae97628","order":10,"width":3,"height":1},{"id":"ef95d1f0.3a10a","type":"ui_spacer","name":"spacer","group":"b0a0d6a.ae97628","order":11,"width":8,"height":1},{"id":"c5281873.d97f38","type":"ui_spacer","name":"spacer","group":"a1e45da5.29a36","order":7,"width":3,"height":1},{"id":"11346478.023ccc","type":"ui_spacer","name":"spacer","group":"a1e45da5.29a36","order":8,"width":3,"height":1},{"id":"d79db207.2baa6","type":"ui_spacer","name":"spacer","group":"a1e45da5.29a36","order":9,"width":3,"height":1},{"id":"2909b89.6fcc948","type":"ui_spacer","name":"spacer","group":"a1e45da5.29a36","order":10,"width":3,"height":1},{"id":"8fed58b6.304a18","type":"ui_spacer","name":"spacer","group":"a1e45da5.29a36","order":11,"width":3,"height":1},{"id":"55ec73b1.cdffac","type":"ui_spacer","name":"spacer","group":"a1e45da5.29a36","order":12,"width":3,"height":1},{"id":"18792185.d855fe","type":"ui_spacer","name":"spacer","group":"a1e45da5.29a36","order":13,"width":3,"height":1},{"id":"c5b2bf10.89e51","type":"ui_spacer","name":"spacer","group":"a1e45da5.29a36","order":14,"width":3,"height":1},{"id":"37d9dbd4.ec7d44","type":"ui_spacer","name":"spacer","group":"a1e45da5.29a36","order":15,"width":3,"height":1},{"id":"dd27a00.64f586","type":"ui_spacer","name":"spacer","group":"a1e45da5.29a36","order":16,"width":3,"height":1},{"id":"4707b4fa.d10fec","type":"ui_spacer","name":"spacer","group":"a1e45da5.29a36","order":17,"width":3,"height":1},{"id":"f2344a62.638558","type":"ui_spacer","name":"spacer","group":"a1e45da5.29a36","order":18,"width":3,"height":1},{"id":"9fa43b68.df9128","type":"ui_spacer","name":"spacer","group":"a1e45da5.29a36","order":19,"width":3,"height":1},{"id":"a4cf3f93.1a21a","type":"ui_spacer","name":"spacer","group":"a1e45da5.29a36","order":20,"width":3,"height":1},{"id":"dfc385c9.7175c8","type":"ui_spacer","name":"spacer","group":"a1e45da5.29a36","order":21,"width":3,"height":1},{"id":"f514e91c.3bc8f8","type":"ui_spacer","name":"spacer","group":"cc435049.b8bb5","order":3,"width":11,"height":1},{"id":"257a7620.34a4ba","type":"ui_spacer","name":"spacer","group":"cc435049.b8bb5","order":4,"width":11,"height":1},{"id":"339397c8.c72e58","type":"ui_spacer","name":"spacer","group":"cc435049.b8bb5","order":5,"width":11,"height":1},{"id":"9fd81f12.c4134","type":"ui_spacer","name":"spacer","group":"cc435049.b8bb5","order":6,"width":3,"height":1},{"id":"6296fd9e.57af94","type":"ui_spacer","name":"spacer","group":"cc435049.b8bb5","order":7,"width":11,"height":1},{"id":"46b91978.a85168","type":"ui_spacer","name":"spacer","group":"cc435049.b8bb5","order":8,"width":3,"height":1},{"id":"43ad08cf.c24f38","type":"ui_spacer","name":"spacer","group":"cc435049.b8bb5","order":9,"width":11,"height":1},{"id":"eb8881dd.4d9d7","type":"ui_spacer","name":"spacer","group":"cc435049.b8bb5","order":10,"width":3,"height":1},{"id":"f8af52.b9ec20b","type":"ui_spacer","name":"spacer","group":"cc435049.b8bb5","order":11,"width":11,"height":1},{"id":"5c70236e.a4808c","type":"ui_spacer","name":"spacer","group":"cc435049.b8bb5","order":14,"width":11,"height":1},{"id":"da7b770e.0d2f48","type":"ui_spacer","name":"spacer","group":"cc435049.b8bb5","order":15,"width":11,"height":1},{"id":"dd2980b6.68064","type":"ui_spacer","name":"spacer","group":"cc435049.b8bb5","order":16,"width":11,"height":1},{"id":"ef72cfd0.51051","type":"ui_spacer","name":"spacer","group":"cc435049.b8bb5","order":18,"width":11,"height":1},{"id":"f08ebf85.bb452","type":"ui_spacer","name":"spacer","group":"cc435049.b8bb5","order":19,"width":11,"height":1},{"id":"d2a0df9a.e69f3","type":"ui_spacer","name":"spacer","group":"cc435049.b8bb5","order":20,"width":11,"height":1},{"id":"29c86c18.a271e4","type":"ui_spacer","name":"spacer","group":"cc435049.b8bb5","order":23,"width":21,"height":1},{"id":"dcab724f.aacd8","type":"ui_spacer","name":"spacer","group":"cc435049.b8bb5","order":24,"width":21,"height":1},{"id":"cf585c74.a718f","type":"ui_spacer","name":"spacer","group":"cc435049.b8bb5","order":25,"width":21,"height":1},{"id":"71d394c4.cf92cc","type":"ui_spacer","name":"spacer","group":"cc435049.b8bb5","order":26,"width":3,"height":1},{"id":"f8a3548c.58e368","type":"ui_spacer","name":"spacer","group":"cc435049.b8bb5","order":27,"width":21,"height":1},{"id":"41d4ed92.06fdc4","type":"ui_spacer","name":"spacer","group":"cc435049.b8bb5","order":28,"width":3,"height":1},{"id":"758f3f9a.7c251","type":"ui_spacer","name":"spacer","group":"cc435049.b8bb5","order":29,"width":21,"height":1},{"id":"6e23d2b5.82113c","type":"ui_spacer","name":"spacer","group":"cc435049.b8bb5","order":30,"width":3,"height":1},{"id":"e6f222c.79166e","type":"ui_spacer","name":"spacer","group":"cc435049.b8bb5","order":31,"width":21,"height":1},{"id":"6dee121b.d7b72c","type":"ui_group","name":"Esteril","tab":"6ea8480d.7b7758","order":1,"disp":true,"width":"9","collapse":false},{"id":"9f5c7944.6d3d48","type":"ui_spacer","name":"spacer","group":"2e1d31a8.e3f0ce","order":5,"width":4,"height":1},{"id":"44bae499.ebdd2c","type":"ui_spacer","name":"spacer","group":"2e1d31a8.e3f0ce","order":6,"width":4,"height":1},{"id":"78678c52.642494","type":"ui_spacer","name":"spacer","group":"2e1d31a8.e3f0ce","order":7,"width":4,"height":1},{"id":"2c3b3fd2.52ca7","type":"ui_spacer","name":"spacer","group":"737f79a2.9dc5f8","order":4,"width":2,"height":1},{"id":"a075d3e8.b21ec","type":"ui_spacer","name":"spacer","group":"737f79a2.9dc5f8","order":6,"width":4,"height":1},{"id":"2cb2d542.cc4c0a","type":"ui_spacer","name":"spacer","group":"737f79a2.9dc5f8","order":7,"width":2,"height":1},{"id":"18b5f1b.96b450e","type":"ui_spacer","name":"spacer","group":"737f79a2.9dc5f8","order":8,"width":4,"height":1},{"id":"10e9667c.910c0a","type":"ui_spacer","name":"spacer","group":"737f79a2.9dc5f8","order":9,"width":2,"height":1},{"id":"ac530d7a.b6264","type":"ui_spacer","name":"spacer","group":"737f79a2.9dc5f8","order":10,"width":4,"height":1},{"id":"204e0f3a.c8268","type":"ui_spacer","name":"spacer","group":"737f79a2.9dc5f8","order":11,"width":3,"height":1},{"id":"8a45d20d.26e6c","type":"ui_spacer","name":"spacer","group":"737f79a2.9dc5f8","order":12,"width":5,"height":1},{"id":"c1959ad7.7a8fe8","type":"ui_spacer","name":"spacer","group":"737f79a2.9dc5f8","order":13,"width":4,"height":1},{"id":"5acc5a22.dda1e4","type":"ui_spacer","name":"spacer","group":"737f79a2.9dc5f8","order":14,"width":3,"height":1},{"id":"8296f034.1c64","type":"ui_spacer","name":"spacer","group":"737f79a2.9dc5f8","order":15,"width":5,"height":1},{"id":"77d3155f.9bd36c","type":"ui_spacer","name":"spacer","group":"737f79a2.9dc5f8","order":16,"width":4,"height":1},{"id":"206fe7ab.348108","type":"ui_spacer","name":"spacer","group":"11a46ecc.054d51","order":5,"width":2,"height":1},{"id":"47cec621.9c6f38","type":"ui_spacer","name":"spacer","group":"11a46ecc.054d51","order":6,"width":2,"height":1},{"id":"e41a7f07.92c01","type":"ui_spacer","name":"spacer","group":"11a46ecc.054d51","order":7,"width":2,"height":1},{"id":"9267e863.d39938","type":"ui_spacer","name":"spacer","group":"f42f9d98.feec8","order":5,"width":4,"height":1},{"id":"e91ae33e.e583a","type":"ui_spacer","name":"spacer","group":"f42f9d98.feec8","order":6,"width":4,"height":1},{"id":"e109d335.08c2","type":"ui_spacer","name":"spacer","group":"f42f9d98.feec8","order":7,"width":4,"height":1},{"id":"fc32a10.907936","type":"ui_spacer","name":"spacer","group":"f42f9d98.feec8","order":10,"width":1,"height":1},{"id":"33ec07bb.1927b8","type":"ui_spacer","name":"spacer","group":"f42f9d98.feec8","order":12,"width":5,"height":1},{"id":"a8c50f2a.2bb3f","type":"ui_spacer","name":"spacer","group":"f42f9d98.feec8","order":13,"width":1,"height":1},{"id":"ee12daea.892ca8","type":"ui_spacer","name":"spacer","group":"f42f9d98.feec8","order":15,"width":5,"height":1},{"id":"7a1aea7a.201ee4","type":"ui_spacer","name":"spacer","group":"f42f9d98.feec8","order":16,"width":15,"height":1},{"id":"cb7806bf.158058","type":"ui_spacer","name":"spacer","group":"f42f9d98.feec8","order":17,"width":3,"height":1},{"id":"9d7c572.610a9a8","type":"ui_spacer","name":"spacer","group":"f42f9d98.feec8","order":18,"width":15,"height":1},{"id":"1c6bb1be.6bba8e","type":"ui_spacer","name":"spacer","group":"f42f9d98.feec8","order":19,"width":3,"height":1},{"id":"b57a6f41.d6a83","type":"ui_spacer","name":"spacer","group":"f42f9d98.feec8","order":20,"width":15,"height":1},{"id":"7bc613a6.336ddc","type":"ui_spacer","name":"spacer","group":"8a4ae818.77e338","order":3,"width":2,"height":1},{"id":"e95c784f.d76b58","type":"ui_spacer","name":"spacer","group":"8a4ae818.77e338","order":4,"width":2,"height":1},{"id":"f651f0c9.a152b","type":"ui_spacer","name":"spacer","group":"8a4ae818.77e338","order":5,"width":2,"height":1},{"id":"f2d447db.c0ad78","type":"ui_spacer","name":"spacer","group":"8a4ae818.77e338","order":6,"width":3,"height":1},{"id":"1f6db438.b094fc","type":"ui_spacer","name":"spacer","group":"8a4ae818.77e338","order":7,"width":2,"height":1},{"id":"4a37fd3.3152404","type":"ui_spacer","name":"spacer","group":"8a4ae818.77e338","order":8,"width":3,"height":1},{"id":"4d9592ad.6913bc","type":"ui_spacer","name":"spacer","group":"8a4ae818.77e338","order":9,"width":2,"height":1},{"id":"6dcf284a.85f448","type":"ui_spacer","name":"spacer","group":"b0a0d6a.ae97628","order":3,"width":8,"height":1},{"id":"29398e13.9d0ff2","type":"ui_spacer","name":"spacer","group":"b0a0d6a.ae97628","order":4,"width":8,"height":1},{"id":"4893fa19.826864","type":"ui_spacer","name":"spacer","group":"b0a0d6a.ae97628","order":5,"width":8,"height":1},{"id":"7e4d1240.5060cc","type":"ui_spacer","name":"spacer","group":"b0a0d6a.ae97628","order":6,"width":3,"height":1},{"id":"23196c2c.6c2584","type":"ui_spacer","name":"spacer","group":"b0a0d6a.ae97628","order":7,"width":8,"height":1},{"id":"d61b9916.c977a8","type":"ui_spacer","name":"spacer","group":"b0a0d6a.ae97628","order":8,"width":3,"height":1},{"id":"f49a8803.3b7488","type":"ui_spacer","name":"spacer","group":"b0a0d6a.ae97628","order":9,"width":8,"height":1},{"id":"82ff0541.790b48","type":"ui_spacer","name":"spacer","group":"b0a0d6a.ae97628","order":10,"width":3,"height":1},{"id":"6ea9c032.2a43","type":"ui_spacer","name":"spacer","group":"b0a0d6a.ae97628","order":11,"width":8,"height":1},{"id":"d900e86a.d3b568","type":"ui_spacer","name":"spacer","group":"a1e45da5.29a36","order":7,"width":3,"height":1},{"id":"71d72d8d.8ae534","type":"ui_spacer","name":"spacer","group":"a1e45da5.29a36","order":8,"width":3,"height":1},{"id":"a4a9546.2fbf0a8","type":"ui_spacer","name":"spacer","group":"a1e45da5.29a36","order":9,"width":3,"height":1},{"id":"6f240c2a.03ee44","type":"ui_spacer","name":"spacer","group":"a1e45da5.29a36","order":10,"width":3,"height":1},{"id":"a1351789.164378","type":"ui_spacer","name":"spacer","group":"a1e45da5.29a36","order":11,"width":3,"height":1},{"id":"62afcb5a.1abfe4","type":"ui_spacer","name":"spacer","group":"a1e45da5.29a36","order":12,"width":3,"height":1},{"id":"bbea4ef1.25fd9","type":"ui_spacer","name":"spacer","group":"a1e45da5.29a36","order":13,"width":3,"height":1},{"id":"99edb4.b76f325","type":"ui_spacer","name":"spacer","group":"a1e45da5.29a36","order":14,"width":3,"height":1},{"id":"fc6f0a8e.3d79d8","type":"ui_spacer","name":"spacer","group":"a1e45da5.29a36","order":15,"width":3,"height":1},{"id":"a36456bf.823b28","type":"ui_spacer","name":"spacer","group":"a1e45da5.29a36","order":16,"width":3,"height":1},{"id":"ac77e5e7.4cb508","type":"ui_spacer","name":"spacer","group":"a1e45da5.29a36","order":17,"width":3,"height":1},{"id":"91ac2f3d.ed8b5","type":"ui_spacer","name":"spacer","group":"a1e45da5.29a36","order":18,"width":3,"height":1},{"id":"599c58c9.357d58","type":"ui_spacer","name":"spacer","group":"a1e45da5.29a36","order":19,"width":3,"height":1},{"id":"44d9311a.8d6c9","type":"ui_spacer","name":"spacer","group":"a1e45da5.29a36","order":20,"width":3,"height":1},{"id":"fac277cf.135ed8","type":"ui_spacer","name":"spacer","group":"a1e45da5.29a36","order":21,"width":3,"height":1},{"id":"abd79c2b.ed33f","type":"ui_spacer","name":"spacer","group":"cc435049.b8bb5","order":3,"width":11,"height":1},{"id":"1057f483.74178b","type":"ui_spacer","name":"spacer","group":"cc435049.b8bb5","order":4,"width":11,"height":1},{"id":"e35ba2b1.d3d41","type":"ui_spacer","name":"spacer","group":"cc435049.b8bb5","order":5,"width":11,"height":1},{"id":"adf298be.4f7bc8","type":"ui_spacer","name":"spacer","group":"cc435049.b8bb5","order":6,"width":3,"height":1},{"id":"7df43267.3c69ec","type":"ui_spacer","name":"spacer","group":"cc435049.b8bb5","order":7,"width":11,"height":1},{"id":"8ba902f1.2d1af","type":"ui_spacer","name":"spacer","group":"cc435049.b8bb5","order":8,"width":3,"height":1},{"id":"3942da24.559316","type":"ui_spacer","name":"spacer","group":"cc435049.b8bb5","order":9,"width":11,"height":1},{"id":"51847bc7.8e7054","type":"ui_spacer","name":"spacer","group":"cc435049.b8bb5","order":10,"width":3,"height":1},{"id":"19756ee4.4e8171","type":"ui_spacer","name":"spacer","group":"cc435049.b8bb5","order":11,"width":11,"height":1},{"id":"eb754b47.1d7ee8","type":"ui_spacer","name":"spacer","group":"cc435049.b8bb5","order":14,"width":11,"height":1},{"id":"6c09133c.a6962c","type":"ui_spacer","name":"spacer","group":"cc435049.b8bb5","order":15,"width":11,"height":1},{"id":"46723b82.d5ce74","type":"ui_spacer","name":"spacer","group":"cc435049.b8bb5","order":16,"width":11,"height":1},{"id":"e58c31a0.088be","type":"ui_spacer","name":"spacer","group":"cc435049.b8bb5","order":18,"width":11,"height":1},{"id":"8bc4757.7b7cc88","type":"ui_spacer","name":"spacer","group":"cc435049.b8bb5","order":19,"width":11,"height":1},{"id":"9934cce8.7064a","type":"ui_spacer","name":"spacer","group":"cc435049.b8bb5","order":20,"width":11,"height":1},{"id":"7e455de0.1cf7a4","type":"ui_spacer","name":"spacer","group":"cc435049.b8bb5","order":23,"width":21,"height":1},{"id":"709d3f30.691e3","type":"ui_spacer","name":"spacer","group":"cc435049.b8bb5","order":24,"width":21,"height":1},{"id":"a8e7e14c.d621b","type":"ui_spacer","name":"spacer","group":"cc435049.b8bb5","order":25,"width":21,"height":1},{"id":"d791ca1f.ff5f08","type":"ui_spacer","name":"spacer","group":"cc435049.b8bb5","order":26,"width":3,"height":1},{"id":"4b486669.319cf8","type":"ui_spacer","name":"spacer","group":"cc435049.b8bb5","order":27,"width":21,"height":1},{"id":"a0ae6679.4e5a78","type":"ui_spacer","name":"spacer","group":"cc435049.b8bb5","order":28,"width":3,"height":1},{"id":"7bd57d20.ea3c54","type":"ui_spacer","name":"spacer","group":"cc435049.b8bb5","order":29,"width":21,"height":1},{"id":"4138ab35.4682e4","type":"ui_spacer","name":"spacer","group":"cc435049.b8bb5","order":30,"width":3,"height":1},{"id":"eb9597a3.052408","type":"ui_spacer","name":"spacer","group":"cc435049.b8bb5","order":31,"width":21,"height":1},{"id":"e6bf6498.3d5b58","type":"ui_group","name":"Esteril","tab":"6ea8480d.7b7758","order":1,"disp":true,"width":"9","collapse":false},{"id":"b50417ac.a77458","type":"ui_group","name":"Group 6","tab":"e01434c2.820e48","order":6,"disp":true,"width":6},{"id":"a03209a1.348018","type":"ui_spacer","name":"spacer","group":"cc9e1b09.415948","order":2,"width":24,"height":1},{"id":"4ec78472.994e4c","type":"ui_spacer","name":"spacer","group":"cc9e1b09.415948","order":4,"width":1,"height":1},{"id":"77b77d4.159f584","type":"ui_spacer","name":"spacer","group":"cc9e1b09.415948","order":6,"width":2,"height":1},{"id":"e0b4a152.3037b","type":"ui_spacer","name":"spacer","group":"cc9e1b09.415948","order":7,"width":1,"height":1},{"id":"21c75d8c.f02a42","type":"ui_spacer","name":"spacer","group":"cc9e1b09.415948","order":8,"width":2,"height":1},{"id":"a76be2cc.89916","type":"ui_spacer","name":"spacer","group":"cc9e1b09.415948","order":9,"width":1,"height":1},{"id":"7da689f6.974508","type":"ui_spacer","name":"spacer","group":"cc9e1b09.415948","order":10,"width":2,"height":1},{"id":"a8960ce5.0d7f3","type":"ui_spacer","name":"spacer","group":"cc9e1b09.415948","order":11,"width":1,"height":1},{"id":"6262b96f.424ad8","type":"ui_spacer","name":"spacer","group":"cc9e1b09.415948","order":12,"width":2,"height":1},{"id":"b5a195.822d4e68","type":"ui_spacer","name":"spacer","group":"cc9e1b09.415948","order":13,"width":1,"height":1},{"id":"59b75e77.67386","type":"ui_spacer","name":"spacer","group":"cc9e1b09.415948","order":14,"width":2,"height":1},{"id":"e19e2371.5841e","type":"ui_spacer","name":"spacer","group":"cc9e1b09.415948","order":15,"width":1,"height":1},{"id":"8aefa866.0222e8","type":"ui_spacer","name":"spacer","group":"cc9e1b09.415948","order":16,"width":2,"height":1},{"id":"d534d17c.b5ab1","type":"ui_spacer","name":"spacer","group":"cc9e1b09.415948","order":23,"width":3,"height":1},{"id":"4abcda2b.845cf4","type":"ui_spacer","name":"spacer","group":"cc9e1b09.415948","order":24,"width":3,"height":1},{"id":"e8ecdcee.e043f","type":"ui_spacer","name":"spacer","group":"cc9e1b09.415948","order":25,"width":3,"height":1},{"id":"7fead4c.55f682c","type":"ui_spacer","name":"spacer","group":"cc9e1b09.415948","order":26,"width":12,"height":1},{"id":"f9b9ba2d.5dbe48","type":"ui_spacer","name":"spacer","group":"cc9e1b09.415948","order":27,"width":12,"height":1},{"id":"55db8757.e402c8","type":"ui_spacer","name":"spacer","group":"1dededbb.05a1d2","order":2,"width":3,"height":1},{"id":"25d11f14.41177","type":"ui_spacer","name":"spacer","group":"1dededbb.05a1d2","order":4,"width":1,"height":1},{"id":"1abacad6.461a65","type":"ui_spacer","name":"spacer","group":"1dededbb.05a1d2","order":5,"width":3,"height":1},{"id":"6905d0ad.732fe","type":"ui_spacer","name":"spacer","group":"1dededbb.05a1d2","order":6,"width":1,"height":1},{"id":"88886f7.66c209","type":"ui_spacer","name":"spacer","group":"1dededbb.05a1d2","order":7,"width":3,"height":1},{"id":"4c71ee5c.ac9f9","type":"ui_spacer","name":"spacer","group":"1dededbb.05a1d2","order":8,"width":1,"height":1},{"id":"42556a0e.15ec24","type":"ui_spacer","name":"spacer","group":"1dededbb.05a1d2","order":9,"width":3,"height":1},{"id":"8f29d302.8b76d","type":"ui_spacer","name":"spacer","group":"1dededbb.05a1d2","order":10,"width":1,"height":1},{"id":"244971d3.47130e","type":"ui_spacer","name":"spacer","group":"1dededbb.05a1d2","order":11,"width":3,"height":1},{"id":"2ab97d04.885b52","type":"ui_spacer","name":"spacer","group":"1dededbb.05a1d2","order":12,"width":1,"height":1},{"id":"7419a8f6.5f2cf8","type":"ui_spacer","name":"spacer","group":"1dededbb.05a1d2","order":14,"width":4,"height":1},{"id":"71190860.02ccb8","type":"ui_spacer","name":"spacer","group":"1dededbb.05a1d2","order":16,"width":1,"height":1},{"id":"94371f22.db43","type":"ui_spacer","name":"spacer","group":"1dededbb.05a1d2","order":17,"width":4,"height":1},{"id":"ecb6ba13.4508f8","type":"ui_spacer","name":"spacer","group":"1dededbb.05a1d2","order":18,"width":1,"height":1},{"id":"4f71fe70.915c4","type":"ui_spacer","name":"spacer","group":"1dededbb.05a1d2","order":19,"width":4,"height":1},{"id":"6f25719a.55a2b","type":"ui_spacer","name":"spacer","group":"1dededbb.05a1d2","order":20,"width":1,"height":1},{"id":"b640832c.71f95","type":"ui_spacer","name":"spacer","group":"1dededbb.05a1d2","order":21,"width":4,"height":1},{"id":"d7e2bc1d.3661a","type":"ui_spacer","name":"spacer","group":"1dededbb.05a1d2","order":22,"width":1,"height":1},{"id":"9fa2d3fc.62158","type":"ui_spacer","name":"spacer","group":"1dededbb.05a1d2","order":23,"width":4,"height":1},{"id":"5384d638.35b6c8","type":"ui_spacer","name":"spacer","group":"1dededbb.05a1d2","order":24,"width":1,"height":1},{"id":"3e314be4.f01f04","type":"ui_spacer","name":"spacer","group":"15de3705.68f0d9","order":7,"width":24,"height":1},{"id":"73c1b63d.7478b8","type":"ui_spacer","name":"spacer","group":"15de3705.68f0d9","order":9,"width":1,"height":1},{"id":"b250d7ff.8dc8a8","type":"ui_spacer","name":"spacer","group":"15de3705.68f0d9","order":10,"width":24,"height":1},{"id":"26ad43cf.51d88c","type":"ui_spacer","name":"spacer","group":"15de3705.68f0d9","order":11,"width":1,"height":1},{"id":"51d6298b.061968","type":"ui_spacer","name":"spacer","group":"15de3705.68f0d9","order":12,"width":24,"height":1},{"id":"35925a86.9c8476","type":"ui_spacer","name":"spacer","group":"15de3705.68f0d9","order":13,"width":1,"height":1},{"id":"1643fee4.f93b81","type":"ui_spacer","name":"spacer","group":"15de3705.68f0d9","order":14,"width":24,"height":1},{"id":"cf479dd9.5d09","type":"ui_spacer","name":"spacer","group":"15de3705.68f0d9","order":15,"width":1,"height":1},{"id":"94f7489c.5196d8","type":"ui_spacer","name":"spacer","group":"6e9fddf6.d04d74","order":5,"width":9,"height":1},{"id":"ddf5110c.adde5","type":"ui_spacer","name":"spacer","group":"6e9fddf6.d04d74","order":7,"width":3,"height":1},{"id":"be8539ef.500458","type":"ui_spacer","name":"spacer","group":"6e9fddf6.d04d74","order":8,"width":18,"height":1},{"id":"7c110e3f.461d8","type":"ui_spacer","name":"spacer","group":"6e9fddf6.d04d74","order":9,"width":18,"height":1},{"id":"23b9e614.a8683a","type":"ui_spacer","name":"spacer","group":"6e9fddf6.d04d74","order":10,"width":30,"height":1},{"id":"4212f467.c063cc","type":"ui_spacer","name":"spacer","group":"6e9fddf6.d04d74","order":13,"width":24,"height":1},{"id":"7d60fa3a.1a5014","type":"ui_spacer","name":"spacer","group":"6e9fddf6.d04d74","order":14,"width":24,"height":1},{"id":"8fc09361.d544a","type":"ui_spacer","name":"spacer","group":"6e9fddf6.d04d74","order":15,"width":24,"height":1},{"id":"b8959294.b26fe","type":"ui_spacer","name":"spacer","group":"663ec66d.b1cdf8","order":2,"width":6,"height":1},{"id":"16bf46d.7c703b9","type":"ui_spacer","name":"spacer","group":"663ec66d.b1cdf8","order":4,"width":12,"height":1},{"id":"47e8a9fc.e53f48","type":"ui_spacer","name":"spacer","group":"663ec66d.b1cdf8","order":6,"width":3,"height":1},{"id":"48aea61d.130308","type":"ui_spacer","name":"spacer","group":"663ec66d.b1cdf8","order":8,"width":3,"height":1},{"id":"fe94c3e3.a702a","type":"ui_spacer","name":"spacer","group":"663ec66d.b1cdf8","order":9,"width":3,"height":1},{"id":"f974029e.a3048","type":"ui_spacer","name":"spacer","group":"663ec66d.b1cdf8","order":10,"width":3,"height":1},{"id":"efaf59d0.af8768","type":"ui_spacer","name":"spacer","group":"663ec66d.b1cdf8","order":11,"width":3,"height":1},{"id":"1fc11a13.14d2f6","type":"ui_spacer","name":"spacer","group":"663ec66d.b1cdf8","order":12,"width":3,"height":1},{"id":"545ab549.14c2bc","type":"ui_spacer","name":"spacer","group":"663ec66d.b1cdf8","order":13,"width":9,"height":1},{"id":"57bb3838.e9aa38","type":"ui_spacer","name":"spacer","group":"663ec66d.b1cdf8","order":14,"width":3,"height":1},{"id":"6a8a72d3.6d720c","type":"ui_spacer","name":"spacer","group":"663ec66d.b1cdf8","order":15,"width":9,"height":1},{"id":"49190ce9.0797f4","type":"ui_spacer","name":"spacer","group":"663ec66d.b1cdf8","order":16,"width":3,"height":1},{"id":"c15b6f73.6f9cc","type":"MSSQL","z":"c22211.f4889df","mssqlCN":"80f1c585.625708","name":"Viajes Esteril Por Turno","outField":"payload","returnType":"0","throwErrors":"1","query":"DECLARE   @FecFin   DATETIME\r\nDECLARE   @FecTurno DATE\r\nDECLARE   @Turno    Varchar(1)\r\n\r\nSELECT   @FecTurno=FechaTurno, \r\n         @Fecfin=IIF(Modulos.Turno='1',FechaInicio,DATEADD(day,1,FechaInicio)),\r\n\t\t @Turno=Turno \r\nFROM     Modulos \r\nWHERE    TipoModulo=0\r\n\r\nSELECT  ISNULL(SUM(Viaje),0) AS Cantidad\r\n\r\nFROM    dbo.Produccion INNER JOIN\r\n        dbo.Maquinas ON dbo.Produccion.MaquinaAcarreo = dbo.Maquinas.CodigoMaquina\r\n\r\nWHERE    Produccion.FechaTurno=@FecTurno AND Produccion.Actividad='01' AND\r\n\t\t DATEPART(HOUR,Produccion.FechaInicio)=DATEPART(HOUR,Getdate())","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","params":[],"x":430,"y":60,"wires":[["96673a32.3c6fc8"]]},{"id":"e10a4e.8a1885b","type":"inject","z":"c22211.f4889df","d":true,"name":"Por Fecha Turno","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"600","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"anno\":2015,\"mes\":1,\"dia\":15,\"turno\":1,\"hora\":9,\"actividad\":\"01\"}","payloadType":"json","x":130,"y":820,"wires":[["c15b6f73.6f9cc","7fd75cd0.3f1524","60bab641.6dd238","3459fe7c.bc3dd2","571b66c1.d64a48","32b56d3a.f2ef02","d51f898e.05dd48","5fe88d6a.7ca764","64c39928.ba50d8","4b816bef.945f54","f7386994.f6bf18","da7a9068.7813c","b0493a24.a33d48","b5721cdb.e5f47","2eb4bbef.419ed4","5f22fc33.9c3f94","1aef2070.8e4a8","d9423680.c2b938","b7957814.35f9a8","69cdaa45.7e0fe4","b6b1493a.059f88","25c02e79.691962","e94170af.ec5da","8f70a8c5.23dc88","13df3822.760dd8","3a4b1b71.2415c4","17886b89.111c44","280b942d.7595dc","1b9b63a5.e2488c"]]},{"id":"8e6f1ca0.1bc3d","type":"mqtt out","z":"c22211.f4889df","name":"cmsj/baseuno/viajeshoraesteril","topic":"cmsj/baseuno/viajeshoraesteril","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":1130,"y":60,"wires":[]},{"id":"96673a32.3c6fc8","type":"function","z":"c22211.f4889df","name":"VIAJES x HORA","func":"var newMsg={};\n\nnewMsg.payload=msg.payload[0].Cantidad;\nnewMsg.topic='Esteril'\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":60,"wires":[["8e6f1ca0.1bc3d","930c09b9.05e918"]]},{"id":"7fd75cd0.3f1524","type":"MSSQL","z":"c22211.f4889df","mssqlCN":"80f1c585.625708","name":"Produccion Esteril Turno 1","outField":"payload","returnType":"0","throwErrors":"1","query":"DECLARE   @FecFin   DATETIME\r\nDECLARE   @FecTurno DATE\r\nDECLARE   @Turno    Varchar(1)\r\n\r\nSELECT   @FecTurno=FechaTurno, @Fecfin=DATEADD(day,1,FechaInicio), @Turno=Turno \r\nFROM     Modulos \r\nWHERE    TipoModulo=0\r\n\r\nSELECT   ISNULL(SUM(Capacidades.Capacidad),0) AS Cantidad\r\nFROM     Produccion INNER JOIN Capacidades ON Produccion.MaquinaAcarreo = Capacidades.CodigoMaquina AND \r\n         Produccion.Actividad = Capacidades.CodigoActividad\r\n\r\nWHERE    Produccion.Turno='1' AND Produccion.Actividad='01' AND \r\n\t\t Produccion.FechaTurno=@FecTurno ","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","params":[],"x":440,"y":300,"wires":[["e8186a03.68d808"]]},{"id":"e8186a03.68d808","type":"function","z":"c22211.f4889df","name":"Produccion Turno 1","func":"var newMsg ={payload: msg.payload[0].Cantidad};\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":300,"wires":[["a8c5ba7e.6cc918","4f39ed0.4755c14"]]},{"id":"a8c5ba7e.6cc918","type":"mqtt out","z":"c22211.f4889df","name":"cmsj/baseuno/produccionesteril/turno1","topic":"cmsj/baseuno/produccionesteril/turno1","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":1170,"y":300,"wires":[]},{"id":"60bab641.6dd238","type":"MSSQL","z":"c22211.f4889df","mssqlCN":"80f1c585.625708","name":"Produccion Esteril Turno 2","outField":"payload","returnType":"0","throwErrors":"1","query":"DECLARE   @FecFin   DATETIME\r\nDECLARE   @FecTurno DATE\r\nDECLARE   @Turno    Varchar(1)\r\n\r\nSELECT   @FecTurno=FechaTurno, @Fecfin=DATEADD(day,1,FechaInicio), @Turno=Turno \r\nFROM     Modulos \r\nWHERE    TipoModulo=0\r\n\r\nSELECT   ISNULL(SUM(Capacidades.Capacidad),0)\r\nFROM     Produccion INNER JOIN Capacidades ON Produccion.MaquinaAcarreo = Capacidades.CodigoMaquina AND \r\n         Produccion.Actividad = Capacidades.CodigoActividad\r\n\r\nWHERE    Produccion.Turno='2' AND Produccion.Actividad='01' AND \r\n\t\t Produccion.FechaTurno=@FecTurno ","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","params":[],"x":440,"y":360,"wires":[["3e7f998.2d3b166"]]},{"id":"3e7f998.2d3b166","type":"function","z":"c22211.f4889df","name":"Produccion Turno 2","func":"var newMsg ={payload: msg.payload[0][\"\"]};\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":360,"wires":[["a4648d3.2c2707","641d8948.c06fa8"]]},{"id":"a4648d3.2c2707","type":"mqtt out","z":"c22211.f4889df","name":"cmsj/baseuno/produccionesteril/turno2","topic":"cmsj/baseuno/produccionesteril/turno2","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":1170,"y":360,"wires":[]},{"id":"3459fe7c.bc3dd2","type":"MSSQL","z":"c22211.f4889df","mssqlCN":"80f1c585.625708","name":"Produccion Esteril Dia","outField":"payload","returnType":"0","throwErrors":"1","query":"DECLARE   @FecFin   DATETIME\r\nDECLARE   @FecTurno DATE\r\nDECLARE   @Turno    Varchar(1)\r\n\r\nSELECT   @FecTurno=FechaTurno, @Fecfin=DATEADD(day,1,FechaInicio), @Turno=Turno \r\nFROM     Modulos \r\nWHERE    TipoModulo=0\r\n\r\nSELECT   ISNULL(SUM(Capacidades.Capacidad),0)\r\nFROM     Produccion INNER JOIN Capacidades ON Produccion.MaquinaAcarreo = Capacidades.CodigoMaquina AND \r\n         Produccion.Actividad = Capacidades.CodigoActividad\r\n\r\nWHERE    Produccion.Actividad='01' AND \r\n\t\t Produccion.FechaTurno=@FecTurno ","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","params":[],"x":420,"y":420,"wires":[["cf3141e2.8e9f5"]]},{"id":"cf3141e2.8e9f5","type":"function","z":"c22211.f4889df","name":"Produccion Dia","func":"var newMsg ={payload: msg.payload[0][\"\"]};\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":420,"wires":[["f8bc8e07.afdba","7480283.9752ad8"]]},{"id":"f8bc8e07.afdba","type":"mqtt out","z":"c22211.f4889df","name":"cmsj/baseuno/produccionesteril/dia","topic":"cmsj/baseuno/produccionesteril/dia","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":1140,"y":420,"wires":[]},{"id":"571b66c1.d64a48","type":"MSSQL","z":"c22211.f4889df","mssqlCN":"80f1c585.625708","name":"Fecha Hora Inicio Turno","outField":"payload","returnType":"0","throwErrors":"1","query":"DECLARE   @FecFin   DATETIME\r\nDECLARE   @FecTurno DATE\r\nDECLARE   @Turno    Varchar(1)\r\n\r\nSELECT   @FecTurno=FechaTurno, @Fecfin=DATEADD(day,1,FechaInicio), @Turno=Turno \r\nFROM     Modulos \r\nWHERE    TipoModulo=0\r\n\r\nSELECT   TOP 1 FORMAT(FechaInicio, 'dd MMMM/yy hh:mm','es-ES')\r\nFROM     Produccion \r\n\r\nWHERE    Produccion.Turno=@Turno AND \r\n\t\t Produccion.FechaTurno=@FecTurno \r\nORDER BY FechaInicio\r\n","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","params":[],"x":430,"y":600,"wires":[["c60f1501.7bb7d8"]]},{"id":"32b56d3a.f2ef02","type":"MSSQL","z":"c22211.f4889df","mssqlCN":"80f1c585.625708","name":"Lluvias Turno","outField":"payload","returnType":"0","throwErrors":"1","query":"DECLARE   @FecFin   DATETIME\r\nDECLARE   @FecTurno DATE\r\nDECLARE   @Turno    Varchar(1)\r\n\r\nSELECT   @FecTurno=FechaTurno, \r\n         @Fecfin=IIF(Modulos.Turno='1',FechaInicio,DATEADD(day,1,FechaInicio)),\r\n\t\t @Turno=Turno \r\nFROM     Modulos \r\nWHERE    TipoModulo=0\r\n\r\nSELECT   ISNULL(SUM(Cantidad),0) As Cantidad\r\nFROM     Pluviometria\r\nWHERE    DATEPART(day,FechaInicio) =DATEPART(day,@FecTurno) AND DATEPART(month,FechaInicio) =DATEPART(month,@FecTurno) AND DATEPART(year,FechaInicio) =DATEPART(year,@FecTurno)\r\n","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","params":[],"x":390,"y":1000,"wires":[["4223bc4f.d8e714","e66246d.02e33b8"]]},{"id":"4223bc4f.d8e714","type":"function","z":"c22211.f4889df","name":"Lluvias Dia","func":"var newMsg ={payload: msg.payload[0].Cantidad};\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":1000,"wires":[["51d14243.3d858c","ffed4e1e.ba6fa"]]},{"id":"51d14243.3d858c","type":"mqtt out","z":"c22211.f4889df","name":"cmsj/baseuno/lluvias/dia","topic":"cmsj/baseuno/lluvias/dia","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":1110,"y":1000,"wires":[]},{"id":"d51f898e.05dd48","type":"MSSQL","z":"c22211.f4889df","mssqlCN":"80f1c585.625708","name":"Disponibilidad Mecanica","outField":"payload","returnType":"0","throwErrors":"1","query":"SET DATEFORMAT DMY\r\nDECLARE   @FecFin   DATETIME\r\nDECLARE   @FecTurno DATE\r\nDECLARE   @Turno    Varchar(1)\r\nDECLARE   @DATO FLOAT\r\n\r\nDECLARE   @HORA INT =DATEPART(HOUR,GETDATE())\r\n\r\nSELECT   @FecTurno=FechaTurno, \r\n         @Fecfin=IIF(Modulos.Turno='1',FechaInicio,DATEADD(day,1,FechaInicio)),\r\n\t\t @Turno=Turno \r\nFROM     Modulos \r\nWHERE    TipoModulo=0\r\n\r\nIF @Turno='1'\r\n\tBEGIN\r\n\t\tIF @HORA=6\r\n\t\t\tBEGIN\r\n\t\t\t\tSELECT (60-AVG(H6))/60*100 AS H1\r\n\t\t\t\tFROM dbo.ProduccionDisponibilidadMec1(@FecTurno,@Turno,GETDATE()) AS T INNER JOIN dbo.Maquinas ON T.CodigoMaquina = dbo.Maquinas.CodigoMaquina \r\n\t\t\t\tWHERE dbo.Maquinas.SumaDisponibilidad = 1\r\n\t\t\tEND\r\n\t\tIF @HORA=7\r\n\t\t\tBEGIN\r\n\t\t\t\tSELECT (60-AVG(H7))/60*100 AS H1\r\n\t\t\t\tFROM dbo.ProduccionDisponibilidadMec1(@FecTurno,@Turno,GETDATE()) AS T INNER JOIN dbo.Maquinas ON T.CodigoMaquina = dbo.Maquinas.CodigoMaquina \r\n\t\t\t\tWHERE dbo.Maquinas.SumaDisponibilidad = 1\r\n\t\t\tEND\r\n\t\tIF @HORA=8\r\n\t\t\tBEGIN\r\n\t\t\t\tSELECT (60-AVG(H8))/60*100 AS H1\r\n\t\t\t\tFROM dbo.ProduccionDisponibilidadMec1(@FecTurno,@Turno,GETDATE()) AS T INNER JOIN dbo.Maquinas ON T.CodigoMaquina = dbo.Maquinas.CodigoMaquina \r\n\t\t\t\tWHERE dbo.Maquinas.SumaDisponibilidad = 1\r\n\t\t\tEND\r\n\t\tIF @HORA=9\r\n\t\t\tBEGIN\r\n\t\t\t\tSELECT (60-AVG(H9))/60*100 AS H1\r\n\t\t\t\tFROM dbo.ProduccionDisponibilidadMec1(@FecTurno,@Turno,GETDATE()) AS T INNER JOIN dbo.Maquinas ON T.CodigoMaquina = dbo.Maquinas.CodigoMaquina \r\n\t\t\t\tWHERE dbo.Maquinas.SumaDisponibilidad = 1\r\n\t\t\tEND\r\n\t\tIF @HORA=10\r\n\t\t\tBEGIN\r\n\t\t\t\tSELECT (60-AVG(H10))/60*100 AS H1\r\n\t\t\t\tFROM dbo.ProduccionDisponibilidadMec1(@FecTurno,@Turno,GETDATE()) AS T INNER JOIN dbo.Maquinas ON T.CodigoMaquina = dbo.Maquinas.CodigoMaquina \r\n\t\t\t\tWHERE dbo.Maquinas.SumaDisponibilidad = 1\r\n\t\t\tEND\r\n\t\tIF @HORA=11\r\n\t\t\tBEGIN\r\n\t\t\t\tSELECT (60-AVG(H11))/60*100 AS H1\r\n\t\t\t\tFROM dbo.ProduccionDisponibilidadMec1(@FecTurno,@Turno,GETDATE()) AS T INNER JOIN dbo.Maquinas ON T.CodigoMaquina = dbo.Maquinas.CodigoMaquina \r\n\t\t\t\tWHERE dbo.Maquinas.SumaDisponibilidad = 1\r\n\t\t\tEND\r\n\t\tIF @HORA=12\r\n\t\t\tBEGIN\r\n\t\t\t\tSELECT (60-AVG(H12))/60*100 AS H1\r\n\t\t\t\tFROM dbo.ProduccionDisponibilidadMec1(@FecTurno,@Turno,GETDATE()) AS T INNER JOIN dbo.Maquinas ON T.CodigoMaquina = dbo.Maquinas.CodigoMaquina \r\n\t\t\t\tWHERE dbo.Maquinas.SumaDisponibilidad = 1\r\n\t\t\tEND\r\n\t\tIF @HORA=13\r\n\t\t\tBEGIN\r\n\t\t\t\tSELECT (60-AVG(H13))/60*100 AS H1\r\n\t\t\t\tFROM dbo.ProduccionDisponibilidadMec1(@FecTurno,@Turno,GETDATE()) AS T INNER JOIN dbo.Maquinas ON T.CodigoMaquina = dbo.Maquinas.CodigoMaquina \r\n\t\t\t\tWHERE dbo.Maquinas.SumaDisponibilidad = 1\r\n\t\t\tEND\r\n\t\tIF @HORA=14\r\n\t\t\tBEGIN\r\n\t\t\t\tSELECT (60-AVG(H14))/60*100 AS H1\r\n\t\t\t\tFROM dbo.ProduccionDisponibilidadMec1(@FecTurno,@Turno,GETDATE()) AS T INNER JOIN dbo.Maquinas ON T.CodigoMaquina = dbo.Maquinas.CodigoMaquina \r\n\t\t\t\tWHERE dbo.Maquinas.SumaDisponibilidad = 1\r\n\t\t\tEND\r\n\t\tIF @HORA=15\r\n\t\t\tBEGIN\r\n\t\t\t\tSELECT (60-AVG(H15))/60*100 AS H1\r\n\t\t\t\tFROM dbo.ProduccionDisponibilidadMec1(@FecTurno,@Turno,GETDATE()) AS T INNER JOIN dbo.Maquinas ON T.CodigoMaquina = dbo.Maquinas.CodigoMaquina \r\n\t\t\t\tWHERE dbo.Maquinas.SumaDisponibilidad = 1\r\n\t\t\tEND\r\n\t\tIF @HORA=16\r\n\t\t\tBEGIN\r\n\t\t\t\tSELECT (60-AVG(H16))/60*100 AS H1\r\n\t\t\t\tFROM dbo.ProduccionDisponibilidadMec1(@FecTurno,@Turno,GETDATE()) AS T INNER JOIN dbo.Maquinas ON T.CodigoMaquina = dbo.Maquinas.CodigoMaquina \r\n\t\t\t\tWHERE dbo.Maquinas.SumaDisponibilidad = 1\r\n\t\t\tEND\r\n\t\tIF @HORA=17\r\n\t\t\tBEGIN\r\n\t\t\t\tSELECT (60-AVG(H17))/60*100 AS H1\r\n\t\t\t\tFROM dbo.ProduccionDisponibilidadMec1(@FecTurno,@Turno,GETDATE()) AS T INNER JOIN dbo.Maquinas ON T.CodigoMaquina = dbo.Maquinas.CodigoMaquina \r\n\t\t\t\tWHERE dbo.Maquinas.SumaDisponibilidad = 1\r\n\t\t\tEND\r\n\tEND\r\nELSE\r\n\tBEGIN\r\n\t\tIF @HORA=18\r\n\t\t\tBEGIN\r\n\t\t\t\tSELECT (60-AVG(H6))/60*100 AS H1\r\n\t\t\t\tFROM dbo.ProduccionDisponibilidadMec2(@FecTurno,@Turno,GETDATE()) AS T INNER JOIN dbo.Maquinas ON T.CodigoMaquina = dbo.Maquinas.CodigoMaquina \r\n\t\t\t\tWHERE dbo.Maquinas.SumaDisponibilidad = 1\r\n\t\t\tEND\r\n\t\tIF @HORA=19\r\n\t\t\tBEGIN\r\n\t\t\t\tSELECT (60-AVG(H7))/60*100 AS H1\r\n\t\t\t\tFROM dbo.ProduccionDisponibilidadMec2(@FecTurno,@Turno,GETDATE()) AS T INNER JOIN dbo.Maquinas ON T.CodigoMaquina = dbo.Maquinas.CodigoMaquina \r\n\t\t\t\tWHERE dbo.Maquinas.SumaDisponibilidad = 1\r\n\t\t\tEND\r\n\t\tIF @HORA=20\r\n\t\t\tBEGIN\r\n\t\t\t\tSELECT (60-AVG(H8))/60*100 AS H1\r\n\t\t\t\tFROM dbo.ProduccionDisponibilidadMec2(@FecTurno,@Turno,GETDATE()) AS T INNER JOIN dbo.Maquinas ON T.CodigoMaquina = dbo.Maquinas.CodigoMaquina \r\n\t\t\t\tWHERE dbo.Maquinas.SumaDisponibilidad = 1\r\n\t\t\tEND\r\n\t\tIF @HORA=21\r\n\t\t\tBEGIN\r\n\t\t\t\tSELECT (60-AVG(H9))/60*100 AS H1\r\n\t\t\t\tFROM dbo.ProduccionDisponibilidadMec2(@FecTurno,@Turno,GETDATE()) AS T INNER JOIN dbo.Maquinas ON T.CodigoMaquina = dbo.Maquinas.CodigoMaquina \r\n\t\t\t\tWHERE dbo.Maquinas.SumaDisponibilidad = 1\r\n\t\t\tEND\r\n\t\tIF @HORA=22\r\n\t\t\tBEGIN\r\n\t\t\t\tSELECT (60-AVG(H10))/60*100 AS H1\r\n\t\t\t\tFROM dbo.ProduccionDisponibilidadMec2(@FecTurno,@Turno,GETDATE()) AS T INNER JOIN dbo.Maquinas ON T.CodigoMaquina = dbo.Maquinas.CodigoMaquina \r\n\t\t\t\tWHERE dbo.Maquinas.SumaDisponibilidad = 1\r\n\t\t\tEND\r\n\t\tIF @HORA=23\r\n\t\t\tBEGIN\r\n\t\t\t\tSELECT (60-AVG(H11))/60*100 AS H1\r\n\t\t\t\tFROM dbo.ProduccionDisponibilidadMec2(@FecTurno,@Turno,GETDATE()) AS T INNER JOIN dbo.Maquinas ON T.CodigoMaquina = dbo.Maquinas.CodigoMaquina \r\n\t\t\t\tWHERE dbo.Maquinas.SumaDisponibilidad = 1\r\n\t\t\tEND\r\n\t\tIF @HORA=24\r\n\t\t\tBEGIN\r\n\t\t\t\tSELECT (60-AVG(H12))/60*100 AS H1\r\n\t\t\t\tFROM dbo.ProduccionDisponibilidadMec2(@FecTurno,@Turno,GETDATE()) AS T INNER JOIN dbo.Maquinas ON T.CodigoMaquina = dbo.Maquinas.CodigoMaquina \r\n\t\t\t\tWHERE dbo.Maquinas.SumaDisponibilidad = 1\r\n\t\t\tEND\r\n\t\tIF @HORA=1\r\n\t\t\tBEGIN\r\n\t\t\t\tSELECT (60-AVG(H13))/60*100 AS H1\r\n\t\t\t\tFROM dbo.ProduccionDisponibilidadMec2(@FecTurno,@Turno,GETDATE()) AS T INNER JOIN dbo.Maquinas ON T.CodigoMaquina = dbo.Maquinas.CodigoMaquina \r\n\t\t\t\tWHERE dbo.Maquinas.SumaDisponibilidad = 1\r\n\t\t\tEND\r\n\t\tIF @HORA=2\r\n\t\t\tBEGIN\r\n\t\t\t\tSELECT (60-AVG(H14))/60*100 AS H1\r\n\t\t\t\tFROM dbo.ProduccionDisponibilidadMec2(@FecTurno,@Turno,GETDATE()) AS T INNER JOIN dbo.Maquinas ON T.CodigoMaquina = dbo.Maquinas.CodigoMaquina \r\n\t\t\t\tWHERE dbo.Maquinas.SumaDisponibilidad = 1\r\n\t\t\tEND\r\n\t\tIF @HORA=3\r\n\t\t\tBEGIN\r\n\t\t\t\tSELECT (60-AVG(H15))/60*100 AS H1\r\n\t\t\t\tFROM dbo.ProduccionDisponibilidadMec2(@FecTurno,@Turno,GETDATE()) AS T INNER JOIN dbo.Maquinas ON T.CodigoMaquina = dbo.Maquinas.CodigoMaquina \r\n\t\t\t\tWHERE dbo.Maquinas.SumaDisponibilidad = 1\r\n\t\t\tEND\r\n\t\tIF @HORA=4\r\n\t\t\tBEGIN\r\n\t\t\t\tSELECT (60-AVG(H16))/60*100 AS H1\r\n\t\t\t\tFROM dbo.ProduccionDisponibilidadMec2(@FecTurno,@Turno,GETDATE()) AS T INNER JOIN dbo.Maquinas ON T.CodigoMaquina = dbo.Maquinas.CodigoMaquina \r\n\t\t\t\tWHERE dbo.Maquinas.SumaDisponibilidad = 1\r\n\t\t\tEND\r\n\t\tIF @HORA=5\r\n\t\t\tBEGIN\r\n\t\t\t\tSELECT (60-AVG(H17))/60*100 AS H1\r\n\t\t\t\tFROM dbo.ProduccionDisponibilidadMec2(@FecTurno,@Turno,GETDATE()) AS T INNER JOIN dbo.Maquinas ON T.CodigoMaquina = dbo.Maquinas.CodigoMaquina \r\n\t\t\t\tWHERE dbo.Maquinas.SumaDisponibilidad = 1\r\n\t\t\tEND\r\n\tEND\r\n\r\n\r\n","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","params":[],"x":430,"y":680,"wires":[["55bfe228.7aee0c"]]},{"id":"f8eecaf8.4797f8","type":"mqtt out","z":"c22211.f4889df","name":"cmsj/baseuno/produccionesteril/inicio","topic":"cmsj/baseuno/produccionesteril/inicio","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":1150,"y":600,"wires":[]},{"id":"beb95d26.d157c","type":"mqtt out","z":"c22211.f4889df","name":"cmsj/baseuno/produccionesteril/Disponibilidad","topic":"cmsj/baseuno/produccionesteril/dis","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":1180,"y":680,"wires":[]},{"id":"55bfe228.7aee0c","type":"function","z":"c22211.f4889df","name":"Disponibilidad MEC Turno","func":"var newMsg ={}\n    \nnewMsg.payload=msg.payload[0].H1\nnewMsg.topic='Mecanica'\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":680,"wires":[["beb95d26.d157c","3d4c1bf9.19a7a4"]]},{"id":"5fe88d6a.7ca764","type":"MSSQL","z":"c22211.f4889df","mssqlCN":"80f1c585.625708","name":"Consumo Combustible Dia","outField":"payload","returnType":"0","throwErrors":"1","query":"DECLARE   @FecFin   DATETIME\r\nDECLARE   @FecTurno DATE\r\nDECLARE   @Turno    Varchar(1)\r\nDECLARE   @DATO FLOAT\r\n\r\nDECLARE   @HORA INT =DATEPART(HOUR,GETDATE())\r\n\r\nSELECT   @FecTurno=FechaTurno, \r\n         @Fecfin=IIF(Modulos.Turno='1',FechaInicio,DATEADD(day,1,FechaInicio)),\r\n\t\t @Turno=Turno \r\nFROM     Modulos \r\nWHERE    TipoModulo=0\r\n\r\nSELECT ISNULL(SUM(dbo.Combustible.Cantidad),0) AS Cantidad\r\nFROM dbo.Combustible INNER JOIN\r\ndbo.Maquinas ON dbo.Combustible.Maquina = dbo.Maquinas.CodigoMaquina LEFT OUTER JOIN\r\ndbo.ParosProduccion ON dbo.Combustible.IdTanqueo = dbo.ParosProduccion.IDParo\r\n    \r\nWHERE  dbo.Combustible.FechaTurno=@FecTurno ","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","params":[],"x":440,"y":1120,"wires":[["2c7d764d.27bafa"]]},{"id":"2c7d764d.27bafa","type":"function","z":"c22211.f4889df","name":"ACPM Dia","func":"var newMsg ={payload: msg.payload[0].Cantidad};\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":1120,"wires":[["bf80ef1.cfa011","4bb3ca57.702774"]]},{"id":"bf80ef1.cfa011","type":"mqtt out","z":"c22211.f4889df","name":"cmsj/baseuno/acpm/dia","topic":"cmsj/baseuno/acpm/dia","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":1150,"y":1120,"wires":[]},{"id":"fb3465b9.66e918","type":"mqtt out","z":"c22211.f4889df","name":"cmsj/baseuno/viajeshoracarbon","topic":"cmsj/baseuno/viajeshoracarbon","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":1170,"y":1360,"wires":[]},{"id":"64c39928.ba50d8","type":"MSSQL","z":"c22211.f4889df","mssqlCN":"80f1c585.625708","name":"Produccion Carbon Turno 1","outField":"payload","returnType":"0","throwErrors":"1","query":"DECLARE   @FecFin   DATETIME\r\nDECLARE   @FecTurno DATE\r\nDECLARE   @Turno    Varchar(1)\r\n\r\nSELECT   @FecTurno=FechaTurno, @Fecfin=DATEADD(day,1,FechaInicio), @Turno=Turno \r\nFROM     Modulos \r\nWHERE    TipoModulo=0\r\n\r\nSelect ROUND(ISNULL(SUM(MCB),0),2) AS Cantidad\r\nFROM dbo.Produccion INNER JOIN dbo.Maquinas ON dbo.Produccion.MaquinaAcarreo = dbo.Maquinas.CodigoMaquina LEFT OUTER JOIN dbo.Operadores ON \r\n     dbo.Produccion.OperadorCamion = dbo.Operadores.CodigoOperador \r\nWHERE FechaTurno=@FecTurno And Produccion.Turno='1' AND ( Actividad='02') \r\n","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","params":[],"x":420,"y":1440,"wires":[["b854984f.8e01d8"]]},{"id":"b854984f.8e01d8","type":"function","z":"c22211.f4889df","name":"Produccion CARBON Turno 1","func":"var newMsg ={payload: msg.payload[0].Cantidad};\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":1440,"wires":[["4ba5db1.55ab024","de0f3faa.63602"]]},{"id":"4ba5db1.55ab024","type":"mqtt out","z":"c22211.f4889df","name":"cmsj/baseuno/produccioncarbon/turno1","topic":"cmsj/baseuno/produccioncarbon/turno1","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":1140,"y":1440,"wires":[]},{"id":"4b816bef.945f54","type":"MSSQL","z":"c22211.f4889df","mssqlCN":"80f1c585.625708","name":"Produccion Carbon Turno 2","outField":"payload","returnType":"0","throwErrors":"1","query":"DECLARE   @FecFin   DATETIME\r\nDECLARE   @FecTurno DATE\r\nDECLARE   @Turno    Varchar(1)\r\n\r\nSELECT   @FecTurno=FechaTurno, @Fecfin=DATEADD(day,1,FechaInicio), @Turno=Turno \r\nFROM     Modulos \r\nWHERE    TipoModulo=0\r\n\r\nSelect ROUND(ISNULL(SUM(MCB),0),2) AS Cantidad\r\nFROM dbo.Produccion INNER JOIN dbo.Maquinas ON dbo.Produccion.MaquinaAcarreo = dbo.Maquinas.CodigoMaquina LEFT OUTER JOIN dbo.Operadores ON \r\n     dbo.Produccion.OperadorCamion = dbo.Operadores.CodigoOperador \r\nWHERE FechaTurno=@FecTurno And Produccion.Turno='2' AND ( Actividad='02') ","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","params":[],"x":420,"y":1520,"wires":[["4e060a03.2c3194"]]},{"id":"4e060a03.2c3194","type":"function","z":"c22211.f4889df","name":"Produccion CARBON Turno 2","func":"var newMsg ={payload: msg.payload[0].Cantidad};\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":1520,"wires":[["734886ee.2c8318","b25bbbd6.79d768"]]},{"id":"734886ee.2c8318","type":"mqtt out","z":"c22211.f4889df","name":"cmsj/baseuno/produccioncarbon/turno2","topic":"cmsj/baseuno/produccioncarbon/turno2","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":1140,"y":1520,"wires":[]},{"id":"f7386994.f6bf18","type":"MSSQL","z":"c22211.f4889df","mssqlCN":"80f1c585.625708","name":"Produccion Carbon DIA","outField":"payload","returnType":"0","throwErrors":"1","query":"DECLARE   @FecFin   DATETIME\r\nDECLARE   @FecTurno DATE\r\nDECLARE   @Turno    Varchar(1)\r\n\r\nSELECT   @FecTurno=FechaTurno, @Fecfin=DATEADD(day,1,FechaInicio), @Turno=Turno \r\nFROM     Modulos \r\nWHERE    TipoModulo=0\r\n\r\nSelect ROUND(ISNULL(SUM(MCB),0),2) AS Cantidad\r\nFROM dbo.Produccion INNER JOIN dbo.Maquinas ON dbo.Produccion.MaquinaAcarreo = dbo.Maquinas.CodigoMaquina LEFT OUTER JOIN dbo.Operadores ON \r\n     dbo.Produccion.OperadorCamion = dbo.Operadores.CodigoOperador \r\n\t Where FechaTurno=@FecTurno And ( Actividad='02')","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","params":[],"x":410,"y":1600,"wires":[["36d4a166.11438e"]]},{"id":"36d4a166.11438e","type":"function","z":"c22211.f4889df","name":"Produccion CARBON Dia","func":"var newMsg ={payload: msg.payload[0].Cantidad};\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":1600,"wires":[["769ac96f.7627f8","abdcf58f.64b2e8"]]},{"id":"769ac96f.7627f8","type":"mqtt out","z":"c22211.f4889df","name":"cmsj/baseuno/produccioncarbon/dia","topic":"cmsj/baseuno/produccioncarbon/dia","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":1130,"y":1600,"wires":[]},{"id":"5478f029.18f74","type":"mqtt in","z":"c22211.f4889df","name":"Equipos de Cargue","topic":"cmsj/baseuno/produccionesteril/cargue","qos":"0","datatype":"auto","broker":"1c955f16.8c63a1","x":370,"y":3500,"wires":[["dea367f8.a3fc48"]]},{"id":"dea367f8.a3fc48","type":"MSSQL","z":"c22211.f4889df","mssqlCN":"80f1c585.625708","name":"Equipos de Cargue","outField":"payload","returnType":"0","throwErrors":"1","query":"SET DATEFORMAT DMY\r\nDECLARE   @FecFin   DATETIME\r\nDECLARE   @FecTurno DATE\r\nDECLARE   @Turno    Varchar(1)\r\nDECLARE   @DATO FLOAT\r\n\r\nDECLARE   @HORA INT =DATEPART(HOUR,GETDATE())\r\n\r\nSELECT   @FecTurno=FechaTurno, \r\n         @Fecfin=IIF(Modulos.Turno='1',FechaInicio,DATEADD(day,1,FechaInicio)),\r\n\t\t @Turno=Turno \r\nFROM     Modulos \r\nWHERE    TipoModulo=0\r\n\r\nSELECT ISNULL(SUM(mcb),0) AS Cantidad\r\nFROM dbo.Produccion INNER JOIN  dbo.Actividades ON dbo.Produccion.Actividad = dbo.Actividades.CodigoActividad\r\nWHERE  FechaTurno =@FecTurno AND Produccion.Actividad='01'AND MaquinaCargue='{{{payload}}}' \r\n","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","params":[],"x":590,"y":3500,"wires":[["98a18285.39a48"]]},{"id":"46bab1e.5c8775","type":"mqtt out","z":"c22211.f4889df","name":"cmsj/baseuno/produccionesteril/cargue/datos","topic":"cmsj/baseuno/produccionesteril/cargue/datos","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":1130,"y":3500,"wires":[]},{"id":"98a18285.39a48","type":"function","z":"c22211.f4889df","name":"Produccion CARGUE","func":"var newMsg ={payload: msg.payload[0].Cantidad};\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":3500,"wires":[["46bab1e.5c8775"]]},{"id":"452ebbb4.848a14","type":"mqtt out","z":"c22211.f4889df","name":"cmsj/baseuno/produccionesteril/cargue/camiones/h9","topic":"cmsj/baseuno/produccionesteril/cargue/camiones/h9","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":1120,"y":1820,"wires":[]},{"id":"da7a9068.7813c","type":"MSSQL","z":"c22211.f4889df","mssqlCN":"80f1c585.625708","name":"Numero de Caminones Hora","outField":"payload","returnType":"0","throwErrors":"1","query":"SET DATEFORMAT DMY\r\nDECLARE   @FecFin   DATETIME\r\nDECLARE   @FecTurno DATE\r\nDECLARE   @Turno    Varchar(1)\r\nDECLARE   @DATO FLOAT\r\n\r\nDECLARE   @HORA INT =DATEPART(HOUR,GETDATE())\r\n\r\nSELECT   @FecTurno=FechaTurno, \r\n         @Fecfin=IIF(Modulos.Turno='1',FechaInicio,DATEADD(day,1,FechaInicio)),\r\n\t\t @Turno=Turno \r\nFROM     Modulos \r\nWHERE    TipoModulo=0\r\n\r\nIF @Turno=1\r\nSELECT * FROM dbo.NumeroMaquinasHora1(@FecTurno,@Turno,Getdate()) \r\nELSE\r\nSELECT * FROM dbo.NumeroMaquinasHora2(@FecTurno,@Turno,Getdate()) ","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","params":[],"x":420,"y":1760,"wires":[["a013e8f0.182428"]]},{"id":"a013e8f0.182428","type":"function","z":"c22211.f4889df","name":"Camiones Hora Esteril","func":"var newMsg1={};\nvar newMsg2={};\nvar newMsg3={};\nvar newMsg4={};\nvar newMsg5={};\nvar newMsg6={};\nvar newMsg7={};\nvar newMsg8={};\nvar newMsg9={};\nvar newMsg10={};\nvar newMsg11={};\nvar newMsg12={};\n\nnewMsg1.payload=msg.payload[0].H6;\nnewMsg1.topic='H6';\nnewMsg2.payload= msg.payload[0].H7;\nnewMsg2.topic='H7';\nnewMsg3.payload= msg.payload[0].H8;\nnewMsg3.topic='H8';\nnewMsg4.payload= msg.payload[0].H9;\nnewMsg4.topic='H9';\nnewMsg5.payload=msg.payload[0].H10;\nnewMsg5.topic='H10';\nnewMsg6.payload=msg.payload[0].H11;\nnewMsg6.topic= 'H11';\nnewMsg7.payload=msg.payload[0].H12;\nnewMsg7.topic='H12';\nnewMsg8.payload=msg.payload[0].H13;\nnewMsg8.topic= 'H1';\nnewMsg9.payload= msg.payload[0].H14;\nnewMsg9.topic= 'H2';\nnewMsg10.payload=msg.payload[0].H15;\nnewMsg10.topic='H3';\nnewMsg11.payload=msg.payload[0].H16;\nnewMsg11.topic='H4';\nnewMsg12.payload= msg.payload[0].H17;\nnewMsg12.topic='H5';\nreturn [newMsg1,newMsg2,newMsg3,newMsg4,newMsg5,newMsg6,newMsg7,newMsg8,newMsg9,newMsg10,newMsg11,newMsg12];\n","outputs":12,"noerr":0,"initialize":"","finalize":"","x":700,"y":1760,"wires":[["26cf9b14.f589e4","aedb0dd5.767ed"],["77fc9edd.ea53f","aedb0dd5.767ed"],["db3d7f72.e18a5","aedb0dd5.767ed"],["452ebbb4.848a14","aedb0dd5.767ed"],["c270c570.709108","aedb0dd5.767ed"],["2338cce4.f48aa4","aedb0dd5.767ed"],["9a31c13f.f2f6b","aedb0dd5.767ed"],["e13d02b0.876a9","aedb0dd5.767ed"],["88c015e8.111788","aedb0dd5.767ed"],["97f7bbfc.7d3928","aedb0dd5.767ed"],["16998c14.45c1d4","aedb0dd5.767ed"],["b4f9246b.79ad38","aedb0dd5.767ed"]],"info":"### ## "},{"id":"c270c570.709108","type":"mqtt out","z":"c22211.f4889df","name":"cmsj/baseuno/produccionesteril/cargue/camiones/h10","topic":"cmsj/baseuno/produccionesteril/cargue/camiones/h10","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":1120,"y":1860,"wires":[]},{"id":"db3d7f72.e18a5","type":"mqtt out","z":"c22211.f4889df","name":"cmsj/baseuno/produccionesteril/cargue/camiones/h8","topic":"cmsj/baseuno/produccionesteril/cargue/camiones/h8","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":1120,"y":1780,"wires":[]},{"id":"77fc9edd.ea53f","type":"mqtt out","z":"c22211.f4889df","name":"cmsj/baseuno/produccionesteril/cargue/camiones/h7","topic":"cmsj/baseuno/produccionesteril/cargue/camiones/h7","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":1120,"y":1740,"wires":[]},{"id":"26cf9b14.f589e4","type":"mqtt out","z":"c22211.f4889df","name":"cmsj/baseuno/produccionesteril/cargue/camiones/h6","topic":"cmsj/baseuno/produccionesteril/cargue/camiones/h6","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":1120,"y":1700,"wires":[]},{"id":"2338cce4.f48aa4","type":"mqtt out","z":"c22211.f4889df","name":"cmsj/baseuno/produccionesteril/cargue/camiones/h11","topic":"cmsj/baseuno/produccionesteril/cargue/camiones/h11","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":1120,"y":1900,"wires":[]},{"id":"9a31c13f.f2f6b","type":"mqtt out","z":"c22211.f4889df","name":"cmsj/baseuno/produccionesteril/cargue/camiones/h12","topic":"cmsj/baseuno/produccionesteril/cargue/camiones/h12","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":1120,"y":1940,"wires":[]},{"id":"e13d02b0.876a9","type":"mqtt out","z":"c22211.f4889df","name":"cmsj/baseuno/produccionesteril/cargue/camiones/h13","topic":"cmsj/baseuno/produccionesteril/cargue/camiones/h13","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":1120,"y":1980,"wires":[]},{"id":"88c015e8.111788","type":"mqtt out","z":"c22211.f4889df","name":"cmsj/baseuno/produccionesteril/cargue/camiones/h14","topic":"cmsj/baseuno/produccionesteril/cargue/camiones/h14","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":1120,"y":2020,"wires":[]},{"id":"97f7bbfc.7d3928","type":"mqtt out","z":"c22211.f4889df","name":"cmsj/baseuno/produccionesteril/cargue/camiones/h15","topic":"cmsj/baseuno/produccionesteril/cargue/camiones/h15","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":1120,"y":2060,"wires":[]},{"id":"16998c14.45c1d4","type":"mqtt out","z":"c22211.f4889df","name":"cmsj/baseuno/produccionesteril/cargue/camiones/h16","topic":"cmsj/baseuno/produccionesteril/cargue/camiones/h16","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":1120,"y":2100,"wires":[]},{"id":"b4f9246b.79ad38","type":"mqtt out","z":"c22211.f4889df","name":"cmsj/baseuno/produccionesteril/cargue/camiones/h17","topic":"cmsj/baseuno/produccionesteril/cargue/camiones/h17","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":1120,"y":2140,"wires":[]},{"id":"b0493a24.a33d48","type":"MSSQL","z":"c22211.f4889df","mssqlCN":"80f1c585.625708","name":"Viajes Palas Esteril","outField":"payload","returnType":"0","throwErrors":"1","query":"SET DATEFORMAT DMY\r\nDECLARE   @FecFin   DATETIME\r\nDECLARE   @FecTurno DATE\r\nDECLARE   @Turno    Varchar(1)\r\nDECLARE   @DATO FLOAT\r\n\r\nDECLARE   @HORA INT =DATEPART(HOUR,GETDATE())\r\n\r\nSELECT   @FecTurno=FechaTurno, \r\n         @Fecfin=IIF(Modulos.Turno='1',FechaInicio,DATEADD(day,1,FechaInicio)),\r\n\t\t @Turno=Turno \r\nFROM     Modulos \r\nWHERE    TipoModulo=0\r\n\r\nSelect MaquinaCargue AS CodigoMaquina, SUM(Viaje) as Viajes \r\nFrom produccion \r\nWhere produccion.FechaTurno=@FecTurno AND (Actividad='01' or Actividad='03' or Actividad='04')\r\nGROUP BY MaquinaCargue\r\nORDER BY SUM(Viaje) DESC","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","params":[],"x":370,"y":3000,"wires":[["eca725d0.41cca8"]]},{"id":"eca725d0.41cca8","type":"function","z":"c22211.f4889df","name":"Viajes Palas Esteril","func":"var newMsg1 ={}\nvar newMsg2 ={}\nvar newMsg3 ={}\nvar newMsg4 ={}\n    \nnewMsg1.payload=msg.payload[0].Viajes\nnewMsg1.topic=msg.payload[0].CodigoMaquina\nnewMsg2.payload=msg.payload[1].Viajes\nnewMsg2.topic=msg.payload[1].CodigoMaquina\nnewMsg3.payload=msg.payload[2].Viajes\nnewMsg3.topic=msg.payload[2].CodigoMaquina\nnewMsg4.payload=msg.payload[3].Viajes\nnewMsg4.topic=msg.payload[3].CodigoMaquina\nreturn [newMsg1,newMsg2,newMsg3,newMsg4]\n","outputs":4,"noerr":0,"initialize":"","finalize":"","x":710,"y":3000,"wires":[["8140c1bb.dc9f4","90c467bc.526618"],["c747ad55.79b82","90c467bc.526618"],["90c467bc.526618","acce9f98.d7714"],["90c467bc.526618","23f99b8b.c5f244"]],"info":"### ## "},{"id":"8140c1bb.dc9f4","type":"mqtt out","z":"c22211.f4889df","name":"cmsj/baseuno/produccionesteril/cargue/palas/p1","topic":"cmsj/baseuno/produccionesteril/cargue/palas/p1","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":1320,"y":2980,"wires":[]},{"id":"c747ad55.79b82","type":"mqtt out","z":"c22211.f4889df","name":"cmsj/baseuno/produccionesteril/cargue/palas/p2","topic":"cmsj/baseuno/produccionesteril/cargue/palas/p2","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":1320,"y":3040,"wires":[]},{"id":"7480283.9752ad8","type":"ui_gauge","z":"c22211.f4889df","name":"Esteril Dia","group":"cc9e1b09.415948","order":19,"width":3,"height":3,"gtype":"gage","title":"Dia","label":"M3","format":"{{value}}","min":0,"max":"15000","colors":["#b31b00","#e6e600","#52cb3a"],"seg1":"5000","seg2":"10000","x":890,"y":440,"wires":[]},{"id":"641d8948.c06fa8","type":"ui_gauge","z":"c22211.f4889df","name":"Esteril Turno 2","group":"cc9e1b09.415948","order":18,"width":3,"height":3,"gtype":"gage","title":"Turno 2","label":"M3","format":"{{value}}","min":0,"max":"8000","colors":["#b31b00","#e6e600","#52cb3a"],"seg1":"3000","seg2":"5000","x":900,"y":380,"wires":[]},{"id":"4f39ed0.4755c14","type":"ui_gauge","z":"c22211.f4889df","name":"Esteril Turno 1","group":"cc9e1b09.415948","order":17,"width":3,"height":3,"gtype":"gage","title":"Turno 1","label":"M3","format":"{{value}}","min":0,"max":"8000","colors":["#b31b00","#e6e600","#52cb3a"],"seg1":"3000","seg2":"5000","x":900,"y":320,"wires":[]},{"id":"4bb3ca57.702774","type":"ui_gauge","z":"c22211.f4889df","name":"Combustible dia","group":"6e9fddf6.d04d74","order":3,"width":3,"height":3,"gtype":"wave","title":"Dia","label":" Gl","format":"{{value}}","min":0,"max":"5000","colors":["#b31b00","#e6e600","#52cb3a"],"seg1":"5000","seg2":"10000","x":900,"y":1140,"wires":[]},{"id":"930c09b9.05e918","type":"ui_chart","z":"c22211.f4889df","name":"Viajes Hora","group":"cc9e1b09.415948","order":3,"width":13,"height":6,"label":"Viajes Por Turno","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"30","removeOlder":"6","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"useUTC":false,"colors":["#ed0717","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1070,"y":120,"wires":[[]]},{"id":"b5721cdb.e5f47","type":"MSSQL","z":"c22211.f4889df","mssqlCN":"80f1c585.625708","name":"Consumo Combustible MES","outField":"payload","returnType":"0","throwErrors":"1","query":"DECLARE   @FecFin   DATETIME\r\nDECLARE   @FecTurno DATE\r\nDECLARE   @Turno    Varchar(1)\r\nDECLARE   @DATO FLOAT\r\n\r\nDECLARE   @HORA INT =DATEPART(HOUR,GETDATE())\r\n\r\nSELECT   @FecTurno=FechaTurno, \r\n         @Fecfin=IIF(Modulos.Turno='1',FechaInicio,DATEADD(day,1,FechaInicio)),\r\n\t\t @Turno=Turno \r\nFROM     Modulos \r\nWHERE    TipoModulo=0\r\n\r\nSELECT ISNULL(SUM(dbo.Combustible.Cantidad),0) AS Cantidad\r\nFROM dbo.Combustible INNER JOIN\r\ndbo.Maquinas ON dbo.Combustible.Maquina = dbo.Maquinas.CodigoMaquina LEFT OUTER JOIN\r\ndbo.ParosProduccion ON dbo.Combustible.IdTanqueo = dbo.ParosProduccion.IDParo\r\n    \r\nWHERE  (DATEPART(MONTH,dbo.Combustible.FechaInicio)=DATEPART(MONTH,@FecTurno)) AND \r\n       (DATEPART(YEAR,dbo.Combustible.FechaInicio)=DATEPART(YEAR,@FecTurno))\r\n","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","params":[],"x":440,"y":1180,"wires":[["16675061.1c44d"]]},{"id":"16675061.1c44d","type":"function","z":"c22211.f4889df","name":"ACPM MES","func":"var newMsg ={payload: msg.payload[0].Cantidad};\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":1160,"wires":[["778df49.d40c10c","def4219f.f8585"]]},{"id":"778df49.d40c10c","type":"mqtt out","z":"c22211.f4889df","name":"cmsj/baseuno/acpm/mes","topic":"cmsj/baseuno/acpm/mes","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":1150,"y":1160,"wires":[]},{"id":"def4219f.f8585","type":"ui_gauge","z":"c22211.f4889df","name":"Combustible MES","group":"6e9fddf6.d04d74","order":4,"width":3,"height":3,"gtype":"wave","title":"Mes","label":" Gl","format":"{{value}}","min":0,"max":"130000","colors":["#b31b00","#e6e600","#52cb3a"],"seg1":"5000","seg2":"10000","x":910,"y":1200,"wires":[]},{"id":"2eb4bbef.419ed4","type":"MSSQL","z":"c22211.f4889df","mssqlCN":"80f1c585.625708","name":"Produccion Esteril Mes","outField":"payload","returnType":"0","throwErrors":"1","query":"DECLARE   @FecFin   DATETIME\r\nDECLARE   @FecTurno DATE\r\nDECLARE   @Turno    Varchar(1)\r\n\r\nSELECT   @FecTurno=FechaTurno, @Fecfin=DATEADD(day,1,FechaInicio), @Turno=Turno \r\nFROM     Modulos \r\nWHERE    TipoModulo=0\r\n\r\nSELECT   ISNULL(SUM(Capacidades.Capacidad),0) AS Cantidad\r\nFROM     Produccion INNER JOIN Capacidades ON Produccion.MaquinaAcarreo = Capacidades.CodigoMaquina AND \r\n         Produccion.Actividad = Capacidades.CodigoActividad\r\n\r\nWHERE    Produccion.Actividad='01' AND \r\n\t\t DATEPART(Month,Produccion.FechaTurno)=DATEPART(Month,@FecTurno) AND DATEPART(Year,Produccion.FechaTurno)=DATEPART(Year,@FecTurno)","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","params":[],"x":420,"y":480,"wires":[["d42c6c49.04efb"]]},{"id":"d42c6c49.04efb","type":"function","z":"c22211.f4889df","name":"Produccion Mes","func":"var newMsg ={payload: msg.payload[0].Cantidad};\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":480,"wires":[["421cb771.c61e98","443d925.e24e46c"]]},{"id":"421cb771.c61e98","type":"mqtt out","z":"c22211.f4889df","name":"cmsj/baseuno/produccionesteril/Mes","topic":"cmsj/baseuno/produccionesteril/mes","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":1149,"y":480,"wires":[]},{"id":"443d925.e24e46c","type":"ui_gauge","z":"c22211.f4889df","name":"Esteril Mes","group":"cc9e1b09.415948","order":20,"width":3,"height":3,"gtype":"gage","title":"Mes","label":"M3","format":"{{value}}","min":0,"max":"600000","colors":["#b31b00","#e6e600","#52cb3a"],"seg1":"250000","seg2":"300000","x":890,"y":500,"wires":[]},{"id":"5f22fc33.9c3f94","type":"MSSQL","z":"c22211.f4889df","mssqlCN":"80f1c585.625708","name":"Produccion Esteril Año","outField":"payload","returnType":"0","throwErrors":"1","query":"DECLARE   @FecFin   DATETIME\r\nDECLARE   @FecTurno DATE\r\nDECLARE   @Turno    Varchar(1)\r\n\r\nSELECT   @FecTurno=FechaTurno, @Fecfin=DATEADD(day,1,FechaInicio), @Turno=Turno \r\nFROM     Modulos \r\nWHERE    TipoModulo=0\r\n\r\nSELECT   ISNULL(SUM(Capacidades.Capacidad),0) AS Cantidad\r\nFROM     Produccion INNER JOIN Capacidades ON Produccion.MaquinaAcarreo = Capacidades.CodigoMaquina AND \r\n         Produccion.Actividad = Capacidades.CodigoActividad\r\n\r\nWHERE    Produccion.Actividad='01' AND \r\n\t\t DATEPART(Year,Produccion.FechaTurno)=DATEPART(Year,@FecTurno)","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","params":[],"x":420,"y":540,"wires":[["c4e9433f.4badd"]]},{"id":"c4e9433f.4badd","type":"function","z":"c22211.f4889df","name":"Produccion Año","func":"var newMsg ={payload: msg.payload[0].Cantidad};\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":540,"wires":[["82469633.988338"]]},{"id":"82469633.988338","type":"mqtt out","z":"c22211.f4889df","name":"cmsj/baseuno/produccionesteril/Anio","topic":"cmsj/baseuno/produccionesteril/anio","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":1149,"y":540,"wires":[]},{"id":"c60f1501.7bb7d8","type":"function","z":"c22211.f4889df","name":"Hora de Inicio","func":"var newMsg ={payload: msg.payload[0][\"\"]};\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":600,"wires":[["f8eecaf8.4797f8","518338fa.844278"]]},{"id":"aedb0dd5.767ed","type":"ui_chart","z":"c22211.f4889df","name":"Camiones x Hora","group":"cc9e1b09.415948","order":5,"width":14,"height":6,"label":"Camiones por Hora - Turno","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1010,"y":2200,"wires":[[]]},{"id":"83e0a7d6.e535d8","type":"ui_table","z":"c22211.f4889df","group":"cc9e1b09.415948","name":"Ratio Año","order":22,"width":9,"height":3,"columns":[{"field":"Mes","title":"Mes<br>Curso<br>","width":"70","align":"center","formatter":"html","formatterParams":{"target":"_blank"}},{"field":"Carbon","title":"Carbon","width":"100","align":"right","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Esteril","title":"Esteril","width":"100","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Ratio","title":"Ratio","width":"100","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"Ratio","title":"Garfico","width":"120","align":"right","formatter":"progress","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":680,"y":240,"wires":[],"info":"widthGrow:2"},{"id":"1aef2070.8e4a8","type":"MSSQL","z":"c22211.f4889df","mssqlCN":"80f1c585.625708","name":"Ratio Mensual","outField":"payload","returnType":"0","throwErrors":"1","query":"DECLARE   @FecFin   DATETIME\r\nDECLARE   @FecTurno DATE\r\nDECLARE   @Turno    Varchar(1)\r\n\r\nSELECT   @FecTurno=FechaTurno, \r\n         @Fecfin=IIF(Modulos.Turno='1',FechaInicio,DATEADD(day,1,FechaInicio)),\r\n\t\t @Turno=Turno \r\nFROM     Modulos \r\nWHERE    TipoModulo=0\r\n\r\nSELECT   DATEPART(month,Produccion.FechaFin) As Mes, FORMAT(SUM(IIF(Produccion.Actividad='01', Capacidades.Capacidad,0)),'N','en-GB') As Esteril, \r\n         FORMAT(SUM(IIF(Produccion.Actividad='02', Capacidades.Capacidad,0)),'N','en-GB') As Carbon, \r\n         FORMAT(SUM(IIF(Produccion.Actividad='01', Capacidades.Capacidad,0)) / iif(SUM(IIF(Produccion.Actividad='02', Capacidades.Capacidad,0))=0,1,SUM(IIF(Produccion.Actividad='02', Capacidades.Capacidad,0))),'N','en-GB') As Ratio\r\nFROM     Produccion INNER JOIN Capacidades ON Produccion.MaquinaAcarreo = Capacidades.CodigoMaquina AND Produccion.Actividad = Capacidades.CodigoActividad\r\nWHERE    DATEPART(year,Produccion.FechaFin)=DATEPART(year,@FecTurno)\r\nGroup By DATEPART(month,Produccion.FechaFin)\r\nOrder By DATEPART(month,Produccion.FechaFin)\r\n\r\n\t\t ","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","params":[],"x":400,"y":240,"wires":[["83e0a7d6.e535d8"]]},{"id":"d9423680.c2b938","type":"MSSQL","z":"c22211.f4889df","mssqlCN":"80f1c585.625708","name":"Viajes Otros Por Turno","outField":"payload","returnType":"0","throwErrors":"1","query":"DECLARE   @FecFin   DATETIME\r\nDECLARE   @FecTurno DATE\r\nDECLARE   @Turno    Varchar(1)\r\n\r\nSELECT   @FecTurno=FechaTurno, \r\n         @Fecfin=IIF(Modulos.Turno='1',FechaInicio,DATEADD(day,1,FechaInicio)),\r\n\t\t @Turno=Turno \r\nFROM     Modulos \r\nWHERE    TipoModulo=0\r\n\r\nSELECT  ISNULL(SUM(Viaje),0) AS Cantidad\r\n\r\nFROM    dbo.Produccion INNER JOIN\r\n        dbo.Maquinas ON dbo.Produccion.MaquinaAcarreo = dbo.Maquinas.CodigoMaquina\r\n\r\nWHERE    Produccion.FechaTurno=@FecTurno AND Produccion.Actividad<>'01' AND Produccion.Actividad<>'02' AND\r\n\t\t DATEPART(HOUR,Produccion.FechaInicio)=DATEPART(HOUR,Getdate())","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","params":[],"x":420,"y":120,"wires":[["63925341.1ab63c"]]},{"id":"63925341.1ab63c","type":"function","z":"c22211.f4889df","name":"VIAJES x HORA","func":"var newMsg={};\n\nnewMsg.payload=msg.payload[0].Cantidad;\nnewMsg.topic='Otros'\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":120,"wires":[["930c09b9.05e918","2ea78729.c0d7a8"]]},{"id":"2ea78729.c0d7a8","type":"mqtt out","z":"c22211.f4889df","name":"cmsj/baseuno/viajeshoraotros","topic":"cmsj/baseuno/viajeshoraotros","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":1130,"y":180,"wires":[]},{"id":"90c467bc.526618","type":"ui_chart","z":"c22211.f4889df","name":"Viajes x Palas - Turno","group":"cc9e1b09.415948","order":21,"width":6,"height":4,"label":"Viajes Palas Esteril","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"25","useOneColor":false,"useUTC":false,"colors":["#0996d3","#1aba17","#ff7f0e","#faea05","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":true,"x":720,"y":3100,"wires":[[]]},{"id":"b7957814.35f9a8","type":"MSSQL","z":"c22211.f4889df","mssqlCN":"80f1c585.625708","name":"Disponibilidad Mecanica","outField":"payload","returnType":"0","throwErrors":"1","query":"SET DATEFORMAT DMY\r\nDECLARE   @FecFin   DATETIME\r\nDECLARE   @FecTurno DATE\r\nDECLARE   @Turno    Varchar(1)\r\nDECLARE   @DATO FLOAT\r\n\r\nDECLARE   @HORA INT =DATEPART(HOUR,GETDATE())\r\n\r\nSELECT   @FecTurno=FechaTurno, \r\n         @Fecfin=IIF(Modulos.Turno='1',FechaInicio,DATEADD(day,1,FechaInicio)),\r\n\t\t @Turno=Turno \r\nFROM     Modulos \r\nWHERE    TipoModulo=0\r\n\r\nIF @Turno='1'\r\n\tBEGIN\r\n\t\tIF @HORA=6\r\n\t\t\tBEGIN\r\n\t\t\t\tSELECT (60-AVG(H6))/60*100 AS H1\r\n\t\t\t\tFROM dbo.ProduccionDisponibilidad1(@FecTurno,@Turno,GETDATE()) AS T INNER JOIN dbo.Maquinas ON T.CodigoMaquina = dbo.Maquinas.CodigoMaquina \r\n\t\t\t\tWHERE dbo.Maquinas.SumaDisponibilidad = 1\r\n\t\t\tEND\r\n\t\tIF @HORA=7\r\n\t\t\tBEGIN\r\n\t\t\t\tSELECT (60-AVG(H7))/60*100 AS H1\r\n\t\t\t\tFROM dbo.ProduccionDisponibilidad1(@FecTurno,@Turno,GETDATE()) AS T INNER JOIN dbo.Maquinas ON T.CodigoMaquina = dbo.Maquinas.CodigoMaquina \r\n\t\t\t\tWHERE dbo.Maquinas.SumaDisponibilidad = 1\r\n\t\t\tEND\r\n\t\tIF @HORA=8\r\n\t\t\tBEGIN\r\n\t\t\t\tSELECT (60-AVG(H8))/60*100 AS H1\r\n\t\t\t\tFROM dbo.ProduccionDisponibilidad1(@FecTurno,@Turno,GETDATE()) AS T INNER JOIN dbo.Maquinas ON T.CodigoMaquina = dbo.Maquinas.CodigoMaquina \r\n\t\t\t\tWHERE dbo.Maquinas.SumaDisponibilidad = 1\r\n\t\t\tEND\r\n\t\tIF @HORA=9\r\n\t\t\tBEGIN\r\n\t\t\t\tSELECT (60-AVG(H9))/60*100 AS H1\r\n\t\t\t\tFROM dbo.ProduccionDisponibilidad1(@FecTurno,@Turno,GETDATE()) AS T INNER JOIN dbo.Maquinas ON T.CodigoMaquina = dbo.Maquinas.CodigoMaquina \r\n\t\t\t\tWHERE dbo.Maquinas.SumaDisponibilidad = 1\r\n\t\t\tEND\r\n\t\tIF @HORA=10\r\n\t\t\tBEGIN\r\n\t\t\t\tSELECT (60-AVG(H10))/60*100 AS H1\r\n\t\t\t\tFROM dbo.ProduccionDisponibilidad1(@FecTurno,@Turno,GETDATE()) AS T INNER JOIN dbo.Maquinas ON T.CodigoMaquina = dbo.Maquinas.CodigoMaquina \r\n\t\t\t\tWHERE dbo.Maquinas.SumaDisponibilidad = 1\r\n\t\t\tEND\r\n\t\tIF @HORA=11\r\n\t\t\tBEGIN\r\n\t\t\t\tSELECT (60-AVG(H11))/60*100 AS H1\r\n\t\t\t\tFROM dbo.ProduccionDisponibilidad1(@FecTurno,@Turno,GETDATE()) AS T INNER JOIN dbo.Maquinas ON T.CodigoMaquina = dbo.Maquinas.CodigoMaquina \r\n\t\t\t\tWHERE dbo.Maquinas.SumaDisponibilidad = 1\r\n\t\t\tEND\r\n\t\tIF @HORA=12\r\n\t\t\tBEGIN\r\n\t\t\t\tSELECT (60-AVG(H12))/60*100 AS H1\r\n\t\t\t\tFROM dbo.ProduccionDisponibilidad1(@FecTurno,@Turno,GETDATE()) AS T INNER JOIN dbo.Maquinas ON T.CodigoMaquina = dbo.Maquinas.CodigoMaquina \r\n\t\t\t\tWHERE dbo.Maquinas.SumaDisponibilidad = 1\r\n\t\t\tEND\r\n\t\tIF @HORA=13\r\n\t\t\tBEGIN\r\n\t\t\t\tSELECT (60-AVG(H13))/60*100 AS H1\r\n\t\t\t\tFROM dbo.ProduccionDisponibilidad1(@FecTurno,@Turno,GETDATE()) AS T INNER JOIN dbo.Maquinas ON T.CodigoMaquina = dbo.Maquinas.CodigoMaquina \r\n\t\t\t\tWHERE dbo.Maquinas.SumaDisponibilidad = 1\r\n\t\t\tEND\r\n\t\tIF @HORA=14\r\n\t\t\tBEGIN\r\n\t\t\t\tSELECT (60-AVG(H14))/60*100 AS H1\r\n\t\t\t\tFROM dbo.ProduccionDisponibilidad1(@FecTurno,@Turno,GETDATE()) AS T INNER JOIN dbo.Maquinas ON T.CodigoMaquina = dbo.Maquinas.CodigoMaquina \r\n\t\t\t\tWHERE dbo.Maquinas.SumaDisponibilidad = 1\r\n\t\t\tEND\r\n\t\tIF @HORA=15\r\n\t\t\tBEGIN\r\n\t\t\t\tSELECT (60-AVG(H15))/60*100 AS H1\r\n\t\t\t\tFROM dbo.ProduccionDisponibilidad1(@FecTurno,@Turno,GETDATE()) AS T INNER JOIN dbo.Maquinas ON T.CodigoMaquina = dbo.Maquinas.CodigoMaquina \r\n\t\t\t\tWHERE dbo.Maquinas.SumaDisponibilidad = 1\r\n\t\t\tEND\r\n\t\tIF @HORA=16\r\n\t\t\tBEGIN\r\n\t\t\t\tSELECT (60-AVG(H16))/60*100 AS H1\r\n\t\t\t\tFROM dbo.ProduccionDisponibilidad1(@FecTurno,@Turno,GETDATE()) AS T INNER JOIN dbo.Maquinas ON T.CodigoMaquina = dbo.Maquinas.CodigoMaquina \r\n\t\t\t\tWHERE dbo.Maquinas.SumaDisponibilidad = 1\r\n\t\t\tEND\r\n\t\tIF @HORA=17\r\n\t\t\tBEGIN\r\n\t\t\t\tSELECT (60-AVG(H17))/60*100 AS H1\r\n\t\t\t\tFROM dbo.ProduccionDisponibilidad1(@FecTurno,@Turno,GETDATE()) AS T INNER JOIN dbo.Maquinas ON T.CodigoMaquina = dbo.Maquinas.CodigoMaquina \r\n\t\t\t\tWHERE dbo.Maquinas.SumaDisponibilidad = 1\r\n\t\t\tEND\r\n\tEND\r\nELSE\r\n\tBEGIN\r\n\t\tIF @HORA=18\r\n\t\t\tBEGIN\r\n\t\t\t\tSELECT (60-AVG(H6))/60*100 AS H1\r\n\t\t\t\tFROM dbo.ProduccionDisponibilidad2(@FecTurno,@Turno,GETDATE()) AS T INNER JOIN dbo.Maquinas ON T.CodigoMaquina = dbo.Maquinas.CodigoMaquina \r\n\t\t\t\tWHERE dbo.Maquinas.SumaDisponibilidad = 1\r\n\t\t\tEND\r\n\t\tIF @HORA=19\r\n\t\t\tBEGIN\r\n\t\t\t\tSELECT (60-AVG(H7))/60*100 AS H1\r\n\t\t\t\tFROM dbo.ProduccionDisponibilidad2(@FecTurno,@Turno,GETDATE()) AS T INNER JOIN dbo.Maquinas ON T.CodigoMaquina = dbo.Maquinas.CodigoMaquina \r\n\t\t\t\tWHERE dbo.Maquinas.SumaDisponibilidad = 1\r\n\t\t\tEND\r\n\t\tIF @HORA=20\r\n\t\t\tBEGIN\r\n\t\t\t\tSELECT (60-AVG(H8))/60*100 AS H1\r\n\t\t\t\tFROM dbo.ProduccionDisponibilidad2(@FecTurno,@Turno,GETDATE()) AS T INNER JOIN dbo.Maquinas ON T.CodigoMaquina = dbo.Maquinas.CodigoMaquina \r\n\t\t\t\tWHERE dbo.Maquinas.SumaDisponibilidad = 1\r\n\t\t\tEND\r\n\t\tIF @HORA=21\r\n\t\t\tBEGIN\r\n\t\t\t\tSELECT (60-AVG(H9))/60*100 AS H1\r\n\t\t\t\tFROM dbo.ProduccionDisponibilidad2(@FecTurno,@Turno,GETDATE()) AS T INNER JOIN dbo.Maquinas ON T.CodigoMaquina = dbo.Maquinas.CodigoMaquina \r\n\t\t\t\tWHERE dbo.Maquinas.SumaDisponibilidad = 1\r\n\t\t\tEND\r\n\t\tIF @HORA=22\r\n\t\t\tBEGIN\r\n\t\t\t\tSELECT (60-AVG(H10))/60*100 AS H1\r\n\t\t\t\tFROM dbo.ProduccionDisponibilidad2(@FecTurno,@Turno,GETDATE()) AS T INNER JOIN dbo.Maquinas ON T.CodigoMaquina = dbo.Maquinas.CodigoMaquina \r\n\t\t\t\tWHERE dbo.Maquinas.SumaDisponibilidad = 1\r\n\t\t\tEND\r\n\t\tIF @HORA=23\r\n\t\t\tBEGIN\r\n\t\t\t\tSELECT (60-AVG(H11))/60*100 AS H1\r\n\t\t\t\tFROM dbo.ProduccionDisponibilidad2(@FecTurno,@Turno,GETDATE()) AS T INNER JOIN dbo.Maquinas ON T.CodigoMaquina = dbo.Maquinas.CodigoMaquina \r\n\t\t\t\tWHERE dbo.Maquinas.SumaDisponibilidad = 1\r\n\t\t\tEND\r\n\t\tIF @HORA=24\r\n\t\t\tBEGIN\r\n\t\t\t\tSELECT (60-AVG(H12))/60*100 AS H1\r\n\t\t\t\tFROM dbo.ProduccionDisponibilidad2(@FecTurno,@Turno,GETDATE()) AS T INNER JOIN dbo.Maquinas ON T.CodigoMaquina = dbo.Maquinas.CodigoMaquina \r\n\t\t\t\tWHERE dbo.Maquinas.SumaDisponibilidad = 1\r\n\t\t\tEND\r\n\t\tIF @HORA=1\r\n\t\t\tBEGIN\r\n\t\t\t\tSELECT (60-AVG(H13))/60*100 AS H1\r\n\t\t\t\tFROM dbo.ProduccionDisponibilidad2(@FecTurno,@Turno,GETDATE()) AS T INNER JOIN dbo.Maquinas ON T.CodigoMaquina = dbo.Maquinas.CodigoMaquina \r\n\t\t\t\tWHERE dbo.Maquinas.SumaDisponibilidad = 1\r\n\t\t\tEND\r\n\t\tIF @HORA=2\r\n\t\t\tBEGIN\r\n\t\t\t\tSELECT (60-AVG(H14))/60*100 AS H1\r\n\t\t\t\tFROM dbo.ProduccionDisponibilidad2(@FecTurno,@Turno,GETDATE()) AS T INNER JOIN dbo.Maquinas ON T.CodigoMaquina = dbo.Maquinas.CodigoMaquina \r\n\t\t\t\tWHERE dbo.Maquinas.SumaDisponibilidad = 1\r\n\t\t\tEND\r\n\t\tIF @HORA=3\r\n\t\t\tBEGIN\r\n\t\t\t\tSELECT (60-AVG(H15))/60*100 AS H1\r\n\t\t\t\tFROM dbo.ProduccionDisponibilidad2(@FecTurno,@Turno,GETDATE()) AS T INNER JOIN dbo.Maquinas ON T.CodigoMaquina = dbo.Maquinas.CodigoMaquina \r\n\t\t\t\tWHERE dbo.Maquinas.SumaDisponibilidad = 1\r\n\t\t\tEND\r\n\t\tIF @HORA=4\r\n\t\t\tBEGIN\r\n\t\t\t\tSELECT (60-AVG(H16))/60*100 AS H1\r\n\t\t\t\tFROM dbo.ProduccionDisponibilidad2(@FecTurno,@Turno,GETDATE()) AS T INNER JOIN dbo.Maquinas ON T.CodigoMaquina = dbo.Maquinas.CodigoMaquina \r\n\t\t\t\tWHERE dbo.Maquinas.SumaDisponibilidad = 1\r\n\t\t\tEND\r\n\t\tIF @HORA=5\r\n\t\t\tBEGIN\r\n\t\t\t\tSELECT (60-AVG(H17))/60*100 AS H1\r\n\t\t\t\tFROM dbo.ProduccionDisponibilidad2(@FecTurno,@Turno,GETDATE()) AS T INNER JOIN dbo.Maquinas ON T.CodigoMaquina = dbo.Maquinas.CodigoMaquina \r\n\t\t\t\tWHERE dbo.Maquinas.SumaDisponibilidad = 1\r\n\t\t\tEND\r\n\tEND\r\n\r\n\r\n","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","params":[],"x":430,"y":740,"wires":[["76f27aa3.cffa94"]]},{"id":"76f27aa3.cffa94","type":"function","z":"c22211.f4889df","name":"Disponibilidad MEC Turno","func":"var newMsg ={}\n    \nnewMsg.payload=msg.payload[0].H1\nnewMsg.topic='Produccion'\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":740,"wires":[["3d4c1bf9.19a7a4"]]},{"id":"3d4c1bf9.19a7a4","type":"ui_chart","z":"c22211.f4889df","name":"Disp Total","group":"1dededbb.05a1d2","order":1,"width":10,"height":5,"label":"Disponibilidad Total","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"4","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"useUTC":false,"colors":["#ed0717","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":920,"y":720,"wires":[[]]},{"id":"69cdaa45.7e0fe4","type":"MSSQL","z":"c22211.f4889df","mssqlCN":"80f1c585.625708","name":"Disponibilidad Mecanica x Flota","outField":"payload","returnType":"0","throwErrors":"1","query":"SET DATEFORMAT DMY\r\nDECLARE @FECINI   DATETIME\r\nDECLARE @FECFIN   DATETIME\r\nDECLARE @MINUTOS  INT\r\nDECLARE @FecFinTu DATETIME\r\nDECLARE @FecIniTu DATETIME\r\nDECLARE @FecTurno DATETIME\r\nDECLARE @Turno    Varchar(1)\r\n\r\nSELECT   @FecTurno=FechaTurno, \r\n\t\t @FecIniTu=FechaInicio,\r\n         @FecfinTu=DATEADD(Hour,12,FechaInicio),\r\n\t\t @Turno=Turno \r\nFROM     Modulos \r\nWHERE    TipoModulo=0\r\n\r\nSET @FECINI=@FecIniTu\r\nSET @FECFIN=@FecfinTu            \r\nSET @MINUTOS=DATEDIFF(Mi,@FECINI,@FECFIN)\r\n\r\nSELECT   Maquinas.Tipo, \r\n\t\t SUM(IIF(ParosProduccion.CodigoParo='01' ,DATEDIFF(MI, ParosProduccion.FechaInicio, ParosProduccion.FechaFin),0)) AS MinutosMecanicos,\r\n\t\t SUM(IIF(ParosProduccion.CodigoParo='01' AND ParosDetalle.EsMantenimientoPreventivo=1,DATEDIFF(MI, ParosProduccion.FechaInicio, ParosProduccion.FechaFin),0)) AS MinutosMecanicosPrev,\r\n\t\t SUM(IIF(ParosProduccion.CodigoParo='01' AND ParosDetalle.EsMantenimientoPreventivo=0,DATEDIFF(MI, ParosProduccion.FechaInicio, ParosProduccion.FechaFin),0)) AS MinutosMecanicosCorr,\r\n\t\t SUM(IIF(ParosProduccion.CodigoParo='02' ,DATEDIFF(MI, ParosProduccion.FechaInicio, ParosProduccion.FechaFin),0)) AS MinutosProduccion, \r\n\t\t SUM(IIF(ParosProduccion.CodigoParo='03' ,DATEDIFF(MI, ParosProduccion.FechaInicio, ParosProduccion.FechaFin),0)) AS MinutosStandBy, \r\n\t\t SUM(IIF(ParosProduccion.CodigoParo='00' ,DATEDIFF(MI, ParosProduccion.FechaInicio, ParosProduccion.FechaFin),0)) AS MinutosInicio, \r\n\t\t COUNT(*) AS Paradas, \r\n\t\t (SELECT Count(*) FROM Maquinas AS MQ WHERE MQ.SumaDisponibilidad = 1 AND MQ.Estado=1 AND MQ.Tipo=Maquinas.Tipo) AS NumeroMaquinas , \r\n\t\t (SELECT Count(*) FROM Maquinas AS MQ WHERE MQ.SumaDisponibilidad = 1 AND MQ.Estado=1 AND MQ.Tipo=Maquinas.Tipo)*@MINUTOS AS MinutosIntervalo\r\n\t\t \r\nFROM     ParosProduccion INNER JOIN\r\n         Maquinas ON ParosProduccion.CodigoMaquina = Maquinas.CodigoMaquina INNER JOIN\r\n         ParosDetalle ON ParosProduccion.CodigoDetalle = ParosDetalle.CodigoParoDetalle AND ParosProduccion.CodigoParo = ParosDetalle.CodigoParo\r\nWHERE    (ParosProduccion.FechaInicio >= @FECINI) AND (ParosProduccion.FechaFin <= @FECFIN) AND \r\n\t\t Maquinas.SumaDisponibilidad=1 AND Maquinas.Estado=1\r\nGROUP BY Maquinas.Tipo\r\n\r\n","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","params":[],"x":450,"y":800,"wires":[["56858004.b1b24"]]},{"id":"56858004.b1b24","type":"function","z":"c22211.f4889df","name":"Camiones Hora","func":"var newMsg1={}\nvar newMsg2={}\nvar newMsg3={}\nvar newMsg4={}\nvar newMsg5={}\nvar newMsg6={}\nvar newMsg7={}\nvar newMsg8={}\n\nnewMsg1.payload=(msg.payload[0].MinutosIntervalo-msg.payload[0].MinutosMecanicos)/msg.payload[0].MinutosIntervalo*100\nnewMsg1.topic=msg.payload[0].Tipo\n\nnewMsg2.payload=(msg.payload[1].MinutosIntervalo-msg.payload[1].MinutosMecanicos)/msg.payload[1].MinutosIntervalo*100\nnewMsg2.topic=msg.payload[1].Tipo\nnewMsg3.payload=(msg.payload[2].MinutosIntervalo-msg.payload[2].MinutosMecanicos)/msg.payload[2].MinutosIntervalo*100\nnewMsg3.topic=msg.payload[2].Tipo\nnewMsg4.payload=(msg.payload[3].MinutosIntervalo-msg.payload[3].MinutosMecanicos)/msg.payload[3].MinutosIntervalo*100\nnewMsg4.topic=msg.payload[3].Tipo\nnewMsg5.payload=(msg.payload[4].MinutosIntervalo-msg.payload[4].MinutosMecanicos)/msg.payload[4].MinutosIntervalo*100\nnewMsg5.topic=msg.payload[4].Tipo\nnewMsg6.payload=(msg.payload[5].MinutosIntervalo-msg.payload[5].MinutosMecanicos)/msg.payload[5].MinutosIntervalo*100\nnewMsg6.topic=msg.payload[5].Tipo\nnewMsg7.payload=(msg.payload[6].MinutosIntervalo-msg.payload[6].MinutosMecanicos)/msg.payload[6].MinutosIntervalo*100\nnewMsg7.topic=msg.payload[6].Tipo\nnewMsg8.payload=(msg.payload[7].MinutosIntervalo-msg.payload[7].MinutosMecanicos)/msg.payload[7].MinutosIntervalo*100\nnewMsg8.topic=msg.payload[7].Tipo\n\nreturn [newMsg1,newMsg2,newMsg3,newMsg4,newMsg5,newMsg6,newMsg7,newMsg8];\n","outputs":8,"noerr":0,"initialize":"","finalize":"","x":1080,"y":800,"wires":[["7bec4c89.cd06a4"],["7bec4c89.cd06a4"],["7bec4c89.cd06a4"],["7bec4c89.cd06a4"],["7bec4c89.cd06a4"],["7bec4c89.cd06a4"],["7bec4c89.cd06a4"],["7bec4c89.cd06a4"]],"info":"### ## "},{"id":"7bec4c89.cd06a4","type":"ui_chart","z":"c22211.f4889df","name":"Disponibilidad x Flota","group":"1dededbb.05a1d2","order":3,"width":16,"height":5,"label":"Disponibilidad Mecanica por Flota","chartType":"horizontalBar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1360,"y":780,"wires":[[]]},{"id":"518338fa.844278","type":"ui_text","z":"c22211.f4889df","group":"cc9e1b09.415948","order":1,"width":6,"height":1,"name":"","label":"Inicio de Cargue","format":"{{msg.payload}}","layout":"row-left","x":900,"y":620,"wires":[]},{"id":"b6b1493a.059f88","type":"MSSQL","z":"c22211.f4889df","mssqlCN":"80f1c585.625708","name":"Consumo Combustible Turno 1","outField":"payload","returnType":"0","throwErrors":"1","query":"DECLARE   @FecFin   DATETIME\r\nDECLARE   @FecTurno DATE\r\nDECLARE   @Turno    Varchar(1)\r\nDECLARE   @DATO FLOAT\r\n\r\nDECLARE   @HORA INT =DATEPART(HOUR,GETDATE())\r\n\r\nSELECT   @FecTurno=FechaTurno, \r\n         @Fecfin=IIF(Modulos.Turno='1',FechaInicio,DATEADD(day,1,FechaInicio)),\r\n\t\t @Turno=Turno \r\nFROM     Modulos \r\nWHERE    TipoModulo=0\r\n\r\nSELECT ISNULL(SUM(dbo.Combustible.Cantidad),0) AS Cantidad\r\nFROM dbo.Combustible INNER JOIN\r\ndbo.Maquinas ON dbo.Combustible.Maquina = dbo.Maquinas.CodigoMaquina LEFT OUTER JOIN\r\ndbo.ParosProduccion ON dbo.Combustible.IdTanqueo = dbo.ParosProduccion.IDParo\r\n    \r\nWHERE  dbo.Combustible.FechaTurno=@FecTurno AND @Turno='1'\r\n","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","params":[],"x":450,"y":1240,"wires":[["8c6d3cd7.321"]]},{"id":"8c6d3cd7.321","type":"function","z":"c22211.f4889df","name":"ACPM Turno 1","func":"var newMsg ={payload: msg.payload[0].Cantidad};\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":1220,"wires":[["8742b17b.b671","731956a4.a604d8"]]},{"id":"8742b17b.b671","type":"ui_gauge","z":"c22211.f4889df","name":"Combustible Turno 1","group":"6e9fddf6.d04d74","order":1,"width":3,"height":3,"gtype":"wave","title":"Turno 1","label":" Gl","format":"{{value}}","min":0,"max":"5000","colors":["#b31b00","#e6e600","#52cb3a"],"seg1":"5000","seg2":"10000","x":920,"y":1260,"wires":[]},{"id":"de0f3faa.63602","type":"ui_gauge","z":"c22211.f4889df","name":"Carbon Turno 1","group":"15de3705.68f0d9","order":1,"width":3,"height":3,"gtype":"gage","title":"Turno 1","label":"Toneladas","format":"{{value}}","min":0,"max":"2000","colors":["#b31b00","#e6e600","#52cb3a"],"seg1":"800","seg2":"1200","x":980,"y":1480,"wires":[]},{"id":"b25bbbd6.79d768","type":"ui_gauge","z":"c22211.f4889df","name":"Carbon Turno 2","group":"15de3705.68f0d9","order":2,"width":3,"height":3,"gtype":"gage","title":"Turno 2","label":"Toneladas","format":"{{value}}","min":0,"max":"2000","colors":["#b31b00","#e6e600","#52cb3a"],"seg1":"800","seg2":"1200","x":980,"y":1560,"wires":[]},{"id":"abdcf58f.64b2e8","type":"ui_gauge","z":"c22211.f4889df","name":"Carbon Dia","group":"15de3705.68f0d9","order":5,"width":3,"height":3,"gtype":"gage","title":"Dia","label":"Toneladas","format":"{{value}}","min":0,"max":"4000","colors":["#b31b00","#e6e600","#52cb3a"],"seg1":"1500","seg2":"3000","x":970,"y":1640,"wires":[]},{"id":"25c02e79.691962","type":"MSSQL","z":"c22211.f4889df","mssqlCN":"80f1c585.625708","name":"Paros  x Flota","outField":"payload","returnType":"0","throwErrors":"1","query":"SET DATEFORMAT DMY\r\nDECLARE @FECINI   DATETIME\r\nDECLARE @FECFIN   DATETIME\r\nDECLARE @MINUTOS  INT\r\nDECLARE @FecFinTu DATETIME\r\nDECLARE @FecIniTu DATETIME\r\nDECLARE @FecTurno DATETIME\r\nDECLARE @Turno    Varchar(1)\r\n\r\nSELECT   @FecTurno=FechaTurno, \r\n\t\t @FecIniTu=FechaInicio,\r\n         @FecfinTu=DATEADD(Hour,12,FechaInicio),\r\n\t\t @Turno=Turno \r\nFROM     Modulos \r\nWHERE    TipoModulo=0\r\n\r\nSET @FECINI=@FecIniTu\r\nSET @FECFIN=@FecfinTu            \r\nSET @MINUTOS=DATEDIFF(Mi,@FECINI,@FECFIN)\r\n\r\nSELECT   Maquinas.Tipo, \r\n\t\t SUM(IIF(ParosProduccion.CodigoParo='01' ,DATEDIFF(MI, ParosProduccion.FechaInicio, ParosProduccion.FechaFin),0)) AS MinutosMecanicos,\r\n\t\t SUM(IIF(ParosProduccion.CodigoParo='01' AND ParosDetalle.EsMantenimientoPreventivo=1,DATEDIFF(MI, ParosProduccion.FechaInicio, ParosProduccion.FechaFin),0)) AS MinutosMecanicosPrev,\r\n\t\t SUM(IIF(ParosProduccion.CodigoParo='01' AND ParosDetalle.EsMantenimientoPreventivo=0,DATEDIFF(MI, ParosProduccion.FechaInicio, ParosProduccion.FechaFin),0)) AS MinutosMecanicosCorr,\r\n\t\t SUM(IIF(ParosProduccion.CodigoParo='02' ,DATEDIFF(MI, ParosProduccion.FechaInicio, ParosProduccion.FechaFin),0)) AS MinutosProduccion, \r\n\t\t SUM(IIF(ParosProduccion.CodigoParo='03' ,DATEDIFF(MI, ParosProduccion.FechaInicio, ParosProduccion.FechaFin),0)) AS MinutosStandBy, \r\n\t\t SUM(IIF(ParosProduccion.CodigoParo='00' ,DATEDIFF(MI, ParosProduccion.FechaInicio, ParosProduccion.FechaFin),0)) AS MinutosInicio, \r\n\t\t COUNT(*) AS Paradas, \r\n\t\t (SELECT Count(*) FROM Maquinas AS MQ WHERE MQ.SumaDisponibilidad = 1 AND MQ.Estado=1 AND MQ.Tipo=Maquinas.Tipo) AS NumeroMaquinas , \r\n\t\t (SELECT Count(*) FROM Maquinas AS MQ WHERE MQ.SumaDisponibilidad = 1 AND MQ.Estado=1 AND MQ.Tipo=Maquinas.Tipo)*@MINUTOS AS MinutosIntervalo,\r\n\t\t \r\n\t\t IIF(SUM(IIF(ParosProduccion.CodigoParo='01' ,DATEDIFF(MI, ParosProduccion.FechaInicio, ParosProduccion.FechaFin),0))=0,0,\r\n\t\t ROUND(CAST(SUM(IIF(ParosProduccion.CodigoParo='01' AND ParosDetalle.EsMantenimientoPreventivo=1,DATEDIFF(MI, ParosProduccion.FechaInicio, ParosProduccion.FechaFin),0)) AS FLOAT)/\r\n\t\t CAST(SUM(IIF(ParosProduccion.CodigoParo='01' ,DATEDIFF(MI, ParosProduccion.FechaInicio, ParosProduccion.FechaFin),0)) AS FLOAT),2))*100 AS PorMecanicosPrev,\r\n\t\t \r\n\t\t IIF(SUM(IIF(ParosProduccion.CodigoParo='01' ,DATEDIFF(MI, ParosProduccion.FechaInicio, ParosProduccion.FechaFin),0))=0,0,\t\t\r\n\t\t ROUND(CAST(SUM(IIF(ParosProduccion.CodigoParo='01' AND ParosDetalle.EsMantenimientoPreventivo=0,DATEDIFF(MI, ParosProduccion.FechaInicio, ParosProduccion.FechaFin),0)) AS FLOAT)/\r\n\t\t CAST(SUM(IIF(ParosProduccion.CodigoParo='01' ,DATEDIFF(MI, ParosProduccion.FechaInicio, ParosProduccion.FechaFin),0)) AS FLOAT),2))*100 AS PorMecanicosCorr\r\nFROM     ParosProduccion INNER JOIN\r\n         Maquinas ON ParosProduccion.CodigoMaquina = Maquinas.CodigoMaquina INNER JOIN\r\n         ParosDetalle ON ParosProduccion.CodigoDetalle = ParosDetalle.CodigoParoDetalle AND ParosProduccion.CodigoParo = ParosDetalle.CodigoParo\r\nWHERE    (ParosProduccion.FechaInicio >= @FECINI) AND (ParosProduccion.FechaFin <= @FECFIN) AND \r\n\t\t Maquinas.SumaDisponibilidad=1 AND Maquinas.Estado=1\r\nGROUP BY Maquinas.Tipo\r\n","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","params":[],"x":390,"y":860,"wires":[["9b6bce2b.5339e"]]},{"id":"9b6bce2b.5339e","type":"ui_table","z":"c22211.f4889df","group":"1dededbb.05a1d2","name":"","order":15,"width":15,"height":5,"columns":[{"field":"Tipo","title":"Tipo","width":"120","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"NumeroMaquinas","title":"Numero<br>Maquinas","width":"100","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"MinutosMecanicos","title":"Paros<br>Mecanicos","width":"120","align":"right","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"MinutosMecanicosPrev","title":"Paros<br>Mecanicos<br>Preventivos","width":"120","align":"right","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"MinutosMecanicosCorr","title":"Paros<br>Mecanicos<br>Correctivos","width":"120","align":"right","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"PorMecanicosPre","title":"Pocentaje<br>Paros<br>Preventivos","width":"120","align":"right","formatter":"progress","formatterParams":{"target":"_blank"}},{"field":"PorMecanicosCorr","title":"Pocentaje<br>Paros<br>Correctivos","width":"120","align":"right","formatter":"progress","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":670,"y":860,"wires":[]},{"id":"e94170af.ec5da","type":"MSSQL","z":"c22211.f4889df","mssqlCN":"80f1c585.625708","name":"Disponibilidad Mecanica x Flota","outField":"payload","returnType":"0","throwErrors":"1","query":"SET DATEFORMAT DMY\r\nDECLARE @FECINI   DATETIME\r\nDECLARE @FECFIN   DATETIME\r\nDECLARE @MINUTOS  INT\r\nDECLARE @FecFinTu DATETIME\r\nDECLARE @FecIniTu DATETIME\r\nDECLARE @FecTurno DATETIME\r\nDECLARE @Turno    Varchar(1)\r\n\r\nSELECT   @FecTurno=FechaTurno, \r\n\t\t @FecIniTu=FechaInicio,\r\n         @FecfinTu=DATEADD(Hour,12,FechaInicio),\r\n\t\t @Turno=Turno \r\nFROM     Modulos \r\nWHERE    TipoModulo=0\r\n\r\nSET @FECINI=@FecIniTu\r\nSET @FECFIN=@FecfinTu            \r\nSET @MINUTOS=DATEDIFF(Mi,@FECINI,@FECFIN)\r\n\r\nSELECT   \r\n\t\t SUM(IIF(ParosProduccion.CodigoParo='01' ,1,0)) AS Mecanicos,\r\n--\t\t SUM(IIF(ParosProduccion.CodigoParo='01' AND ParosDetalle.EsMantenimientoPreventivo=1,1,0)) AS MinutosMecanicosPrev,\r\n--\t\t SUM(IIF(ParosProduccion.CodigoParo='01' AND ParosDetalle.EsMantenimientoPreventivo=0,1,0)) AS MinutosMecanicosCorr,\r\n\t\t SUM(IIF(ParosProduccion.CodigoParo='02' ,1,0)) AS Produccion, \r\n\t\t SUM(IIF(ParosProduccion.CodigoParo='03' ,1,0)) AS StandBy,\r\n\t\t SUM(IIF(ParosProduccion.CodigoParo='00' ,1,0)) AS Arranque,\r\n\t\t COUNT(*) AS Paradas, \r\n\t\t (SELECT Count(*) FROM Maquinas AS MQ WHERE MQ.SumaDisponibilidad = 1 AND MQ.Estado=1 ) AS NumeroMaquinas , \r\n\t\t (SELECT Count(*) FROM Maquinas AS MQ WHERE MQ.SumaDisponibilidad = 1 AND MQ.Estado=1 )*@MINUTOS AS MinutosIntervalo\r\n\t\t \r\nFROM     ParosProduccion INNER JOIN\r\n         Maquinas ON ParosProduccion.CodigoMaquina = Maquinas.CodigoMaquina INNER JOIN\r\n         ParosDetalle ON ParosProduccion.CodigoDetalle = ParosDetalle.CodigoParoDetalle AND ParosProduccion.CodigoParo = ParosDetalle.CodigoParo\r\nWHERE    (ParosProduccion.FechaInicio >= @FECINI) AND (ParosProduccion.FechaFin <= @FECFIN) AND \r\n\t\t Maquinas.SumaDisponibilidad=1 AND Maquinas.Estado=1","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","params":[],"x":450,"y":940,"wires":[["42aade61.be08b"]]},{"id":"42aade61.be08b","type":"function","z":"c22211.f4889df","name":"Camiones Hora","func":"var newMsg1={}\nvar newMsg2={}\nvar newMsg3={}\nvar newMsg4={}\n\nnewMsg1.payload=msg.payload[0].Mecanicos\nnewMsg1.topic='Meca'\n\nnewMsg2.payload=msg.payload[0].Produccion\nnewMsg2.topic='Prod'\n\nnewMsg3.payload=msg.payload[0].StandBy\nnewMsg3.topic='Stand'\n\nnewMsg4.payload=msg.payload[0].Paradas\nnewMsg4.topic='Paros'\n\n\nreturn [newMsg1,newMsg2,newMsg3,newMsg4];\n","outputs":4,"noerr":0,"initialize":"","finalize":"","x":1080,"y":940,"wires":[["8ab77c43.2e575"],["8ab77c43.2e575"],["8ab77c43.2e575"],["8ab77c43.2e575"]],"info":"### ## "},{"id":"8ab77c43.2e575","type":"ui_chart","z":"c22211.f4889df","name":"Tipos de Paros","group":"1dededbb.05a1d2","order":13,"width":10,"height":5,"label":"Tipos de Paros","chartType":"bar","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1370,"y":940,"wires":[[]]},{"id":"8f70a8c5.23dc88","type":"MSSQL","z":"c22211.f4889df","mssqlCN":"80f1c585.625708","name":"Viajes Carbon Por Turno","outField":"payload","returnType":"0","throwErrors":"1","query":"DECLARE   @FecFin   DATETIME\r\nDECLARE   @FecTurno DATE\r\nDECLARE   @Turno    Varchar(1)\r\n\r\nSELECT   @FecTurno=FechaTurno, \r\n         @Fecfin=IIF(Modulos.Turno='1',FechaInicio,DATEADD(day,1,FechaInicio)),\r\n\t\t @Turno=Turno \r\nFROM     Modulos \r\nWHERE    TipoModulo=0\r\n\r\nSELECT  ISNULL(SUM(Viaje),0) AS Cantidad\r\n\r\nFROM    dbo.Produccion INNER JOIN\r\n        dbo.Maquinas ON dbo.Produccion.MaquinaAcarreo = dbo.Maquinas.CodigoMaquina\r\n\r\nWHERE    Produccion.FechaTurno=@FecTurno AND Produccion.Actividad='02' AND\r\n\t\t DATEPART(HOUR,Produccion.FechaInicio)=DATEPART(HOUR,Getdate())","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","params":[],"x":410,"y":1360,"wires":[["249de435.6939ec"]]},{"id":"249de435.6939ec","type":"function","z":"c22211.f4889df","name":"VIAJES x HORA","func":"var newMsg={};\n\nnewMsg.payload=msg.payload[0].Cantidad;\nnewMsg.topic='Carbon'\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":1360,"wires":[["27862b19.aeddf4","fb3465b9.66e918"]]},{"id":"27862b19.aeddf4","type":"ui_chart","z":"c22211.f4889df","name":"Viajes Hora Carbon","group":"15de3705.68f0d9","order":3,"width":12,"height":6,"label":"Viajes Por Turno Carbon","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"30","removeOlder":"6","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"useUTC":false,"colors":["#ed0717","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":910,"y":1400,"wires":[[]]},{"id":"13df3822.760dd8","type":"MSSQL","z":"c22211.f4889df","mssqlCN":"80f1c585.625708","name":"Numero de Caminones Hora Carbon","outField":"payload","returnType":"0","throwErrors":"1","query":"SET DATEFORMAT DMY\r\nDECLARE   @FecFin   DATETIME\r\nDECLARE   @FecTurno DATE\r\nDECLARE   @Turno    Varchar(1)\r\nDECLARE   @DATO FLOAT\r\n\r\nDECLARE   @HORA INT =DATEPART(HOUR,GETDATE())\r\n\r\nSELECT   @FecTurno=FechaTurno, \r\n         @Fecfin=IIF(Modulos.Turno='1',FechaInicio,DATEADD(day,1,FechaInicio)),\r\n\t\t @Turno=Turno \r\nFROM     Modulos \r\nWHERE    TipoModulo=0\r\n\r\nIF @Turno=1\r\nSELECT * FROM dbo.NumeroMaquinasHoraActividad1(@FecTurno,@Turno,Getdate(),'02') \r\nELSE\r\nSELECT * FROM dbo.NumeroMaquinasHoraActividad2(@FecTurno,@Turno,Getdate(),'02') ","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","params":[],"x":450,"y":2360,"wires":[["5405eec1.65c9b"]]},{"id":"5405eec1.65c9b","type":"function","z":"c22211.f4889df","name":"Camiones Hora Carbon","func":"var newMsg1={};\nvar newMsg2={};\nvar newMsg3={};\nvar newMsg4={};\nvar newMsg5={};\nvar newMsg6={};\nvar newMsg7={};\nvar newMsg8={};\nvar newMsg9={};\nvar newMsg10={};\nvar newMsg11={};\nvar newMsg12={};\n\nnewMsg1.payload=msg.payload[0].H6;\nnewMsg1.topic='H6';\nnewMsg2.payload= msg.payload[0].H7;\nnewMsg2.topic='H7';\nnewMsg3.payload= msg.payload[0].H8;\nnewMsg3.topic='H8';\nnewMsg4.payload= msg.payload[0].H9;\nnewMsg4.topic='H9';\nnewMsg5.payload=msg.payload[0].H10;\nnewMsg5.topic='H10';\nnewMsg6.payload=msg.payload[0].H11;\nnewMsg6.topic= 'H11';\nnewMsg7.payload=msg.payload[0].H12;\nnewMsg7.topic='H12';\nnewMsg8.payload=msg.payload[0].H13;\nnewMsg8.topic= 'H1';\nnewMsg9.payload= msg.payload[0].H14;\nnewMsg9.topic= 'H2';\nnewMsg10.payload=msg.payload[0].H15;\nnewMsg10.topic='H3';\nnewMsg11.payload=msg.payload[0].H16;\nnewMsg11.topic='H4';\nnewMsg12.payload= msg.payload[0].H17;\nnewMsg12.topic='H5';\nreturn [newMsg1,newMsg2,newMsg3,newMsg4,newMsg5,newMsg6,newMsg7,newMsg8,newMsg9,newMsg10,newMsg11,newMsg12];\n","outputs":12,"noerr":0,"initialize":"","finalize":"","x":750,"y":2360,"wires":[["a22edfcc.4626c","c0e53832.7d4eb8"],["5fd7d154.995ef","c0e53832.7d4eb8"],["616fa739.cc3ee8","c0e53832.7d4eb8"],["1af01a49.75f6a6","c0e53832.7d4eb8"],["8d7949ee.401958","c0e53832.7d4eb8"],["60615bf0.7025f4","c0e53832.7d4eb8"],["a236609e.b9d1b","c0e53832.7d4eb8"],["75fb0d6f.e2b324","c0e53832.7d4eb8"],["d1a7f60d.043808","c0e53832.7d4eb8"],["c3a42ed0.2d6b3","c0e53832.7d4eb8"],["9b7b1f13.5622a","c0e53832.7d4eb8"],["42815235.7a1dec","c0e53832.7d4eb8"]],"info":"### ## "},{"id":"a22edfcc.4626c","type":"mqtt out","z":"c22211.f4889df","name":"cmsj/baseuno/produccion/carbon/cargue/camiones/h6","topic":"cmsj/baseuno/produccion/carbon/cargue/camiones/h6","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":1160,"y":2300,"wires":[]},{"id":"5fd7d154.995ef","type":"mqtt out","z":"c22211.f4889df","name":"cmsj/baseuno/produccion/carbon/cargue/camiones/h7","topic":"cmsj/baseuno/produccion/carbon/cargue/camiones/h7","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":1160,"y":2340,"wires":[]},{"id":"616fa739.cc3ee8","type":"mqtt out","z":"c22211.f4889df","name":"cmsj/baseuno/produccion/carbon/cargue/camiones/h8","topic":"cmsj/baseuno/produccion/carbon/cargue/camiones/h8","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":1160,"y":2380,"wires":[]},{"id":"1af01a49.75f6a6","type":"mqtt out","z":"c22211.f4889df","name":"cmsj/baseuno/produccion/carbon/cargue/camiones/h9","topic":"cmsj/baseuno/produccion/carbon/cargue/camiones/h9","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":1160,"y":2420,"wires":[]},{"id":"8d7949ee.401958","type":"mqtt out","z":"c22211.f4889df","name":"cmsj/baseuno/produccion/carbon/cargue/camiones/h10","topic":"cmsj/baseuno/produccion/carbon/cargue/camiones/h10","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":1160,"y":2460,"wires":[]},{"id":"60615bf0.7025f4","type":"mqtt out","z":"c22211.f4889df","name":"cmsj/baseuno/produccion/carbon/cargue/camiones/h11","topic":"cmsj/baseuno/produccion/carbon/cargue/camiones/h11","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":1160,"y":2500,"wires":[]},{"id":"a236609e.b9d1b","type":"mqtt out","z":"c22211.f4889df","name":"cmsj/baseuno/produccion/carbon/cargue/camiones/h12","topic":"cmsj/baseuno/produccion/carbon/cargue/camiones/h12","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":1160,"y":2540,"wires":[]},{"id":"75fb0d6f.e2b324","type":"mqtt out","z":"c22211.f4889df","name":"cmsj/baseuno/produccion/carbon/cargue/camiones/h13","topic":"cmsj/baseuno/produccion/carbon/cargue/camiones/h13","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":1160,"y":2580,"wires":[]},{"id":"d1a7f60d.043808","type":"mqtt out","z":"c22211.f4889df","name":"cmsj/baseuno/produccion/carbon/cargue/camiones/h14","topic":"cmsj/baseuno/produccion/carbon/cargue/camiones/h14","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":1160,"y":2620,"wires":[]},{"id":"c3a42ed0.2d6b3","type":"mqtt out","z":"c22211.f4889df","name":"cmsj/baseuno/produccion/carbon/cargue/camiones/h15","topic":"cmsj/baseuno/produccion/carbon/cargue/camiones/h15","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":1160,"y":2660,"wires":[]},{"id":"9b7b1f13.5622a","type":"mqtt out","z":"c22211.f4889df","name":"cmsj/baseuno/produccion/carbon/cargue/camiones/h16","topic":"cmsj/baseuno/produccion/carbon/cargue/camiones/h16","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":1160,"y":2700,"wires":[]},{"id":"42815235.7a1dec","type":"mqtt out","z":"c22211.f4889df","name":"cmsj/baseuno/produccion/carbon/cargue/camiones/h17","topic":"cmsj/baseuno/produccion/carbon/cargue/camiones/h17","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":1160,"y":2740,"wires":[]},{"id":"c0e53832.7d4eb8","type":"ui_chart","z":"c22211.f4889df","name":"Camiones x Hora","group":"15de3705.68f0d9","order":4,"width":12,"height":6,"label":"Camiones por Hora - Turno","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1050,"y":2800,"wires":[[]]},{"id":"3a4b1b71.2415c4","type":"MSSQL","z":"c22211.f4889df","mssqlCN":"80f1c585.625708","name":"Produccion Carbon MES","outField":"payload","returnType":"0","throwErrors":"1","query":"DECLARE   @FecFin   DATETIME\r\nDECLARE   @FecTurno DATE\r\nDECLARE   @Turno    Varchar(1)\r\n\r\nSELECT   @FecTurno=FechaTurno, @Fecfin=DATEADD(day,1,FechaInicio), @Turno=Turno \r\nFROM     Modulos \r\nWHERE    TipoModulo=0\r\n\r\nSELECT   ISNULL(SUM(Capacidades.Capacidad),0) AS Cantidad\r\nFROM     Produccion INNER JOIN Capacidades ON Produccion.MaquinaAcarreo = Capacidades.CodigoMaquina AND \r\n         Produccion.Actividad = Capacidades.CodigoActividad\r\n\r\nWHERE    Produccion.Actividad='02' AND \r\n\t\t DATEPART(Month,Produccion.FechaTurno)=DATEPART(Month,@FecTurno) AND DATEPART(Year,Produccion.FechaTurno)=DATEPART(Year,@FecTurno)","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","params":[],"x":390,"y":2880,"wires":[["fd6f920f.86289"]]},{"id":"fd6f920f.86289","type":"function","z":"c22211.f4889df","name":"Produccion CARBON MES","func":"var newMsg ={payload: msg.payload[0].Cantidad};\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":2880,"wires":[["3300805e.b4993","e09cd04f.8fd86"]]},{"id":"e09cd04f.8fd86","type":"ui_gauge","z":"c22211.f4889df","name":"Carbon Mes","group":"15de3705.68f0d9","order":6,"width":3,"height":3,"gtype":"gage","title":"Mes","label":"Toneladas","format":"{{value}}","min":0,"max":"60000","colors":["#b31b00","#e6e600","#52cb3a"],"seg1":"25000","seg2":"50000","x":950,"y":2940,"wires":[]},{"id":"3300805e.b4993","type":"mqtt out","z":"c22211.f4889df","name":"cmsj/baseuno/produccioncarbon/dia","topic":"cmsj/baseuno/produccioncarbon/mes","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":1110,"y":2880,"wires":[]},{"id":"17886b89.111c44","type":"MSSQL","z":"c22211.f4889df","mssqlCN":"80f1c585.625708","name":"Consumo Combustible Turno 2","outField":"payload","returnType":"0","throwErrors":"1","query":"DECLARE   @FecFin   DATETIME\r\nDECLARE   @FecTurno DATE\r\nDECLARE   @Turno    Varchar(1)\r\nDECLARE   @DATO FLOAT\r\n\r\nDECLARE   @HORA INT =DATEPART(HOUR,GETDATE())\r\n\r\nSELECT   @FecTurno=FechaTurno, \r\n         @Fecfin=IIF(Modulos.Turno='1',FechaInicio,DATEADD(day,1,FechaInicio)),\r\n\t\t @Turno=Turno \r\nFROM     Modulos \r\nWHERE    TipoModulo=0\r\n\r\nSELECT ISNULL(SUM(dbo.Combustible.Cantidad),0) AS Cantidad\r\nFROM dbo.Combustible INNER JOIN\r\ndbo.Maquinas ON dbo.Combustible.Maquina = dbo.Maquinas.CodigoMaquina LEFT OUTER JOIN\r\ndbo.ParosProduccion ON dbo.Combustible.IdTanqueo = dbo.ParosProduccion.IDParo\r\n    \r\nWHERE  dbo.Combustible.FechaTurno=@FecTurno AND @Turno='2'\r\n","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","params":[],"x":450,"y":1300,"wires":[["9e644f76.3b097"]]},{"id":"9e644f76.3b097","type":"function","z":"c22211.f4889df","name":"ACPM Turno 2","func":"var newMsg ={payload: msg.payload[0].Cantidad};\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":1280,"wires":[["bf71866d.7c5af8","4d5c0d03.1c1bb4"]]},{"id":"bf71866d.7c5af8","type":"ui_gauge","z":"c22211.f4889df","name":"Combustible Turno 2","group":"6e9fddf6.d04d74","order":2,"width":3,"height":3,"gtype":"wave","title":"Turno 2","label":" Gl","format":"{{value}}","min":0,"max":"5000","colors":["#b31b00","#e6e600","#52cb3a"],"seg1":"5000","seg2":"10000","x":920,"y":1320,"wires":[]},{"id":"731956a4.a604d8","type":"mqtt out","z":"c22211.f4889df","name":"cmsj/baseuno/acpm/turno1","topic":"cmsj/baseuno/acpm/turno1","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":1160,"y":1220,"wires":[]},{"id":"4d5c0d03.1c1bb4","type":"mqtt out","z":"c22211.f4889df","name":"cmsj/baseuno/acpm/turno2","topic":"cmsj/baseuno/acpm/turno2","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":1160,"y":1280,"wires":[]},{"id":"280b942d.7595dc","type":"MSSQL","z":"c22211.f4889df","mssqlCN":"80f1c585.625708","name":"Lluvias Mes","outField":"payload","returnType":"0","throwErrors":"1","query":"DECLARE   @FecFin   DATETIME\r\nDECLARE   @FecTurno DATE\r\nDECLARE   @Turno    Varchar(1)\r\n\r\nSELECT   @FecTurno=FechaTurno, \r\n         @Fecfin=IIF(Modulos.Turno='1',FechaInicio,DATEADD(day,1,FechaInicio)),\r\n\t\t @Turno=Turno \r\nFROM     Modulos \r\nWHERE    TipoModulo=0\r\n\r\nSELECT   ISNULL(SUM(Cantidad),0) As Cantidad\r\nFROM     Pluviometria\r\nWHERE    DATEPART(month,FechaInicio) =DATEPART(month,@FecTurno) AND DATEPART(year,FechaInicio) =DATEPART(year,@FecTurno)\r\n\r\n","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","params":[],"x":390,"y":1060,"wires":[["a816119a.db5e1"]]},{"id":"a816119a.db5e1","type":"function","z":"c22211.f4889df","name":"Lluvias Mes","func":"var newMsg ={payload: msg.payload[0].Cantidad};\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":1060,"wires":[["58a609b2.1ef238","c783d2c1.ca0a1"]]},{"id":"58a609b2.1ef238","type":"mqtt out","z":"c22211.f4889df","name":"cmsj/baseuno/lluvias/mes","topic":"cmsj/baseuno/lluvias/mes","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":1110,"y":1060,"wires":[]},{"id":"ffed4e1e.ba6fa","type":"ui_gauge","z":"c22211.f4889df","name":"Lluvias dia","group":"6e9fddf6.d04d74","order":11,"width":3,"height":3,"gtype":"wave","title":"Dia","label":"mm","format":"{{value}}","min":0,"max":"50","colors":["#b31b00","#e6e600","#52cb3a"],"seg1":"5000","seg2":"10000","x":890,"y":1020,"wires":[]},{"id":"c783d2c1.ca0a1","type":"ui_gauge","z":"c22211.f4889df","name":"Lluvias MES","group":"6e9fddf6.d04d74","order":12,"width":3,"height":3,"gtype":"wave","title":"Mes","label":"mm","format":"{{value}}","min":0,"max":"250","colors":["#b31b00","#e6e600","#52cb3a"],"seg1":"5000","seg2":"10000","x":890,"y":1080,"wires":[]},{"id":"e66246d.02e33b8","type":"ui_template","z":"c22211.f4889df","group":"6e9fddf6.d04d74","name":"","order":6,"width":6,"height":1,"format":"<div layout=\"row\" layout-align=\"start center\">\n  <span flex style=\"color: green\"><strong>Estadisticas de Lluvias</strong></span>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":560,"y":1020,"wires":[[]]},{"id":"1b9b63a5.e2488c","type":"MSSQL","z":"c22211.f4889df","mssqlCN":"80f1c585.625708","name":"Viajes Palas Carbon","outField":"payload","returnType":"0","throwErrors":"1","query":"SET DATEFORMAT DMY\r\nDECLARE   @FecFin   DATETIME\r\nDECLARE   @FecTurno DATE\r\nDECLARE   @Turno    Varchar(1)\r\nDECLARE   @DATO FLOAT\r\n\r\nDECLARE   @HORA INT =DATEPART(HOUR,GETDATE())\r\n\r\nSELECT   @FecTurno=FechaTurno, \r\n         @Fecfin=IIF(Modulos.Turno='1',FechaInicio,DATEADD(day,1,FechaInicio)),\r\n\t\t @Turno=Turno \r\nFROM     Modulos \r\nWHERE    TipoModulo=0\r\n\r\nSelect MaquinaCargue AS CodigoMaquina, SUM(Viaje) As Viajes\r\nFrom produccion \r\nWhere produccion.FechaTurno=@FecTurno AND Actividad='02'\r\nGROUP BY MaquinaCargue","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"editor","params":[],"x":380,"y":3300,"wires":[["4a27823.b9c7a7c"]]},{"id":"4a27823.b9c7a7c","type":"function","z":"c22211.f4889df","name":"Viajes Palas Carbon","func":"var newMsg1 ={}\nvar newMsg2 ={}\n\n    \nnewMsg1.payload=msg.payload[0].Viajes\nnewMsg1.topic=msg.payload[0].CodigoMaquina\nnewMsg2.payload=msg.payload[1].Viajes\nnewMsg2.topic=msg.payload[1].CodigoMaquina\n/*newMsg3.payload=msg.payload[2].Viajes\nnewMsg3.topic=msg.payload[2].CodigoMaquina\n*/\nreturn [newMsg1,newMsg2]\n","outputs":3,"noerr":0,"initialize":"","finalize":"","x":700,"y":3280,"wires":[["99de990e.353b88","3e372947.58d6b6"],["3e372947.58d6b6","8e471256.20018"],["3e372947.58d6b6"]],"info":"### ## "},{"id":"99de990e.353b88","type":"mqtt out","z":"c22211.f4889df","name":"cmsj/baseuno/produccioncarbon/cargue/palas/p1","topic":"cmsj/baseuno/produccioncarbon/cargue/palas/p1","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":1330,"y":3300,"wires":[]},{"id":"3e372947.58d6b6","type":"ui_chart","z":"c22211.f4889df","name":"Viajes Palas Carbon","group":"15de3705.68f0d9","order":8,"width":5,"height":4,"label":"Viajes Palas Carbon","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":"25","useOneColor":false,"useUTC":false,"colors":["#0996d3","#1aba17","#ff7f0e","#faea05","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":true,"x":700,"y":3360,"wires":[[]]},{"id":"8e471256.20018","type":"mqtt out","z":"c22211.f4889df","name":"cmsj/baseuno/produccioncarbon/cargue/palas/p2","topic":"cmsj/baseuno/produccioncarbon/cargue/palas/p2","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":1330,"y":3360,"wires":[]},{"id":"acce9f98.d7714","type":"mqtt out","z":"c22211.f4889df","name":"cmsj/baseuno/produccionesteril/cargue/palas/p3","topic":"cmsj/baseuno/produccionesteril/cargue/palas/p3","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":1320,"y":3100,"wires":[]},{"id":"23f99b8b.c5f244","type":"mqtt out","z":"c22211.f4889df","name":"cmsj/baseuno/produccionesteril/cargue/palas/p4","topic":"cmsj/baseuno/produccionesteril/cargue/palas/p4","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":1320,"y":3160,"wires":[]},{"id":"307122e2.59942e","type":"inject","z":"99424abe.6bb598","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"600","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":400,"wires":[["83201d1f.2e21","5255cc61.b046b4","f03e82bb.b069f","715099e0.e396a8","ad6b5595.8dbe88","e4dc4cc8.d16d5","91accb73.a54c38","a51b4439.145b08","f155ae5f.8829d","a4b5e5cc.545828","6ce9886b.e129f8","e5e243f0.4d0a5","f2cbcb48.629b28","34b5d2d6.b1bc1e"]]},{"id":"83201d1f.2e21","type":"MSSQL","z":"99424abe.6bb598","mssqlCN":"a6f39ba0.30c088","name":"","outField":"payload","returnType":0,"throwErrors":1,"query":"SET DATEFORMAT DMY\nDECLARE @FEC Date=GetDate()\nSELECT * FROM FT_DB_CarbonPlanTurno(@FEC,1,1)\n","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"none","params":[],"x":420,"y":60,"wires":[["17524e44.4b4eb2"]]},{"id":"17524e44.4b4eb2","type":"function","z":"99424abe.6bb598","name":"Produccion Turno 1","func":"var newMsg1={};\nvar newMsg2={};\n\nnewMsg1.payload=msg.payload[0].Neto;\nnewMsg1.topic='Neto'\n\nnewMsg2.payload=msg.payload[0].Pto;\nnewMsg2.topic='Pto'\n\nreturn [newMsg1,newMsg2];\n\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":650,"y":60,"wires":[["f0495405.5ce2a8"],[]]},{"id":"f0495405.5ce2a8","type":"mqtt out","z":"99424abe.6bb598","name":"cifpl/produccion/general/turno1/real","topic":"cifpl/produccion/general/turno1/real","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":980,"y":40,"wires":[]},{"id":"5255cc61.b046b4","type":"MSSQL","z":"99424abe.6bb598","mssqlCN":"a6f39ba0.30c088","name":"","outField":"payload","returnType":0,"throwErrors":1,"query":"SET DATEFORMAT DMY\nDECLARE @FEC Date=GetDate()\nSELECT * FROM FT_DB_CarbonPlanTurno(@FEC,2,1)\n","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"none","params":[],"x":420,"y":120,"wires":[["4dac5c83.f027e4"]]},{"id":"4dac5c83.f027e4","type":"function","z":"99424abe.6bb598","name":"Produccion Turno 2","func":"var newMsg1={};\nvar newMsg2={};\n\nnewMsg1.payload=msg.payload[0].Neto;\nnewMsg1.topic='Neto'\n\nnewMsg2.payload=msg.payload[0].Pto;\nnewMsg2.topic='Pto'\n\nreturn [newMsg1,newMsg2];\n\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":650,"y":120,"wires":[["d281339b.1ed7f"],[]]},{"id":"d281339b.1ed7f","type":"mqtt out","z":"99424abe.6bb598","name":"cifpl/produccion/general/turno2/real","topic":"cifpl/produccion/general/turno2/real","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":980,"y":100,"wires":[]},{"id":"f03e82bb.b069f","type":"MSSQL","z":"99424abe.6bb598","mssqlCN":"a6f39ba0.30c088","name":"","outField":"payload","returnType":0,"throwErrors":1,"query":"SET DATEFORMAT DMY\nDECLARE @FEC Date=GetDate()\nSELECT * FROM FT_DB_CarbonPlanDia(@FEC,1)\n","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"none","params":[],"x":420,"y":180,"wires":[["f9242dff.82142"]]},{"id":"f9242dff.82142","type":"function","z":"99424abe.6bb598","name":"Produccion Dia","func":"var newMsg1={};\nvar newMsg2={};\n\nnewMsg1.payload=msg.payload[0].Neto;\nnewMsg1.topic='Neto'\n\nnewMsg2.payload=msg.payload[0].Pto;\nnewMsg2.topic='Pto'\n\nreturn [newMsg1,newMsg2];\n\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":640,"y":180,"wires":[["dec5dbaf.e01ad8"],[]]},{"id":"dec5dbaf.e01ad8","type":"mqtt out","z":"99424abe.6bb598","name":"cifpl/produccion/general/dia/real","topic":"cifpl/produccion/general/dia/real","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":970,"y":160,"wires":[]},{"id":"715099e0.e396a8","type":"MSSQL","z":"99424abe.6bb598","mssqlCN":"a6f39ba0.30c088","name":"","outField":"payload","returnType":0,"throwErrors":1,"query":"SET DATEFORMAT DMY\nDECLARE @FEC Date=GetDate()\nSELECT * FROM FT_DB_CarbonPlanMes(@FEC,1)\n","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"none","params":[],"x":420,"y":240,"wires":[["891dad0e.bf34b"]]},{"id":"891dad0e.bf34b","type":"function","z":"99424abe.6bb598","name":"Produccion Mes","func":"var newMsg1={};\nvar newMsg2={};\n\nnewMsg1.payload=msg.payload[0].Neto;\nnewMsg1.topic='Neto'\n\nnewMsg2.payload=msg.payload[0].Pto;\nnewMsg2.topic='Pto'\n\nreturn [newMsg1,newMsg2];\n\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":640,"y":240,"wires":[["48bfdd62.9c6b34"],[]]},{"id":"48bfdd62.9c6b34","type":"mqtt out","z":"99424abe.6bb598","name":"cifpl/produccion/general/mes/real","topic":"cifpl/produccion/general/mes/real","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":980,"y":220,"wires":[]},{"id":"ad6b5595.8dbe88","type":"MSSQL","z":"99424abe.6bb598","mssqlCN":"a6f39ba0.30c088","name":"","outField":"payload","returnType":0,"throwErrors":1,"query":"SET DATEFORMAT DMY\nDECLARE @FEC Date=GetDate()\nSELECT * FROM FT_DB_CarbonPlanAnio(@FEC,1)\n","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"none","params":[],"x":420,"y":300,"wires":[["9030501d.36625"]]},{"id":"9030501d.36625","type":"function","z":"99424abe.6bb598","name":"Produccion Anio","func":"var newMsg1={};\nvar newMsg2={};\n\nnewMsg1.payload=msg.payload[0].Neto;\nnewMsg1.topic='Neto'\n\nnewMsg2.payload=msg.payload[0].Pto;\nnewMsg2.topic='Pto'\n\nreturn [newMsg1,newMsg2];\n\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":640,"y":300,"wires":[["628a8cc0.40a4e4"],[]]},{"id":"628a8cc0.40a4e4","type":"mqtt out","z":"99424abe.6bb598","name":"cifpl/produccion/general/anio/real","topic":"cifpl/produccion/general/anio/real","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":980,"y":280,"wires":[]},{"id":"8b9daee0.2aea2","type":"mqtt out","z":"99424abe.6bb598","name":"cifpl/despachos/general/turno1/real","topic":"cifpl/despachos/general/turno1/real","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":980,"y":340,"wires":[]},{"id":"e4dc4cc8.d16d5","type":"MSSQL","z":"99424abe.6bb598","mssqlCN":"a6f39ba0.30c088","name":"","outField":"payload","returnType":0,"throwErrors":1,"query":"SET DATEFORMAT DMY\nDECLARE @FEC Date=GetDate()\nSELECT * FROM FT_DB_CarbonPlanTurno(@FEC,1,2)\n","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"none","params":[],"x":420,"y":360,"wires":[["22ab589c.b26ec8"]]},{"id":"22ab589c.b26ec8","type":"function","z":"99424abe.6bb598","name":"Despachos Turno 1","func":"var newMsg1={};\nvar newMsg2={};\n\nnewMsg1.payload=msg.payload[0].Neto;\nnewMsg1.topic='Neto'\n\nnewMsg2.payload=msg.payload[0].Pto;\nnewMsg2.topic='Pto'\n\nreturn [newMsg1,newMsg2];\n\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":650,"y":360,"wires":[["8b9daee0.2aea2"],[]]},{"id":"91accb73.a54c38","type":"MSSQL","z":"99424abe.6bb598","mssqlCN":"a6f39ba0.30c088","name":"","outField":"payload","returnType":0,"throwErrors":1,"query":"SET DATEFORMAT DMY\nDECLARE @FEC Date=GetDate()\nSELECT * FROM FT_DB_CarbonPlanMes(@FEC,2)\n","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"none","params":[],"x":420,"y":540,"wires":[["4d82f985.2fd2a8"]]},{"id":"4d82f985.2fd2a8","type":"function","z":"99424abe.6bb598","name":"Despachos Mes","func":"var newMsg1={};\nvar newMsg2={};\n\nnewMsg1.payload=msg.payload[0].Neto;\nnewMsg1.topic='Neto'\n\nnewMsg2.payload=msg.payload[0].Pto;\nnewMsg2.topic='Pto'\n\nreturn [newMsg1,newMsg2];\n\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":640,"y":540,"wires":[["74ada951.933d98"],[]]},{"id":"74ada951.933d98","type":"mqtt out","z":"99424abe.6bb598","name":"cifpl/despachos/general/mes/real","topic":"cifpl/despachos/general/mes/real","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":980,"y":520,"wires":[]},{"id":"a51b4439.145b08","type":"MSSQL","z":"99424abe.6bb598","mssqlCN":"a6f39ba0.30c088","name":"","outField":"payload","returnType":0,"throwErrors":1,"query":"SET DATEFORMAT DMY\nDECLARE @FEC Date=GetDate()\nSELECT * FROM FT_DB_CarbonPlanTurno(@FEC,2,2)\n","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"none","params":[],"x":420,"y":420,"wires":[["51ac4e60.8401a"]]},{"id":"51ac4e60.8401a","type":"function","z":"99424abe.6bb598","name":"Despachos Turno 2","func":"var newMsg1={};\nvar newMsg2={};\n\nnewMsg1.payload=msg.payload[0].Neto;\nnewMsg1.topic='Neto'\n\nnewMsg2.payload=msg.payload[0].Pto;\nnewMsg2.topic='Pto'\n\nreturn [newMsg1,newMsg2];\n\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":650,"y":420,"wires":[["fa745e1d.8be8"],[]]},{"id":"fa745e1d.8be8","type":"mqtt out","z":"99424abe.6bb598","name":"cifpl/despachos/general/turno2/real","topic":"cifpl/despachos/general/turno2/real","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":980,"y":400,"wires":[]},{"id":"f155ae5f.8829d","type":"MSSQL","z":"99424abe.6bb598","mssqlCN":"a6f39ba0.30c088","name":"","outField":"payload","returnType":0,"throwErrors":1,"query":"SET DATEFORMAT DMY\nDECLARE @FEC Date=GetDate()\nSELECT * FROM FT_DB_CarbonPlanDia(@FEC,2)\n","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"none","params":[],"x":420,"y":480,"wires":[["9d4a0874.4795f8"]]},{"id":"9d4a0874.4795f8","type":"function","z":"99424abe.6bb598","name":"Despachos Dia","func":"var newMsg1={};\nvar newMsg2={};\n\nnewMsg1.payload=msg.payload[0].Neto;\nnewMsg1.topic='Neto'\n\nnewMsg2.payload=msg.payload[0].Pto;\nnewMsg2.topic='Pto'\n\nreturn [newMsg1,newMsg2];\n\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":640,"y":480,"wires":[["88971fc9.88887"],[]]},{"id":"88971fc9.88887","type":"mqtt out","z":"99424abe.6bb598","name":"cifpl/despachos/general/dia/real","topic":"cifpl/despachos/general/dia/real","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":970,"y":460,"wires":[]},{"id":"a4b5e5cc.545828","type":"MSSQL","z":"99424abe.6bb598","mssqlCN":"a6f39ba0.30c088","name":"","outField":"payload","returnType":0,"throwErrors":1,"query":"SET DateFormat DMY\nDECLARE @Turno int\nDECLARE @FechaTurno Date\nDECLARE @Fecha Datetime=Getdate()\n\nEXEC PA_FechaTurno_Turno @Fecha, @Turno OUTPUT\nEXEC PA_FechaTurno_FechaTurno @Fecha, @FechaTurno OUTPUT\n\nSELECT  ISNULL(Count(*),0) AS Cantidad\nFROM    Bascula INNER JOIN Lotes ON Bascula.NumeroTransaccion = Lotes.IdLote\nWHERE   Bascula.TransaccionOrigen='LT' And  Bascula.Estado='AC' And Lotes.Operador=1 And FechaTurno=@FechaTurno AND DATEPART(HOUR,FechaLleno)=DATEPART(HOUR,GETDATE())-5\n","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"none","params":[],"x":420,"y":600,"wires":[["aa6edbf7.8d7058"]]},{"id":"aa6edbf7.8d7058","type":"function","z":"99424abe.6bb598","name":"Viajes x Hora x Operador","func":"var newMsg={};\n\nnewMsg.payload=msg.payload[0].Cantidad;\nnewMsg.topic='Operador1'\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":600,"wires":[["8010d29b.4b053"]]},{"id":"8010d29b.4b053","type":"mqtt out","z":"99424abe.6bb598","name":"cifpl/produccion/operador/1/hora","topic":"cifpl/produccion/operador/1/hora","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":970,"y":580,"wires":[]},{"id":"6ce9886b.e129f8","type":"MSSQL","z":"99424abe.6bb598","mssqlCN":"a6f39ba0.30c088","name":"","outField":"payload","returnType":0,"throwErrors":1,"query":"SET DateFormat DMY\nDECLARE @Turno int\nDECLARE @FechaTurno Date\nDECLARE @Fecha Datetime=Getdate()\n\nEXEC PA_FechaTurno_Turno @Fecha, @Turno OUTPUT\nEXEC PA_FechaTurno_FechaTurno @Fecha, @FechaTurno OUTPUT\n\nSELECT  ISNULL(Count(*),0) AS Cantidad\nFROM    Bascula INNER JOIN Lotes ON Bascula.NumeroTransaccion = Lotes.IdLote\nWHERE   Bascula.TransaccionOrigen='LT' And  Bascula.Estado='AC' And Lotes.Operador=2 And FechaTurno=@FechaTurno AND DATEPART(HOUR,FechaLleno)=DATEPART(HOUR,GETDATE())-5\n","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"none","params":[],"x":420,"y":660,"wires":[["95801c93.bd8a8"]]},{"id":"95801c93.bd8a8","type":"function","z":"99424abe.6bb598","name":"Viajes x Hora x Operador","func":"var newMsg={};\n\nnewMsg.payload=msg.payload[0].Cantidad;\nnewMsg.topic='Operador1'\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":660,"wires":[["7d207d09.160a44"]]},{"id":"7d207d09.160a44","type":"mqtt out","z":"99424abe.6bb598","name":"cifpl/produccion/operador/2/hora","topic":"cifpl/produccion/operador/2/hora","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":970,"y":640,"wires":[]},{"id":"e5e243f0.4d0a5","type":"MSSQL","z":"99424abe.6bb598","mssqlCN":"a6f39ba0.30c088","name":"","outField":"payload","returnType":0,"throwErrors":1,"query":"SET DateFormat DMY\nDECLARE @Turno int\nDECLARE @FechaTurno Date\nDECLARE @Fecha Datetime=Getdate()\n\nEXEC PA_FechaTurno_Turno @Fecha, @Turno OUTPUT\nEXEC PA_FechaTurno_FechaTurno @Fecha, @FechaTurno OUTPUT\n\nSELECT  ISNULL(Count(*),0) AS Cantidad\nFROM    Bascula INNER JOIN Lotes ON Bascula.NumeroTransaccion = Lotes.IdLote\nWHERE   Bascula.TransaccionOrigen='LT' And  Bascula.Estado='AC' And Lotes.Operador=3 And FechaTurno=@FechaTurno AND DATEPART(HOUR,FechaLleno)=DATEPART(HOUR,GETDATE())-5\n","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"none","params":[],"x":420,"y":720,"wires":[["d6decc1b.e3086"]]},{"id":"d6decc1b.e3086","type":"function","z":"99424abe.6bb598","name":"Viajes x Hora x Operador","func":"var newMsg={};\n\nnewMsg.payload=msg.payload[0].Cantidad;\nnewMsg.topic='Operador1'\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":720,"wires":[["35221a0d.07f676"]]},{"id":"35221a0d.07f676","type":"mqtt out","z":"99424abe.6bb598","name":"cifpl/produccion/operador/3/hora","topic":"cifpl/produccion/operador/3/hora","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":970,"y":700,"wires":[]},{"id":"f2cbcb48.629b28","type":"MSSQL","z":"99424abe.6bb598","mssqlCN":"a6f39ba0.30c088","name":"","outField":"payload","returnType":0,"throwErrors":1,"query":"SET DateFormat DMY\nDECLARE @Turno int\nDECLARE @FechaTurno Date\nDECLARE @Fecha Datetime=Getdate()\n\nEXEC PA_FechaTurno_Turno @Fecha, @Turno OUTPUT\nEXEC PA_FechaTurno_FechaTurno @Fecha, @FechaTurno OUTPUT\n\nSELECT  ISNULL(Count(*),0) AS Cantidad\nFROM    Bascula INNER JOIN Lotes ON Bascula.NumeroTransaccion = Lotes.IdLote\nWHERE   Bascula.TransaccionOrigen='LT' And  Bascula.Estado='AC'  And FechaTurno=@FechaTurno \n","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"none","params":[],"x":420,"y":780,"wires":[["1d2e2822.890ac8"]]},{"id":"1d2e2822.890ac8","type":"function","z":"99424abe.6bb598","name":"Viajes x Hora x Operador","func":"var newMsg={};\n\nnewMsg.payload=msg.payload[0].Cantidad;\nnewMsg.topic='Operador1'\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":780,"wires":[["2dbf5985.87dad6"]]},{"id":"2dbf5985.87dad6","type":"mqtt out","z":"99424abe.6bb598","name":"cifpl/produccion/operador/notificaciones/1","topic":"cifpl/produccion/operador/notificaciones/1","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":1000,"y":760,"wires":[]},{"id":"8b6d6d1c.549a9","type":"function","z":"99424abe.6bb598","name":"PIE Porcentajes Operadores","func":"var newMsg1 ={}\nvar newMsg2 ={}\nvar newMsg3 ={}\n    \nnewMsg1.payload=msg.payload[0].Viajes\nnewMsg1.topic=msg.payload[0].Descripcion\nnewMsg2.payload=msg.payload[1].Viajes\nnewMsg2.topic=msg.payload[1].Descripcion\n/*newMsg3.payload=msg.payload[2].Viajes\nnewMsg3.topic='INDUMINAS'*/\n\nreturn [newMsg1, newMsg2]\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":680,"y":840,"wires":[["120aad5c.929033"],["b027fdc3.39377"]],"info":"### ## "},{"id":"34b5d2d6.b1bc1e","type":"MSSQL","z":"99424abe.6bb598","mssqlCN":"a6f39ba0.30c088","name":"","outField":"payload","returnType":0,"throwErrors":1,"query":"SET DateFormat DMY\nDECLARE @Turno int\nDECLARE @FechaTurno Date\nDECLARE @Fecha Datetime=Getdate()\n\nEXEC PA_FechaTurno_Turno @Fecha, @Turno OUTPUT\nEXEC PA_FechaTurno_FechaTurno @Fecha, @FechaTurno OUTPUT\n\nSELECT    ISNULL(COUNT(*), 0) AS Viajes, OperadoresMineros.Descripcion\nFROM      Bascula INNER JOIN\n          Lotes ON Bascula.NumeroTransaccion = Lotes.IdLote INNER JOIN\n          OperadoresMineros ON Lotes.Operador = OperadoresMineros.IdOperador\nWHERE    (Bascula.TransaccionOrigen = 'LT') AND (Bascula.Estado = 'AC') AND (Bascula.FechaTurno = @FechaTurno)\nGROUP BY Lotes.Operador, OperadoresMineros.Descripcion\n","modeOpt":"","modeOptType":"query","queryOpt":"","queryOptType":"editor","paramsOpt":"","paramsOptType":"none","params":[],"x":420,"y":840,"wires":[["8b6d6d1c.549a9","409ac7b3.bc48b8"]]},{"id":"120aad5c.929033","type":"mqtt out","z":"99424abe.6bb598","name":"cifpl/produccion/operador/Pie/1","topic":"cifpl/produccion/operador/Pie/1","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":970,"y":820,"wires":[]},{"id":"b027fdc3.39377","type":"mqtt out","z":"99424abe.6bb598","name":"cifpl/produccion/operador/Pie/2","topic":"cifpl/produccion/operador/Pie/2","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":970,"y":860,"wires":[]},{"id":"3c106906.ee5256","type":"mqtt out","z":"99424abe.6bb598","name":"cifpl/produccion/operador/Pie/3","topic":"cifpl/produccion/operador/Pie/3","qos":"0","retain":"","broker":"1c955f16.8c63a1","x":970,"y":900,"wires":[]},{"id":"409ac7b3.bc48b8","type":"debug","z":"99424abe.6bb598","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":700,"y":980,"wires":[]}]